[2015-01-27 22:25] stevendborrelli opened #1 "Package python-docker-py can't be installed"
Repo configuration is not finding this package

[2015-01-29 00:14] #1 closed, assigned to nobody

[2015-01-30 22:31] stevendborrelli opened #11 "Fix resolv.conf being overwritten on boot"

[2015-02-12 16:59] stevendborrelli opened #16 "Mesos & Marathon consul registration do not survive reboot"
When a consul node is rebooted, it does not seem to remember previous manual registrations.

[2015-02-12 20:16] stevendborrelli opened #17 "Change Ansible vars to use OpenStack environment vars"
These values are currently set in inventory/group_vars

[code]

The openstack rc file that is downloadable sets values for environment vars  `OS_AUTH_URL`, `OS_TENANT_ID`, and `OS_TENANT_NAME`.

[2015-02-16 14:47] keithchambers opened #18 "Remove `keithchambers` personal OpenStack settings inventory/group_vars/dc{1-2}"

[2015-02-16 14:49] keithchambers opened #19 "Remove SSH public keys from /roles/common/vars/users.yml"
Not a security issue -- just a code smell.

There needs to be a README explaining how users of this project should manage the keys.

[2015-02-16 14:52] keithchambers opened #20 "Support for multi-dc deployment"
Support for multi-dc deployment is a differentiator.

Consul role supports multi-dc already.

We need to test / update the follow roles to support multi-dc:
- ZooKeeper
- Mesos
- Marathon

[2015-02-16 14:55] keithchambers opened #21 "Standard playbook tags"
For all roles and playbooks define and implement standards for:
- Types of tags  (e.g., config, upgrade, ...)
- Naming convention for tags (e.g., config, consul-config, ...)

When defining our standard let's KISS.

[2015-02-16 14:57] keithchambers opened #22 "Standardize on Ansible task names"
Define standard Ansible task names and update roles / playbooks to the standard:

A possible standard could be:
- verb noun
- all lower case
- state what is happening vs. how it is happening

[2015-02-16 15:07] keithchambers opened #23 "Standardize on variable names"
I shorted some of the variable names in the consul and registrator playbooks as a matter of personal preference.

We should define as a team if we want the short variable names of longer more descriptive and update roles / playbooks so they are uniform across the project.

[code]

vs.

[code]

[2015-02-16 15:08] keithchambers opened #24 "Review playbooks in /playbooks to ensure each adds value"
Review playbooks in /playbooks to ensure each adds value.  I added a bunch over time but maybe 1 or 2 can go now.

[2015-02-16 15:08] keithchambers opened #25 "Provide Vagrantfile"

[2015-02-16 15:11] keithchambers opened #26 "Remove unneeded vars for zookeeper role"
Assign {{ zk_id }} automatically:
e.g., https://github.com/hpcloud-mon/ansible-zookeeper/blob/master/templates/myid.j2

Validate the following are required and remove them from code base if not:

[code]

When we are done the inventory file should look like:

[code]

vs.

[code]

[2015-02-16 15:27] stevendborrelli opened #27 "Fix Openstack hostname issues"
After reboot, nodes are being named hostname.novalocal, which causes issues with both Marathon and Mesos.

We need to investigate how to get consistent naming lookups for the hosts.

[2015-02-16 22:44] stevendborrelli opened #28 "Add Webhook for readthedocs.org"
Deploy docs on every commit

[2015-02-17 17:58] npateriya opened #29 "executor_registration_timeout may need to be tuned further"
Current time out is 5 min, but seems like some docker image pull are taking longer than 5 min. So we may have to increase timeout further, if image pul is consistently taking longer.
cat /etc//mesos-slave/executor_registration_timeout
5mins

[2015-02-17 21:15] #29 closed, assigned to nobody

[2015-02-18 18:14] stevendborrelli opened #30 "Ensure that consul clients are configured correctly"
The current consul role is trying to configure all consul hosts as servers. We need to make sure that clients are correctly configured.

changes for agents:
- [x] remove -server from clients
- [x] no bootstrap-expect
- [x] remove data volume
- [x] clean up bootstrap flags. Only one consul server should be in bootstrap mode

[2015-02-18 18:36] #18 closed, assigned to nobody

[2015-02-18 23:53] stevendborrelli opened #31 "Move provisioner to terraform"
Use terraform for provisioning VMs instead of ansible.
Keep track of https://github.com/hashicorp/terraform/pull/924

[2015-02-19 00:05] #19 closed, assigned to nobody

[2015-02-19 00:07] #17 closed, assigned to nobody

[2015-02-19 00:08] #11 closed, assigned to nobody

[2015-02-19 06:41] npateriya opened #32 "Marathon worker instance size"
Currently using 2 medium instances as marathon worked. So if I create 2 docker instance with 1 vcpu each no resources left for third.
Should we allocate GP2-Large instance instead of Medium  instance for slaves.

[2015-02-19 14:03] BrianHicks opened #34 "Pre-Release documentation tasks"
**Before** the 0.1 release is tagged, the following needs to happen in the docs:

 - [x] `release` in `docs/conf.py` needs to be set to "0.1" instead of "0.1pre"
 - [x] after merging into `development` into `master`, there will be a `CHANGELOG.md` and a `CHANGELOG.rst`. The markdown version should be removed.
 - [x] improve `README.md` to give general introduction and link to full documentation. (

[2015-02-19 21:58] #32 closed, assigned to nobody

[2015-02-20 13:53] #23 closed, assigned to nobody

[2015-02-20 13:54] BrianHicks opened #35 "YAML formatting issues"
The YAML standard is to have a `---\n` as the file header. Some of our files don't have them.

[2015-02-20 15:44] ChrisAubuchon opened #37 "Bad error reporting when environment variables aren't set"
If OS_USERNAME and/or OS_PASSWORD aren't set ansible errors with a python error:

[code]

[2015-02-20 17:26] #37 closed, assigned to nobody

[2015-02-20 19:03] #25 closed, assigned to nobody

[2015-02-20 20:20] #22 closed, assigned to nobody

[2015-02-20 20:20] #35 closed, assigned to BrianHicks

[2015-02-23 12:47] #21 closed, assigned to nobody

[2015-02-24 12:49] #28 closed, assigned to nobody

[2015-02-24 16:32] #24 closed, assigned to nobody

[2015-02-26 05:34] #20 closed, assigned to nobody

[2015-02-26 05:38] #26 closed, assigned to nobody

[2015-02-26 14:42] stevendborrelli opened #41 "Kafka Scheduler role"
Deploy kafka using https://github.com/mesos/kafka

[2015-02-26 14:43] stevendborrelli opened #42 "Proxy + Consul Template"
Provide a dynamic proxy based on consul-template & haproxy or nginx

[2015-02-26 14:44] stevendborrelli opened #43 "Chronos role"
Deploy https://github.com/mesos/chronos via marathon for High Availability.

[2015-02-27 18:14] keithchambers opened #45 "Add authentication for Mesos"

[2015-02-27 18:15] keithchambers opened #46 "TLS for Consul"
TLS for Consul.

This is a little tricky with the current docker-consul image we're using.

[2015-02-27 18:16] keithchambers opened #47 "Manage OS user accounts and SSH keys via Vault + Consul"
Move management of user accounts and SSH keys out of Ansible and in to Consul K/V

[2015-02-27 18:17] keithchambers opened #48 "Add application load balancer"
Add application load balancer for web services:
- HAProxy
- Dynamic configuration of endpoints via Consul + Consul Template
- SSL Support

[2015-02-27 18:20] keithchambers opened #49 "100% self maintaining system"
Control and Compute nodes need to be 100% self maintaining.  If an administrator needs to login it's a bug.

Some areas that will need attention:
    - OS log rotation
    - Purge old containers
    - Healing after a fault

[2015-02-27 18:23] keithchambers opened #50 "Kafka message bus"
Implement Kafka message bus

Should this run on the controller on compute nodes?  It's sort of oxygen for our stack ...

Needs to be self maintaining

We need to consider security aspects

Let's use the bits from Confluent: http://confluent.io/downloads/

[2015-02-27 18:23] keithchambers opened #51 "Push OS logs to Kafka"

[2015-02-27 18:25] keithchambers opened #52 "Push container logs to Kafka"
This this tread for implementations:  https://github.com/gliderlabs/logspout/pull/35

We should add "Shipped Deployment Tag ID", Container ID, Hostname to each log/event.

[2015-02-27 18:27] keithchambers opened #53 "Performance + usage metrics Linux + Mesos + Marathon + Containers"
High level story is that we want the entire system to be well instrumented right out of the box.  This will include:
* Linux host metrics
  * CPU states
    * Per core
    * Average for all cores
  * Memory
  * Disk
    * IO count
    * IO size
    * IO service time (histogram):
      * I'd like the leverage [Brandon Gregs](http://www.brendangregg.com)'s [great work](https://github.com/brendangreg

[2015-02-27 18:27] keithchambers opened #54 "ElasticSearch"
Perhaps via Mesos framework

[2015-02-27 18:28] keithchambers opened #55 "Kibana 4"
Kibana 4 for viewing logs and metrics.

Needs to support authentication.
Multi-tenancy needs to be considered for hosted use-cases.

- This is a FRAMEWORK (tied to the roadmapped Elasticsearch / Logstash frameworks) however may not be configured out of the box to receive logs from the M-I platform.

[2015-02-27 18:29] keithchambers opened #56 "Kafka to ElasticSearch consumer"
To get the logs out of Kafka and in the ElasticSearch

[2015-02-27 18:39] keithchambers opened #57 "Bake VM image in Atlas (Packer)"
Bake VM image in Atlas (Packer)
    - Controller
    - Compute

[2015-02-27 18:39] keithchambers opened #58 "Deploy from Atlas (TF)"
Deploy from Atlas (TF)

[2015-02-27 18:40] keithchambers opened #59 "Support compute autoscaling from Atlas"

[2015-02-27 18:40] keithchambers opened #60 "Immutable rolling upgrade from Atlas (TF)"

[2015-02-27 18:40] keithchambers opened #61 "Multi OpenStack region support in Atlas (TF)"

[2015-02-27 18:41] keithchambers opened #62 "Support cluster auto healing from Atlas (TF)"

[2015-02-27 20:03] stevendborrelli opened #63 "Investigate removing dnsmasq and use consul dns directly"
Instead of going through 127.0.0.0:53 -> consul:8600, let's have consul listen on port 53 and have the resolv.conf point to consul systems:

Tasks:
- [x] update consul role to listen on host port 53 vs. 8600
- [ ] update NetworkManager configuration to use consul servers before dhcp provided servers (`/etc/NetworkManager/dhclient.d`?)
- [ ] remove dns settings from docker role (file: `/etc/default

[2015-03-03 04:10] #34 closed

[2015-03-03 13:38] BrianHicks commented on #45
not yet supported in Mesos, here's the ticket: https://issues.apache.org/jira/browse/MESOS-2297

But it *is* supported in Marathon, and it looks like it is in Consul. So I'll be adding those, as well as framework authentication for Mesos.

[2015-03-03 15:10] BrianHicks opened #65 "Auth setup script"
We should have a crypto setup script to automate all the key setup. Related to #45 and #46.

The usage would be something like this:

[code]

If an update is needed (password change, etc), the user can run `crypto-setup update COMPONENT [COMPONENT...]`

The following needs to be done in this script (from @stevendborrelli):

- [x] mesos leader/follower credentials
- [x] mesos `--authenticate` flag

[2015-03-03 15:28] ChrisAubuchon commented on #30
According to the docs, -bootstrap-expect can be run on multiple hosts. It is the legacy -bootstrap option (which we do not use) that can only be run on one server.

[2015-03-03 16:40] stevendborrelli commented on #65
+1 we need to focus on making it easy to set up security.

[2015-03-03 18:09] keithchambers opened #66 "Move consul out of Docker"

[2015-03-03 18:13] keithchambers commented on #48
dup

[2015-03-03 18:13] #48 closed

[2015-03-03 18:15] keithchambers opened #67 "Add authentication for Marathon"

[2015-03-03 18:15] keithchambers opened #68 "Add authentication for Consul UIs"

[2015-03-03 21:13] stevendborrelli opened #69 "Rename hosts in inventory files"
Host naming is very limited, we can only have 5 hosts in each dc.

Refactor host names so we can provision a large number of hosts in each DC without conflicts.

[2015-03-04 00:42] stevendborrelli commented on #42
@npateriya @keithchambers @dcheperd @BrianHicks
Thoughts on storing shipped app data in consul so that we can update haproxy.

Consul stores every available service, but we only want the shipped proxy to expose shipped applications. What I am proposing is we update the consul K/V store and use those keys to query consul.

For example, user creates app `test-app`, in the consul k/v store we'd store

[2015-03-04 02:06] stevendborrelli commented on #49
Now that we are moving consul out of docker, we can put system-level checks into the consul agent. http://www.consul.io/docs/agent/checks.html

This way we can monitor nodes for disk, memory, etc.

[2015-03-04 13:57] nfo opened #70 "Marathon UI does not start (Vagrant)"
After spawning and provisioning an instance with `vagrant up`, the marathon service does not listen on 8080, and in the Consul UI, the "Service 'marathon' check" is `critical`.

The service is running.

[code]

I can telnet ZooKeeper:

[code]

Every other services start correctly. I tried re-provisioning and rebooting, still no luck. The only change I made in the Vagrantfile is setting 2 CPU cores

[2015-03-04 14:40] stevendborrelli commented on #70
Thank you for the fantastic bug report! Taking a look at it now.

[2015-03-04 14:58] keithchambers commented on #70
2 CPU / 4G RAM worked fine on my Mac this weekend. That part should be fine.

[2015-03-04 15:16] keithchambers opened #71 "Add roadmap to README"

[2015-03-04 15:19] BrianHicks commented on #71
We might want to add a ROADMAP.rst in the top level so it can be included
to in the docs.
On Mar 4, 2015 8:16 AM, "Keith Chambers" <notifications@github.com> wrote:

[2015-03-04 16:19] masonse opened #72 "Add HelloWorld example"
Can you provide a simple HelloWorld type example for someone to use/follow?  A simple MySQL or webserver would suffice.

[2015-03-04 16:34] stevendborrelli commented on #72
Thanks for your ticket, that's a great idea. We'll add marathon example files to the repo in a future release.

For now, you can use some of the examples from the marathon project: https://github.com/mesosphere/marathon/tree/master/examples

[2015-03-04 17:23] stevendborrelli commented on #70
@nfo we reduced the wait time for the zookeeper container to start in https://github.com/asteris-llc/docker-zookeeper/commit/4178754a642072fb678a04667dc23d4b29068e5c. Can you try a

[code]

And see if it works?

[2015-03-04 18:46] keithchambers commented on #72
Perhaps we create a single shell script that queries consul for the marathon endpoints in each datacenter and post a marathon config!

[2015-03-04 19:23] keithchambers commented on #71
I just committed a first cut to the main README to get something out there.  I need to understand a bit more about how we update readthedocs.org.

[2015-03-04 20:14] BrianHicks commented on #71
This repo has a webhook to RTD - any time there's a push to master it rebuilds the docs. Basically, we'd just add `ROADMAP.rst` in the root, and then include it in the `toctree` directive in `docs/index.rst`.

[2015-03-05 15:39] #30 closed

[2015-03-05 16:10] nfo commented on #70
So I did a `vagrant destroy` and `vagrant up`. After the first provisioning, these services fail: "marathon", "mesos-follower" et "mesos-leader".
Running `vagrant provision` does not solve the problem.
So I did a `vagrant halt` and `vagrant up`. Still the same.
Then `vagrant halt` and `vagrant up --provision`, and now we're good !

[2015-03-05 17:13] stevendborrelli commented on #70
Thanks for testing. I'm glad you were able to get it working.

We're going to keep looking at ways to reduce these kind of errors, as our goal is to have the system come up reliably every time, which is making sure the dependency chain of consul->dns->zookeeper->mesos->marathon always works.

[2015-03-05 17:14] #70 closed

[2015-03-05 22:51] keithchambers commented on #72
Something like this ...

$ cat hello-world.json
{
  "container": {
    "type": "DOCKER",
    "docker": {
      "network": "BRIDGE",
      "image": "keithchambers/docker-hello-world",
      "portMappings": [ { "containerPort": 80,"protocol": "tcp"} ]
    }
  },
  "id": "hello-world",
  "instances": 2,
  "cpus": 0.1,
  "mem": 128
}

curl -X POST -H "Content-Type: application/json" http://10.1.2.3:80

[2015-03-05 23:28] masonse commented on #72
Add some comments to the beginning and it looks good.

[2015-03-06 17:10] stevendborrelli opened #76 "Investigate other storage backends for docker"
DeviceMapper is slow on container builds. Investigate alternatives.

[2015-03-06 17:13] #66 closed

[2015-03-06 17:17] stevendborrelli commented on #76
References: http://developerblog.redhat.com/2014/09/30/overview-storage-scalability-docker/

[2015-03-07 22:30] PeterLamar opened #77 "Getting Started"
I completed the getting started, and filled out dc1 for my openstack project. My ansible commands return the below error with users.yml. Did I miss a step?

user@user-VirtualBox:~/Documents/microservices-infrastructure$ ansible all -i inventory/1-datacenter -m ping
host-01 | FAILED => /home/user/Documents/microservices-infrastructure/inventory/group_vars/all/users.yml must be stored as a dictionar

[2015-03-07 23:49] stevendborrelli commented on #77
Thanks for opening the issue. I don't think you did anything wrong. This looks like a bug in the users.yml role.

If you want to proceed until we fix it, please comment out the following line in `roles//common/tasks/main.yml `:

`- include: users.yml`

So that is looks like
`#- include: users.yml`

Please let me know if that helps.

[2015-03-07 23:49] #67 closed

[2015-03-08 19:27] PeterLamar commented on #77
Indeed, that does it. It seems to affect older versions of ansible (1.6.6). I downloaded and started working with dev ansible (1.9) and I don't see it.

[2015-03-08 19:27] #77 closed

[2015-03-08 19:32] keithchambers commented on #77
OK -- yea I was pretty sure I'd tested the users code thourghly prior to release and didn't see this issue.  Do you think it's worth adding a check to make sure the version of Ansible is 1.8 or greater?

[2015-03-08 19:55] keithchambers commented on #77
We could add something like this to the ```users.yml``` playbook:
[code]

[2015-03-08 19:59] PeterLamar opened #79 "Odd connection error"
I get a weird connection error now, let me know if anything jumps out and I'll keep looking at it.

user@user-VirtualBox:~/Documents/microservices-infrastructure$ ansible-playbook openstack/destroy-hosts.yml

PLAY [localhost] **************************************************************

TASK: [verify openstack environment] ******************************************
skipping: [localhost] => (item

[2015-03-08 20:29] keithchambers commented on #79
Do you have ```python-novaclient``` and ```python-keystoneclient``` installed?

Which version are you running of each?

I've had issues with stability when running the latest versions.  These older versions are known to work:
[code]

[2015-03-08 21:47] PeterLamar commented on #79
Created a fresh image of trusty and reinstalled, works fine now. It likely was the versions but perhaps something else. I am working through all the NooB issues at least :)

[2015-03-08 21:47] #79 closed

[2015-03-09 00:39] PeterLamar opened #80 "Ansible is depreciating nova keypair"
Regarding:
https://github.com/CiscoCloud/microservices-infrastructure/blob/master/openstack/provision-nova-key.yml

Ansible is depreciating nova keypair in favor of os_keypair in 1.9

https://github.com/ansible/ansible-modules-core/commit/cae8241ea71abfa5e57f5557bb98448badfbca61

[2015-03-09 01:52] BrianHicks commented on #77
You might add a bit to that message about the version being in
`requirements.txt`. I'm not sure if that's documented yet.

[2015-03-09 13:04] keithchambers commented on #80
Once [Terraform](https://github.com/hashicorp/terraform) supports multiple providers in a single template  and once the [OpenStack provider](https://github.com/hashicorp/terraform/pull/924) is merged we plan to switch from provisioning with Ansible to provisioning with Terraform.

Near term I'm thinking we could add logic like this:
[code]

Thoughts?

[2015-03-09 13:15] ChrisAubuchon commented on #80
Terraform supports the creation of a nova keypair. I think that's where it should be created.

[code]

[2015-03-09 14:03] keithchambers commented on #71
Hey Brian, can you help me to create a list with market items in Sphinx?

- [x] Foo
- [ ] Bar
- [ ] Baz

I've been Googling around for 20 minutes and can't find a solution.

[2015-03-09 14:51] benschumacher commented on #71
Keith-

I'm not sure rST natively supports a checklist, but you could do something like this:

'''
* [x] Foo
* [ ] Bar
* [ ] Baz
'''

I think it would transform fairly cleanly.

[2015-03-09 15:27] BrianHicks commented on #71
@keithchambers try substitutions:

[code]

Here are the docs for: [replacments](http://docutils.sourceforge.net/docs/ref/rst/directives.html#replacement-text), [the unicode directive](http://docutils.sourceforge.net/docs/ref/rst/directives.html#unicode), and [the code points I'm using in that example](https://en.wikipedia.org/wiki/Checkbox#Unicode)

[2015-03-09 15:28] BrianHicks commented on #71
I think you could even make your substitution `| |` and `|x|` if you want to mirror the GFM syntax.

[2015-03-09 16:50] keithchambers commented on #71
Thx! I'll give it a go this afternoon!

[2015-03-09 22:30] bbaassssiiee opened #81 "Feature request: chronos distributed job scheduling"

[2015-03-09 22:32] bbaassssiiee opened #82 "Feature request: support for Apache CloudStack"

[2015-03-09 22:32] BrianHicks commented on #81
@bbaassssiiee thanks for the request! We currently have Chronos on the roadmap for the 0.5 release. You can follow the progress at #43.

[2015-03-09 22:32] #81 closed

[2015-03-09 22:38] stevendborrelli commented on #82
Our plans are to move to terraform for host/network provisioning (as soon as the openstack provisioner is merged in).

It looks like Cloudstack is supported in terraform: https://www.terraform.io/docs/providers/cloudstack/index.html

Would you be interested in helping get a configuration together with Terraform to speed up the integration? I think we might have other cloud backends like AWS & GCE

[2015-03-09 23:13] PeterLamar opened #83 "Feature Request: Two tier web app example"
Data storage is a challenging topic, a basic django app/mysql backend example would be great for the masses

[2015-03-10 07:13] bbaassssiiee commented on #82
Could this help? https://github.com/bbaassssiiee/simstack

[2015-03-10 14:56] keithchambers commented on #83
I agree with @PeterLamar that we need to start thinking of data services.

Ideally our first data service would be Cassandra since it supports multi-dc replication.

I'm wondering if we'd want to run Cassandra on Marathon or as a proper Mesos framework: e.g., https://github.com/mesosphere/cassandra-mesos/tree/rewrite

@stevendborrelli thoughts?

[2015-03-10 15:56] stevendborrelli opened #84 "0.2.0 release testing"
Vagrant:
=======
- [x] consul
- [x] consul-ssl
- [x] dns
- [x] registrator
- [x] zookeeper
- [x] mesos-leader
- [x] mesos-follower
- [x] mesos-auth
- [x] marathon
- [x] marathon auth
- [x] haproxy

Single-DC (OpenStack):
=======
- [x] consul
- [x] dns
- [x] registrator
- [x] zookeeper
- [x] mesos-leader
- [x] mesos-follower
- [x] marathon
- [x] haproxy

Multi-Dc:
=======
- [x] consul
- [x] dns
- [

[2015-03-10 16:28] BrianHicks commented on #45
Closed with #78

[2015-03-10 16:28] #45 closed

[2015-03-10 17:40] PeterLamar commented on #83
You guys are on top of it! I agree that Cassandra is an awesome tool that tells a beautiful story. I personally would love to use Cassandra for everything.

MySQL has 10x the usage though :/

http://db-engines.com/en/ranking

Either way, a data service example would be awesome.

[2015-03-10 17:44] BrianHicks commented on #83
we might be able to deploy [twissandra](https://github.com/twissandra/twissandra) as part of this, being a well-understood example app.

@keithchambers we'll probably want to run the Cassandra framework inside of Marathon when we add it - better HA story.

[2015-03-10 20:04] keithchambers commented on #71
[Committed](https://github.com/CiscoCloud/microservices-infrastructure/commit/ea24915986a2857f5eee944e1d25c0c5cccc35d9) and [verified](http://microservices-infrastructure.readthedocs.org/en/latest/roadmap.html)!  Closing.

[2015-03-10 20:04] #71 closed

[2015-03-11 01:16] keithchambers commented on #82
I've just added Apache CloudStack to the roadmap!

This feature will depend on a few things:
* Migrating this project to use Terraform for provisioning
* Community implement of Terraform templates for CloudStack
* Community testing of Terraform templates for CloudStack

@bbaassssiiee will you be able to help with the implementation and testing?

[2015-03-11 05:43] bbaassssiiee commented on #82
Implementation: no
Testing: I would need to ask

Bassie

[2015-03-11 13:12] keithchambers commented on #80
I agree 100% that we will use Terraform to manage this in the future.  My concern is that TF current doesn't support multiple instances of the same provider. Until it does we can't switch from Ansible to TF -- at least not without removing support for multi-dc which I'd rather not do.

Until we're on TF, does the team feel adding this check promotes user success?

[2015-03-11 13:18] ChrisAubuchon commented on #80
It does have limited support for multiple instances of the same provider using modules. You can't do things like create control nodes in one dc and compute nodes in the other but what we can do is create an entire environment in multiple data centers. Something like this:

[code]

[2015-03-11 21:32] stevendborrelli commented on #42
Merged into 0.2-dev.

[2015-03-11 21:32] #42 closed

[2015-03-12 19:25] stevendborrelli opened #85 "Implement Consul ACLs"
Create a role to set up initial Consul ACLs

references:
http://www.consul.io/docs/internals/acl.html
http://www.consul.io/docs/agent/http/acl.html
http://python-consul.readthedocs.org/en/latest/#example-uses
https://www.mauras.ch/securing-consul.html

[2015-03-12 22:26] keithchambers commented on #53
I just had a hallway conversion with @matjohn2 about this.  We are thinking:
* Use collectd
* Run plugins in Docker containers
* Use [gliderlabs/alpine](https://registry.hub.docker.com/u/gliderlabs/alpine/) as the base image
* Favor histograms over 1 dimensional metrics

[2015-03-13 02:03] matjohn2 commented on #65
Could this just 'happen' instead of being a script that needs running/input? Secure by default seems like an even better path for usability.

[2015-03-13 02:17] brucemartins commented on #53
Have you thought of using hekad over collectd? Does both metrics and log streaming and written in GO

[2015-03-13 02:56] keithchambers commented on #53
I have not!  I'll look now.  Are you running hekad in production?

[2015-03-13 12:12] BrianHicks commented on #65
We're doing it this way to avoid using default passwords. This will make it as easy as possible to set up security without leaking secrets.

[2015-03-13 15:40] brucemartins commented on #53
We are using it, technically the service isn't live yet, but just thought I would share some of the things we use or have looked at.. look for an invite soon

[2015-03-13 16:36] stevendborrelli opened #86 "ZK authentication"
Add auth/acls to zookeeper

[2015-03-13 17:00] keithchambers opened #87 "Move management of secrets out of Ansible"
Move management of secrets out of Ansible to facilitate migration to HashiCorp Atlas.

Requirements:
* Create a design documentation prior to implementation
* Must include all secrets, keys, certificates or system and user accounts

Miscellaneous notes and considerations:
* The current thinking to move secrets from Ansible to consul with consul-template
* How will we expose secret management with

[2015-03-13 17:02] keithchambers opened #88 "Comprehensive security design and documentation"
We need to create a holistic design document for microservices-infrastructure project.

The design document needs to include both system level and user level authentication / authorization and encryption.

Below are some high level notes compiled from research and offline conversations:

System level:

* Need to generate all these for each system before initial deploy
  * Automatically called by A

[2015-03-13 17:49] PeterLamar commented on #72
Close? We have a hello world example now

[2015-03-13 17:50] PeterLamar commented on #83
I am trying to spin up a mysql db. It starts and then just dies, and I don't know have to access the logs. Any ideas?

Hello-mysql.json

{
   "container":{
      "type":"DOCKER",
      "docker":{
         "network":"BRIDGE",
         "image":"mysql",
         "volumes":[
            {
               "containerPath":"/var/lib/mysql",
               "hostPath":"/var/lib/mysql",
               "mode"

[2015-03-13 17:51] #80 closed

[2015-03-13 19:56] keithchambers commented on #80
@progrum is implementing this feature in Terraform!

[2015-03-13 21:37] PeterLamar opened #89 "No Mesos debug info on Openstack deployment"
I get this:

![screen shot 2015-03-13 at 2 30 24 pm](https://cloud.githubusercontent.com/assets/5984638/6647697/6e5d0f0a-c98e-11e4-9c29-9d171249ecdc.png)

And I was hoping for this:

http://dw8zztroqvu2r.cloudfront.net/assets/learn/debugging/mesos-console-slave-a451a156c6727fc96bd6502275c34787.png

[2015-03-13 21:44] stevendborrelli commented on #89
From the screenshot it looks like:

- no master is elected
- none of the followers have registered as compute resources

We may have to look at a few things to figure out what is going on.

Can you make sure:

1) that zookeeper is running on the control nodes
2) That mesos components can resolve each other's IPs

Log files for both masters and slaves are in `/var/log/mesos`.

[2015-03-13 22:52] PeterLamar commented on #83
Hmm, logs:

E0312 22:02:17.386908  4526 slave.cpp:2344] Failed to update resources for container 5b923266-7052-4d8f-a996-3f8c4c885bfe of executor mysql.71267cdd-c903-11e4-94f5-46d4b8ddf076 running task mysql.71267cdd-c903-11e4-94f5-46d4b8ddf076 on status update for terminal task, destroying container: Failed to determine cgroup for the 'cpu' subsystem: Failed to read /proc/30154/cgroup: Failed to

[2015-03-14 17:47] keithchambers commented on #76
Atomic uses direct-lvm by default.  Atomic is RHEL based so we should be able to leverage their investment:

* [Here](http://www.projectatomic.io/docs/docker-storage-recommendation/) is the Atomic documentation for managing storage.
* [Here](https://github.com/projectatomic/docker-storage-setup) is their helper script that manages setup/configuration.

[2015-03-15 14:20] PeterLamar commented on #89
Found the logs, thanks! I'll return to the UI later, there is plenty of debugging to do at /var/log/mesos.

[2015-03-15 14:20] #89 closed

[2015-03-15 17:05] stevendborrelli opened #90 "Move consul to install via rpm"
There looks to be a pretty solid RPM spec for consul at https://github.com/tomhillable/consul-rpm.git. Let's get rid of the manual install in the consul role and replace it with an rpm.

- [x] fork and make any changes needed to upstream package repo
- [x] upload rpm to bintray (I have an account set up)
- [x] consul role: change tasks to install rpm
- [x] consul role: change data directory to `/v

[2015-03-15 18:10] stevendborrelli commented on #90
Uploaded basic packages to https://bintray.com/asteris/rpm/consul/0.5.0/view

[2015-03-16 15:46] ChrisAubuchon commented on #90
Moved to RPM install

[2015-03-16 15:46] #90 closed

[2015-03-16 23:54] stevendborrelli commented on #65
When security is set up, these are the items that will need to be changed:

- [ ] Create Self-signed TLS certs (this script)
- [ ] mesos leader/follower credentials (this script)
- [ ] mesos `--authenticate` flag (if credential is set)
- [ ] mesos `--authenticate_slaves` flag (if credential is set)
- [ ] consul acl_master token (this script)
- [ ] consul gossip key (this script)
- [ ] consul acl_d

[2015-03-17 01:26] BrianHicks commented on #65
I've added the relevant items to the description up top. I'm also going to change this to be noninteractive for now. It'll generate and store nicely random internal passwords and keys just fine without any user input.

[2015-03-17 07:09] keithchambers commented on #88
Comments on Steve's new [security document](https://github.com/CiscoCloud/microservices-infrastructure/blob/0.2-dev/docs/security/security.rst):

* Overall the new security doc looks great.

* Generally speaking how do you feel about our ability to secure the platform against unauthorized remote execution?  You might add a little commentary in this area.

* "Disable consul exec (version 0.2)”: It

[2015-03-18 21:17] stevendborrelli commented on #88
1) From what I see the main vectors to running tasks are the mesos leaders, marathon (and any other unsecured frameworks), docker http client and consul exec. I think we can reasonably lock those down for uses behind a firewall. Mesos probably has the weakest controls now, we can put nginx in front of the others and disable consul exec.

2) For consul exec, I don't really understand the security m

[2015-03-19 10:13] keithchambers commented on #61
I'm going to close this issue since it's not a gap in this project -- more of a blocking issue for migrating to Terraform.

Jeff Lindsey is working to add this capability to Terraform.

[2015-03-19 10:13] #61 closed

[2015-03-19 10:14] keithchambers commented on #50
Our plan is to use https://github.com/mesos/kafka

[2015-03-19 15:46] stevendborrelli commented on #86
User accounts to add when security is enabled:
- mesos
- marathon

ACL configuration for 0.2 release
- `/mesos` r for world:anyone
- `/marathon` r for world:anyone
- `/mesos `  cdraw for mesos user
- `/marathon` cdraw for marathon user

[2015-03-19 20:06] keithchambers commented on #65
+1

[2015-03-20 18:44] keithchambers commented on #53
Cool. Let's chat soon Bruce!  :-)

[2015-03-20 19:17] #72 closed

[2015-03-22 00:13] keithchambers opened #91 "Move Consul TLS directory creation out of Ansible and in to RPM install"
This code block should move in to RPM install:

[code]

https://github.com/CiscoCloud/microservices-infrastructure/commit/ef5c4e168fa406f21ae7851ae9defdf017cbfa38

[2015-03-22 00:21] ChrisAubuchon commented on #91
This will go away when auth-setup creates the self aimed certificates.

[2015-03-22 00:23] keithchambers opened #92 "Move consul RPM repo to https://bintray.com/ciscocloud"

[2015-03-22 00:26] keithchambers opened #93 "Install consul-ui on consul server nodes?"
I noticed we install consul-ui on consul server and client nodes.  I'm thinking we only want to install consul-ui on consul server nodes.

I'll tag this as a `question` for now but if the team agrees let change this to an `enhancement`.

[2015-03-22 00:28] keithchambers commented on #69
Is this still an issue?

[2015-03-22 00:32] stevendborrelli commented on #69
Yes.

Any good naming schemes? We could do ctl-X and compute-X

[2015-03-22 00:35] keithchambers commented on #46
... a little easier now that we aren't running in the docker-consul container.

[2015-03-22 00:46] keithchambers commented on #69
To make sure I'm following -- do you mean that it's not easy to deploy multiple microservices-infrastructure clusters in to the same OpenStack project because the host names would overlap?

Can you think of a simple way to solve this in Ansible?

My hope is that we can avoid predefined host names all together when we move to Terraform.

[2015-03-22 00:47] keithchambers opened #94 "Add consul RPM packaging code to CiscoCloud GitHub Organization"

[2015-03-22 00:51] stevendborrelli commented on #93
I think it's a bug. It should only be on servers.

[2015-03-22 01:01] stevendborrelli commented on #69
Right now in our example inventory files, we have host-01 to host-03 as management nodes, and host-04,5 as compute nodes. DC2 starts with host-06, so if you want to have more than a couple of compute nodes in DC1, you will have interleaving hostnames with DC2.

[2015-03-22 01:08] keithchambers commented on #93
OK I've switched the tag to `bug` and added it for 0.2.

[2015-03-22 01:31] keithchambers commented on #83
@PeterLamar are you still working on this enhancement?

[2015-03-22 01:47] npateriya commented on #83
@PeterLamar one of sample mysql marathon json that we are deploying on ms-infra. Refer env section, I suspect root password env not set on container leading to crash . Below does not have volume mount though.
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "mysql",
      "network": "BRIDGE",
      "portMappings": [ { "containerPort": 3306, "protocol": "tcp"} ]
    }
  },
  "i

[2015-03-22 02:02] keithchambers commented on #84
I've just tested a fresh deploy from dev-0.2 for multi-dc.  Everything comes up fine but HAProxy doesn't listen on any port.  I assume we want it listening on 80 and 443?

[2015-03-22 02:03] keithchambers commented on #84
Vagrant up failing on dev-2.0:

[code]

[2015-03-22 02:26] keithchambers commented on #84
Tested fresh deploy from dev-0.2 for 1-datacenter. Everything comes up fine.

[2015-03-22 18:58] keithchambers commented on #83
@BrianHicks I definitely want to add a Cassandra framework in the future.

[2015-03-22 20:46] PeterLamar commented on #83
@npateriya Thanks! I managed to get it working with a json almost the same as yours.

@keithchambers I am working on it, slowly though

[2015-03-22 21:19] keithchambers commented on #57
[This](https://github.com/riywo/mesos-ceph) repo could be a good resource when the time comes.

[2015-03-22 21:20] keithchambers commented on #58
[This](https://github.com/riywo/mesos-ceph) repo could be a good resource when the time comes.

[2015-03-22 22:05] keithchambers commented on #69
You can get around this problem by changing the name of the hosts in dc2 so there is no overlap.  I can see how this becomes complicated at scale and exposes oppertunity for operator error.

I'll mark this as an enhancement.

[2015-03-22 22:19] keithchambers commented on #84
Now `vagrant up` is working on the latest dev-0.2.  Fix by https://github.com/CiscoCloud/microservices-infrastructure/commit/4cee48fd8e316759905680e09766ba89c886763f.

[2015-03-22 23:37] keithchambers commented on #83
@PeterLamar no rush. :+1:

[2015-03-23 03:16] stevendborrelli commented on #86
ACLs & auth implemented. This is ready for testing.

[2015-03-23 03:17] stevendborrelli commented on #92
This is addressed in 0948cb8125f9825125e4f2aad06b370d60894918. Please test.

[2015-03-23 03:37] stevendborrelli commented on #93
Fix in https://github.com/CiscoCloud/microservices-infrastructure/commit/58ea198. Initial tests seem good, but keeping this open for further testing.

[2015-03-23 03:45] stevendborrelli commented on #86
Testing:

[code]

[2015-03-23 15:55] matjohn2 commented on #57
I'm currently looking at creating a build pipeline with packer/atlas from our current master branch. The idea is to produce output images based on whatever is currently in ansible for a given build.

There will be two output images: microservices_master and microservices_compute.

Future dependancies on ansible are not explicit, it just allows me to try this out without the added work of re-factor

[2015-03-24 11:43] #94 closed

[2015-03-24 11:43] #92 closed

[2015-03-24 11:53] keithchambers commented on #88
I'm going to close this issue since we will be merging dev-0.2 in to master any day.  We can iterate on security design documentation as needed going forward. Great job Steve!

[2015-03-24 11:53] #88 closed

[2015-03-24 12:57] BrianHicks commented on #65
merged into 0.2-dev

[2015-03-24 12:57] #65 closed

[2015-03-24 13:21] ChrisAubuchon opened #95 "auth-setup: OpenSSL returns success on a failing certificate"
OpenSSL returns 0 when verifying an invalid certificate.

[code]

[2015-03-24 19:54] tdeckers opened #97 "openstack/provision-image.yml appears missing."
The [documentation](http://microservices-infrastructure.readthedocs.org/en/latest/getting_started/openstack.html) refers to openstack/provision-image.yml, but it's not in the source tree.

[2015-03-24 22:29] BrianHicks opened #99 "auth-setup: openssl has to prompt user"
OpenSSL prompts user for state, organization unit, etc. Instead, these should be flags so that the command can be run interactively.

[2015-03-24 23:24] #95 closed

[2015-03-24 23:25] #99 closed

[2015-03-25 20:44] stevendborrelli commented on #93
Marking as closed.

[2015-03-25 20:44] #93 closed

[2015-03-25 20:50] stevendborrelli commented on #46
@ChrisAubuchon can we close this issue?

[2015-03-26 01:51] stevendborrelli opened #100 "Move .consul domain to a var"
Instead of hardcoding .consul for dns lookups, make it a var

List of roles that use .consul dns for local lookup:
- [ ] dnsmasq
- [ ] consul
- [ ] zookeeper
- [ ] mesos
- [ ] marathon

[2015-03-26 12:57] tdeckers opened #103 "Ansible version documentation"
I've had some issue running the deployment using ansible 1.8.4 (error with host_vars usage, etc.).  With 1.9.0.1 (latest today) everything works smoothly.  Would be good to indicate which version of ansible the team uses to validate/test.

[2015-03-26 13:02] ChrisAubuchon commented on #103
1.8.4 here. What issues are you seeing?

[2015-03-26 13:07] tdeckers commented on #103
[code]

At that time I was troubleshooting another issue, and running a playbook against a single host.  So it's possible that it's a combination of things.

[2015-03-26 14:11] stevendborrelli commented on #86
Mesos auth tested successfully.

At the current time, it doesn't look like marathon uses credentials when talking to ZK https://github.com/mesosphere/marathon/issues/1336.

We're not going to let this block 0.2, but open another issue for marathon ACL support and try to get Marathon updated. The ACL for marathon is deployed, but world has full perms (which is the default zk setting):

Example:

[c

[2015-03-26 14:11] #86 closed

[2015-03-26 14:13] stevendborrelli opened #104 "Marathon ZK Authentication & ACL support"
This is in reference to #86 and marathon issue:  https://github.com/mesosphere/marathon/issues/1336

- [ ] Add credential support to Marathon
- [ ] modify ACL to remove all perms but 'r' from /marathon znode

[2015-03-26 14:33] tdeckers commented on #103
Here's one of the other changes I noticed with this new version.
One the controller nodes, first mesos gets installed.  No specific version is defined, so we get the latest.  It also seems to bring in marathon 0.8.1, the latest version.  Next, marathon is installed and a specific version is specified: 0.7.6.  Somehow it appears that ansible 1.8.4 didn't correctly downgrade marathon to 0.7.6.  With

[2015-03-26 14:35] stevendborrelli commented on #103
@tdeckers we removed the 0.7.6 hardcoding in the 0.2-dev branch (which we are merging into master today). 0.8.1 rpms were not available when we cut 0.1, and we had issues with 0.8.0.

[2015-03-26 14:52] tdeckers commented on #103
Cool.  For this issue, if you're validating with ansible 1.8.4, then there must be something else on my side that I'm messing up.  Feel free to close this issue.  I'll validate later with a fresh install and if I run into the same issues I'll reopen, and we can work on it then. Thx.

[2015-03-26 20:34] stevendborrelli commented on #16
We moved to using a local file to register. Closing.

[2015-03-26 20:34] #16 closed

[2015-03-26 20:43] #46 closed

[2015-03-26 21:42] stevendborrelli opened #106 "Move ZK container to Alpine Linux from Centos"
Tracking issue for changes in https://github.com/asteris-llc/docker-zookeeper.

Reduce container size from 580MB->190MB by moving to Alpine Linux as a base.

[2015-03-26 22:00] keithchambers commented on #106
:+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1::+1:

[2015-03-27 02:55] #68 closed

[2015-03-27 02:56] stevendborrelli commented on #68
Merged into 0.2-dev

[2015-03-27 03:14] keithchambers opened #108 "Authentication in Vagrant Environments"
NOTE that this issue has morphed -- which is fine. The original issue is now solved.

[code]

[2015-03-27 03:16] stevendborrelli commented on #108
Let me try to duplicate the error.

[2015-03-27 03:27] stevendborrelli commented on #108
We need to have the same check as in site.yml to make sure that auth-setup is called before running vagrant up (or have it run as part of bringing up the VM).

[2015-03-27 03:39] keithchambers commented on #108
I wonder if we should have this come up with no-auth on Vagrant?  How much rework is required?

[2015-03-27 04:54] ChrisAubuchon commented on #91
/etc/consul/ssl moved to the consul rpm via https://github.com/CiscoCloud/microservices-infrastructure/commit/b5816e32c9f7bcc87db3fb6b6b7cae866b5adf2a

[2015-03-27 04:54] #91 closed

[2015-03-27 05:23] keithchambers opened #109 "Ease of use enhancements for auth-setup"
It would be much simpler to digest security.json is it has a format similar to this:
[code]

[2015-03-27 12:53] BrianHicks commented on #108
I've addressed this is 70d9925 - it would have been great to have the script run automatically, but apparently Vagrant ships with it's own version of OpenSSL so shelling out to it from the script fails.

Leaving open to discuss @keithchambers no-auth suggestion. My opinion: it's simple enough to require the users to run a script, and it results in a secure-by-default state.

[2015-03-27 13:35] keithchambers opened #110 "Mesos UI does not require authentication to view"

[2015-03-27 13:37] keithchambers opened #111 "Consul UI unavailable"
https://<address>:8500 returns an error

[2015-03-27 13:38] ChrisAubuchon commented on #111
Use :8700 for the /ui/. The UI is blocked on 8500.

[2015-03-27 13:43] keithchambers commented on #111
Thanks Chris. I see.

Could we change consul-ui to listen on some other port so that Nginx can proxy on the standard 8500?

[2015-03-27 13:51] keithchambers commented on #108
I recommend we tweek our implementation so we can maintain our simple "vagrant up".

I like the idea of no-auth for the Mesos, Marathon, Consul UIs for vagrant dev environments because it's simpler for dev users. Security is less important in these local dev sandboxes.

[2015-03-27 13:53] keithchambers opened #112 "Need to update example/hello-world to support Marathon auth"

[2015-03-27 14:18] keithchambers commented on #109
Let's assume these are true if ```"principal": "marathon"``` and ```"principal": "follower"``` have secrets defined:

[code]

[2015-03-27 14:20] keithchambers commented on #109
Is ```"security_enabled": true,``` required?

[2015-03-27 14:30] keithchambers commented on #111
Hmmm 8700 is not working for me either with Vagrant or OpenStack.

[2015-03-27 14:33] ChrisAubuchon commented on #111
Are you using https?

I'm testing a fix that will put /ui/ on 8500.

[2015-03-27 14:35] keithchambers opened #113 "Automatically redirect http requests to https"
From a usability perspective it would be nice if we automatically redirected http requests to https.

Let's consider this for 0.2.

[2015-03-27 14:46] tdeckers opened #114 "Multi-datacenter deployment on CCS"
I need some guidance on multi-DC setup on Cisco Cloud.  I've read the docs [here](microservices-infrastructure/docs/getting_started/openstack.rst), but I'm missing a few details.

According to the doc, I create a private network and use a router to connect to the internet. This of course works for fetching *from* the internet, but how does this for example allow consul servers from two data center

[2015-03-27 15:01] maier commented on #108
Running `./auth-setup` prior to the first invocation of `vagrant up` doesn't add significant friction. But, it seems it would offer several tangible benefits.

* Ensures security isn't a 2nd class citizen.
* If the environment is secure by default, even in dev, it  makes configuring other components less complex (fragile). e.g. automatically redirecting to https, only having to describe access/usa

[2015-03-27 15:57] keithchambers commented on #114
@tdeckers

You're right.  I just skimmed through the [documentation](https://github.com/CiscoCloud/microservices-infrastructure/blob/master/docs/getting_started/openstack.rst) and it's missing a key piece of information: [```site.yml```](https://github.com/CiscoCloud/microservices-infrastructure/blob/master/site.yml) provisioning the hosts for you

Let me know if this works for you:  ```ansible-pl

[2015-03-27 16:14] tdeckers commented on #114
I did get site.yml to provision my hosts, but this is more a question about IP connectivity between the data centers.  I assume from your answer that I have to first ensure networks in both data centers are setup in such a way that hosts can access each other.  The documentation mentions creating a private network in the 10.x.x.x range. So this means I have to either associate floating IPs or conf

[2015-03-27 17:26] stevendborrelli commented on #114
In general, network connectivity is required between the DC's, whether that is an internal network, routing through a VPN or via public IPs.

For out testing environment, we are on public subnets, so we are using security groups to limit access only at a subnet level.

I think this is a good place to improve our documentation. Tools like terraform can provision security groups and networks, so we

[2015-03-27 17:40] tdeckers commented on #114
Just spoke with Keith about this, and indeed - for the current version, I'll provision hosts on the public network (public-floating-60x).  The documentation can be optimized to highlight this.
For later versions it would be good to support deployment of hosts on a private network with explicit exposure of application endpoints as required.

[2015-03-27 17:52] keithchambers commented on #111
Yea I was testing with https.

[2015-03-27 19:50] BrianHicks commented on #109
I assume you're asking if it would be more digestible for humans? I'm not sure that nesting that deeply would help, actually. While we're using Ansible, it would also make it much harder to consume, since the way Ansible consumes YAML will overwrite keys instead of merging them. So, for example, if we had some default somewhere in the `system.mesos` key we'd also have to override it in `security.j

[2015-03-27 19:52] BrianHicks opened #115 "mesos_authenticate_followers and mesos_authenticate_frameworks should be automatically generated"
See @keithchambers' comment on #109.

Something like (pseudocode here):

[code]

[2015-03-28 14:12] maier commented on #112
Would you prefer automated, as in if security.json exists, or command line parameters for user and password (e.g. -u and -p) or both (automate and -u/-p override if supplied)?

[2015-03-28 17:28] keithchambers commented on #112
Hey Matt!

We love all ideas that make like easier for users. :+1:

Just command line parameters for user and password (e.g. -u and -p) for [```launch.sh```](https://github.com/CiscoCloud/microservices-infrastructure/blob/master/examples/hello-world/launch.sh) makes sense for now.

The ```security.json``` concept is brand spanking new and we will probably make changes to the structure of the JSON

[2015-03-28 17:56] keithchambers commented on #109
@BrianHicks

I'm good with alphabetical sorting for now so that it's more digestible for our users.

Since we are optimizing for Ansible a bit let's stick with the standard YAML.

Cool?

Here is some code from another project where we did some fancy sorting YAML that might be helpful:  https://gist.github.com/keithchambers/4f9e2b2618cb2ecf4085

[2015-03-28 22:10] keithchambers commented on #108
@maier fair points about security in dev.  I can get on board with the idea that security should exist in dev so that it's more closely mirrors production.

I just looked at your commit https://github.com/maier/microservices-infrastructure/commit/19fb9773dc72d2c8bb44b2de7d257374adddd63f where to favor the settings in `security.json` over the static `admin`:`vagrant` values for UI authentication.

[2015-03-28 22:21] keithchambers commented on #114
@tdeckers [This](https://github.com/hashicorp/consul/pull/816) Consul pull request would resolve the WAN gossip advertisement limitation I was eluding to on the phone yesterday.

[2015-03-29 03:19] maier commented on #108
I personally prefer either to XML. Currently, the vast majority of configuration files are already YAML for Ansible (as was mentioned in #109). Given that coupled with striving for the lowest level of friction, it makes sense to me personally, to leverage YAML across the board for persisted configurations. Coherence in manner and method of configuration seems like it would be a win.

[2015-03-29 04:15] maier commented on #108
Re-reading the README "getting started" section. Keeping in mind to make things as simple as possible, yet also maintaining coherence. It would seem there are a few options (each with drawbacks):

1. Have `auth-setup` use `admin:vagrant` as the default credentials.
1. Have users reference `security.(json|yaml)` to retrieve correct credentials.
1. Have Vagrantfile load, change, and save the securit

[2015-03-29 19:29] #112 closed

[2015-03-29 20:30] keithchambers commented on #111
Fixed.

[2015-03-29 20:30] #111 closed

[2015-03-29 22:47] keithchambers commented on #113
This works for Consul now.  Thank you @ChrisAubuchon.

@ChrisAubuchon You mentioned there was an issue with Marathon and HTTPS on the phone the other day.  Did I hear correct? Is there an issue logged against Marathon? If it's a hard limitation of Marathon, should we redirect calls to https://*:8080 to http://*:8080 ?

[2015-03-29 22:53] ChrisAubuchon commented on #113
The limitation is that the current release of marathon doesn't allow for selecting the IP address that it listens on. It will always bind at *:{port}. I suppose we could have it listen on 8081 (or something) and then forward from https://8080->http://8081 but that isn't really secure.

[2015-03-30 00:11] keithchambers commented on #113
It would be secure from the server to the client -- correct?

    ----------------                         ----------------------------------------------
    |    client    |                         |                    server                  |
    |              |                         |                                            |
    |  [  curl  ]  | ----- 8080 https ---->  |  [ nginx ] ---

[2015-03-30 00:15] ChrisAubuchon commented on #113
There is nothing to stop the client from connecting directly to 8081 in that scenario. At that point we're relying on security by obscurity.

[2015-03-30 00:21] keithchambers commented on #113
OK I see.  Is there an GitHub issue opened against Marathon?  Is it something trivial where we can submit a PR?

Perhaps this is something @kensipe can help us drive.

[2015-03-30 00:24] ChrisAubuchon commented on #113
The fix is already in the marathon code tree via https://github.com/mesosphere/marathon/commit/7608bc2f4c86442d69c50a22a3c687b3e6d017ed. It was committed after the 0.8.1 release though.

[2015-03-30 01:03] keithchambers commented on #113
I gotcha.

What are our other options?

Use Nginx for SSL on port 8080 and use the OS firewall to block port 8081?

Or we could redirect requests to https:8080 to http:8080?

[2015-03-30 01:09] stevendborrelli commented on #113
Another option is to create another JKS ssl key and use it until the next release of Marathon is out.

[2015-03-30 02:51] ChrisAubuchon commented on #113
Of the two I'd rather go with nginx on 8080 and firewall'd 8081.
* It is closer to our desired end state of a public:8080->localhost:8080 proxy
* We can use our nginx-consul container to manage the nginx configuration and the users

[2015-03-30 03:49] keithchambers commented on #113
@ChrisAubuchon sound good.

Should I open another issue or do you want to use this issue to track it?

[2015-03-30 04:52] keithchambers commented on #109
[code]

[2015-03-30 13:39] keithchambers opened #120 "Update Controller Node and Compute Nodes docs and diagrams for 0.2"
The diagrams on our [GH landing page](ttps://github.com/CiscoCloud/microservices-infrastructure) are likely outdate with the changes we have made for 0.2.

The originals are available at: https://github.com/CiscoCloud/microservices-infrastructure/blob/master/docs/_static/diagrams.key

[2015-03-30 13:42] keithchambers opened #121 "Proposal: Rename Compute Node to Resource Node"
Given our future plans to use persistent storage with Mesos I propose renaming `Compute Node` to `Resource Node`.

In Mesos speak offers are known as `resource offers`.

[2015-03-30 14:23] keithchambers commented on #103
Closing per @tdeckers request.

[2015-03-30 14:23] #103 closed

[2015-03-30 18:25] keithchambers commented on #108
Steve and I discussed extending `auth-setup` to prompt the user for an admin account password. This should make the situation less confusing the for the user since they pick the password themselves. Once this change is committed I'd remove the password overwrites from `Vagrantfile` and update the README.

[2015-03-30 20:50] stevendborrelli commented on #120
Do you have the updated .key files? I can update this.

[2015-03-31 01:12] stevendborrelli opened #122 "Networkmanager removing 127.0.0.1 from /etc/resolv.conf"
If dnsmasq is running outside of NetworkManager, the 127.0.0.1 entry in /etc/resolv.conf is removed.

[2015-03-31 01:17] stevendborrelli opened #123 "Error: variables: 'nginx_admin_password_encrypted' is undefined"
Trying to run a build off master and getting this error:

TASK: [nginx | set admin password variable] ***********************************
fatal: [host-03] => One or more undefined variables: 'nginx_admin_password_encrypted' is undefined

[2015-03-31 01:19] stevendborrelli commented on #123
Looks like Chris may have addressed this with https://github.com/CiscoCloud/microservices-infrastructure/commit/2f808f457004ddcd9a54d29beaac3df6d4b27231

[2015-03-31 02:18] keithchambers commented on #123
Probably my bad. :-(

[2015-03-31 13:49] keithchambers commented on #123
Fixed on master with https://github.com/CiscoCloud/microservices-infrastructure/commit/d23b5c0402a22142e885e29e2dd7e9838d7b01ae.

It's probably time that we get religious about about using PRs with automated testing. :-)

[2015-03-31 16:30] stevendborrelli commented on #113
@ChrisAubuchon can we close this issue?

[2015-03-31 16:37] keithchambers commented on #109
Steve and I had a offline conversation yesterday.  We decided for the 0.2 tagged release we will:

1. Switch back to YAML from JSON for the `security` file.
2. Use a single unified password for the`admin` account across Consul, Marathon, and Mesos
3. Prompt the user for `admin` account password during `auth-setup`.  This will KISS for our Vagrant users.
4. Use Nginx to secure Mesos UI access on po

[2015-03-31 16:39] ChrisAubuchon commented on #113
Is there anything else besides consul and marathon that we want to use https for?

[2015-03-31 16:47] stevendborrelli commented on #113
We need to protect the mesos leader and follower endpoints (ports 5050, 5051). The challenge there is protecting the endpoint without interfering with communication between the nodes.

[2015-03-31 22:10] stevendborrelli opened #125 "Move nginx Encryption into auth-setup"
Currently the nginx admin password is encrypted via bcrypt in a couple of tasks in the nginx role. We're going to move the creation of the password into auth-setup.

- [x] add bcrypt requirement to requirements.txt
- [x] update auth-setup to bcrypt password nginx_admin_password_encrypted
- [x] clean up nginx admin password creation tasks in nginx/tasks/main.yml

[2015-03-31 22:28] keithchambers commented on #125
And we need to remove:

[code]

[2015-04-01 23:02] stevendborrelli commented on #125
passlib has issues on my OS X, should we import bcrypt instead?

[2015-04-01 23:06] BrianHicks commented on #125
what issues are you having?

[2015-04-01 23:14] stevendborrelli commented on #125
Maybe I was calling it wrong:
[code]

[2015-04-02 10:09] Y4Rv1K opened #127 "TASK: [nginx | deploy tls files] failed"
Latest release failed at vagrant

After vagrant up I got:

    TASK: [nginx | deploy tls files] **********************************************
    failed: [default] => (item={'dest': '/etc/nginx/ssl/nginx.cert', 'src': 'ssl/certs/nginx.cert.pem'}) => {"details":       "invalid literal for int() with base 8: 'u=r'", "failed": true, "gid": 0, "group": "root", "item": {"dest":    "/etc/nginx/ssl/ngin

[2015-04-02 12:05] BrianHicks opened #128 "auth-setup refinements"
From Keiths' comments on #108 and #109:

 - [x] switch from JSON to YAML in the `security` file
 - [x] use a single unified password for the `admin` account across Consul, Marathon, and Mesos
 - [x] Prompt the user for `admin` account password during `auth-setup`.

[2015-04-02 12:06] BrianHicks commented on #128
@keithchambers @stevendborrelli any other refinements y'all discussed?

[2015-04-02 12:15] BrianHicks commented on #128
prompt in be5060e8ef8cd29bf11d792ea886136707f7a823

[2015-04-02 12:34] Y4Rv1K commented on #127
Works after ansible upgrade from version 1.7.1 to latest

Looks like bug in ansible https://github.com/ansible/ansible/issues/7839#issuecomment-49311909

Would be nice to have "Software requirements" for toolset to README.md

[2015-04-02 12:36] BrianHicks commented on #127
@Y4Rv1K it is documented (in [requirements.txt](https://github.com/CiscoCloud/microservices-infrastructure/blob/master/requirements.txt)) but it definitely could be clearer. I'm reopening this as a doc bug.

[2015-04-02 12:40] BrianHicks commented on #128
`auth-setup` has now grown a `--change-admin-password` flag as well. Does what it says on the tin.

[2015-04-02 12:42] Y4Rv1K commented on #127
Thank you. Would be nice for lazy ops like me :)

[2015-04-02 12:55] #127 closed

[2015-04-02 13:17] keithchambers commented on #128
LGTM

[2015-04-02 13:22] keithchambers commented on #127
lol

[2015-04-02 15:04] stevendborrelli commented on #110
This may have to be pushed back to a later release. Still doing research on this.

https://issues.apache.org/jira/browse/MESOS-1923
https://issues.apache.org/jira/browse/MESOS-809

[2015-04-02 16:22] #122 closed

[2015-04-02 16:25] #109 closed

[2015-04-02 16:31] BrianHicks commented on #128
closed by #129

[2015-04-02 16:31] #128 closed

[2015-04-02 21:24] Y4Rv1K opened #131 "Consul "Failed connect to 127.0.0.1:8080; Connection refused""
We are deploying micro services on top of OpenStack using dc1 inventory example
As result when cluster is running with 3 marathon servers we got false positive error at consul

Consul check script `roles/marathon/templates/marathon-consul.j2` using

    "script": "curl --silent --show-error  --fail --dump-header /dev/stderr --retry 2 {% if marathon_http_credentials is defined %}-u {{ marathon_http

[2015-04-02 21:30] stevendborrelli commented on #131
Thanks for raising the issue. There is currently a problem with the marathon check in consul and the way marathon proxies requests to the leader node.

There are some fixes on the https://github.com/CiscoCloud/microservices-infrastructure/tree/feature/nginx-proxy branch, and I'll see if I can update the consul check in that branch.

[2015-04-02 22:03] stevendborrelli commented on #120
WIP at https://github.com/CiscoCloud/microservices-infrastructure/tree/feature%2Fupdate-graphics

[2015-04-03 12:04] keithchambers commented on #53
Logstash filters from the Mesos community: http://www.mail-archive.com/user@mesos.apache.org/msg02731.html

[2015-04-03 12:16] keithchambers commented on #53
Collectd plugin discussion from the Mesos community: http://www.mail-archive.com/user@mesos.apache.org/msg02773.html

We definitely want to give back any improvements we make to the community.

[2015-04-03 12:17] keithchambers commented on #49
Log rotation discussion in the Mesos community:
http://www.mail-archive.com/user@mesos.apache.org/msg02667.html

[2015-04-03 12:19] keithchambers commented on #62
Auto Scaling discussion in the Mesos community:

http://www.mail-archive.com/user@mesos.apache.org/msg02684.html

http://www.slideshare.net/spodila/aws-reinvent-2014-talk-scheduling-using-apache-mesos-in-the-cloud

[2015-04-03 12:28] Y4Rv1K opened #132 "nginx-consul.services dependency failed to start after cluster reboot"
We build basic cluster on top of OpenStack using branch https://github.com/CiscoCloud/microservices-infrastructure/tree/feature/nginx-proxy  (thank you @stevendborrelli ) . But after restart consul UI failed to start. As result:

    nginx-consul.service - nginx-consul
       Loaded: loaded (/usr/lib/systemd/system/nginx-consul.service; enabled)
       Active: active (running) since Fri 2015-04-03

[2015-04-03 13:03] keithchambers commented on #132
@Y4Rv1K Thank you for all this great testing! We'll take a look shortly.

[2015-04-03 13:10] ChrisAubuchon commented on #132
500 is internal server error coming from Consul. Is there anything in the consul logs?

[2015-04-03 13:15] Y4Rv1K commented on #132
Good point

    [centos@host-01 ~]$ systemctl status consul.service
    consul.service - Consul is a tool for service discovery and configuration. Consul is distributed, highly     available, and extremely scalable.
       Loaded: loaded (/usr/lib/systemd/system/consul.service; enabled)
       Active: active (running) since Fri 2015-04-03 12:05:11 UTC; 1h 7min ago
         Docs: http://www.consul.

[2015-04-03 13:19] ChrisAubuchon commented on #132
Did you happen to reboot two or more of the control nodes at the same time? That's considered an outage to Consul. Follow these instructions to recover: http://www.consul.io/docs/guides/outage.html

[2015-04-03 13:39] OleksandrBerchenko commented on #132
We have used "reboot-hosts.yml" playbook:

ansible-playbook -i inventory/1-datacenter openstack/reboot-hosts.yml

[2015-04-03 13:40] OleksandrBerchenko opened #133 "Missing or incorrect information in getting started documents"
docs/getting_started/openstack.rst

1. Change "inventory/dc1" to "inventory/group_vars/dc1" and "inventory/dc2" to "inventory/group_vars/dc2"

2. "neutron router-gateway-set router1 external" - it may be helpful to emphasize that "external" should be replaced with an actual name of your external network

3. Change "neutron router-show router" to "neutron router-show router1".

4. "You should see I

[2015-04-03 13:42] stevendborrelli commented on #132
@OleksandrBerchenko thanks for bringing this to our attention. I think we need to configure our reboot playbook to serial=1 for consul servers, which means that only one will be rebooted at at time.

As @ChrisAubuchon indicated, if more than one server is down in a 3-node cluster, the consul cluster loses quorum.

[2015-04-03 13:50] BrianHicks commented on #133
regarding the getting started docs, are you looking at the latest version? It has these instructions, we added them yesterday. http://microservices-infrastructure.readthedocs.org/en/latest/getting_started/index.html#setting-up-authentication-and-authorization

[2015-04-03 13:55] stevendborrelli commented on #125
@keithchambers do we still want to remove `yum makecache`? Otherwise this is ready to merge via #130.

[2015-04-03 14:27] OleksandrBerchenko commented on #133
Well, I performed all the steps yesterday (before your changes).  Today I double checked that, but using "nginx-proxy" branch that still has the old files :)  That was a ground of confusion.

Anyway, openstack.rst issues are probably still actual.

Thanks!

[2015-04-03 14:42] OleksandrBerchenko opened #134 "Localhost can't resolve hostnames of provisioned machines without external DNS"
I have provisioned a cluster following the getting started instructions.  The problem is that my local machine where Ansible is installed is not able to resolve hostnames of the provisioned machines ("host-01", etc.)

Even when I moved Ansible to a new machine in Openstack cluster itself, that machine was not able to resolve them as well.  That was expected, I just wanted to make sure there is no

[2015-04-03 15:09] stevendborrelli commented on #134
This is a good idea. I've been using a shell script that talks to openstack, but this might be a nicer solution. Especially if we can query multiple DCs.

[2015-04-03 21:32] keithchambers commented on #134
@OleksandrBerchenko can you submit a pull request please?

[2015-04-03 23:14] PeterLamar commented on #133
Thanks for your feedback! I did an editing pass, please take a look and let me know if you still have any issues,

[2015-04-04 15:53] npateriya opened #136 "Cosul template for HAproxy to support non web traffic"
Current ha proxy works fine for web traffic load balancing but Cassandra or Mysql ( data service) load balance traffic using current config have issues. Discussed details with @steve, adding issue to keep track.

[2015-04-04 17:47] stevendborrelli commented on #113
With pull request #135, closing this issue.

[2015-04-04 17:47] #113 closed

[2015-04-04 17:47] stevendborrelli commented on #110
With pull #135, closing this issue.

[2015-04-04 17:47] #110 closed

[2015-04-04 17:48] stevendborrelli commented on #131
After merging in #135, consul checks on marathon are now green.

[2015-04-04 17:48] #131 closed

[2015-04-04 17:54] stevendborrelli commented on #125
Closing after merging in #130.

[2015-04-04 17:54] #125 closed

[2015-04-04 21:07] stevendborrelli commented on #136
Adding @BrianHicks.

I think our longer term goal should be to have an IP for every container/pod, as in the [Kubernetes network model](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/networking.md)

For the short term, my proposal is to use cluster-wide port assignments for each app.

For example, user1 launches a cassanda.cluster, they are assigned a connection string of `cass

[2015-04-04 21:18] keithchambers opened #137 "UI default ports: 8080 vs. 18080 and 5050 vs. 15050"
@stevendborrelli what do you think about sticking with port 8080 for Marathon UI and 5050 for Marathon UI?

Are there any technical limitations that would prevent this?

[2015-04-04 21:28] keithchambers opened #138 "security-setup: on OSX bcrypt install fails without xcodebuild"
Issue:  `sudo pip install -r requirements' fails with the following error if xcodebuild not installed.

[code]

Workaround: `sudo xcode-select --install`

@stevendborrelli I'm concerned about adding complexity for new users that are trying to get started.  I almost wonder if we should revert back to installing bcrypt on the hosts ... thoughts?

[2015-04-04 22:36] BrianHicks commented on #136
Long term, an IP per container makes a lot of sense - you can "just connect" on the ports you want. Would [weave](https://github.com/zettio/weave) be appropriate for this?

I think it'd make more sense to put this data in Consul services, as in idea 2. We can set up healthchecks that way as well, and turn them off in HAProxy.

[2015-04-04 23:38] ChrisAubuchon commented on #137
This should be doable. Both Mesos and Marathon support changing the port that they listen on. Testing a patch now.

[2015-04-05 00:24] stevendborrelli commented on #138
I'm thinking about it.

Passlib has a native bcrypt implementation, but on my mac it takes about 52 seconds to run:
[code]

Decent performance is going to require native code, which makes the install more complicated.

I think we need to revert the changes and run it on a host again.

[2015-04-05 00:25] keithchambers commented on #137
Cool. Thanks Chris!

[2015-04-05 00:27] BrianHicks commented on #138
it's pretty standard to have to set up xcode on a Mac to install pretty much anything. IMO It would be OK to just add a warning in the relevant places.

[2015-04-05 00:31] keithchambers commented on #138
52 seconds is fine -- the xcodeinstall thing took nearly 5 minutes to download and install. Maybe just add a message saying "encrypting ... this will take about 1 minute ...". Security / encryption related tasks are perceived by many users to take a long time away. :+1:

[2015-04-05 00:35] BrianHicks commented on #138
It'd probably be possible to make a small wrapper function over it and then catch an `ImportError` if the native version isn't available.

What I meant by saying that xcode is a common task is that I would imagine that a lot of our users would have it installed already. If they've installed anything from Homebrew, it's the first step.

[2015-04-05 01:02] stevendborrelli commented on #138
I reverted the change until we get a solution.

I think always using the pure python method is too slow. I like the fact that the script sets everything up quickly. The script also may be encrypting more than one password in the future.

The import/ImportError pattern is something we can do. Basically try to import bcrypt, and if it fails, put out a warning that native is being used and takes much

[2015-04-05 02:26] keithchambers commented on #138
I like this idea.

[2015-04-05 13:10] BrianHicks commented on #138
@keithchambers looking at your original error again, that's a permission thing. I'm curious how installing xcode was the workaround there?

[2015-04-05 14:17] stevendborrelli opened #141 "Use Centos docker package"
Currently we are installing Docker via: http://cbs.centos.org/kojifiles/packages/docker/1.5.0/1.el7/x86_64/docker-1.5.0-1.el7.x86_64.rpm

However, Centos has a 1.5 package available:

http://mirror.centos.org/centos/7/extras/x86_64/Packages/docker-1.5.0-28.el7.centos.x86_64.rpm

[2015-04-05 14:20] keithchambers commented on #141
Makes sense.

[2015-04-05 14:28] keithchambers commented on #110
Great! Thx Steve

[2015-04-05 14:51] #141 closed

[2015-04-05 15:37] keithchambers commented on #132
I wish consol had a better way of dealing with this. I don't think ZooKeeper has the same limitation.

 I can work on a fix this morning to the reboot playbook if nobody else has started.

[2015-04-05 15:47] stevendborrelli commented on #132
@keithchambers I've started on one....basically do a serial=1 for consul servers
[code]

[2015-04-05 16:34] keithchambers commented on #132
@stevendborrelli after thinking about this a bit I wouldn't want to reboot all the resource nodes at the same time either.  So I figure we should just do a rolling reboot of all hosts regardless of roles they run.  Make sense?

[2015-04-05 16:44] keithchambers commented on #132
By the way I verified consul bootstraps fine when rebooting with Vagrant.

[2015-04-05 16:55] #132 closed

[2015-04-05 17:36] BrianHicks commented on #115
Closed by #139

[2015-04-05 17:36] #115 closed

[2015-04-06 11:39] Y4Rv1K opened #145 "Adding new frameworks to mesos"
Hello guys, few questions about adding extra frameworks to mesos.

1. I'm understanding that major idea is using mesos with Marathon as core for other app  (hide complexity and provide service for apps)

2. I see you already used ACL security list at mesos so every new framework required authentication. In such case if I want to add hdfs/spark as frameworks I should reconfigure your provision/boot

[2015-04-06 12:37] OleksandrBerchenko commented on #133
Everything looks good, except for:

1. You still need to change "inventory/dc1" to "inventory/group_vars/dc1", "inventory/dc2" to "inventory/group_vars/dc2" and "neutron router-show router" to "neutron router-show router1".

2. You have changed "neutron router-gateway-set router1 external" to "neutron router-gateway-set router1 network1".  That's probably not correct.  Instead of "network1" there

[2015-04-06 13:46] ChrisAubuchon commented on #137
Closing via https://github.com/CiscoCloud/microservices-infrastructure/commit/db03af1575b4e22f28f64542b6923b95d0d72925

[2015-04-06 13:46] #137 closed

[2015-04-06 14:43] OleksandrBerchenko commented on #131
The changes look good, thank you!

[2015-04-06 14:44] OleksandrBerchenko commented on #132
The changes look good, thank you!

[2015-04-06 15:03] OleksandrBerchenko opened #148 "Mesos redirects to a wrong port of the leader"
When I load Mesos UI (running on port 5050) of a host, which is not a leader, it redirects me to the leader, but to a wrong port: 15050.  This should be fixed.

[code]

[code]

Thanks!

[2015-04-06 15:12] ChrisAubuchon commented on #148
In order to implement authentication for the Mesos UI it is necessary to have it actually listen on a different port and put a proxy in front. Unfortunately the redirection is internal to Mesos. There is a Mesos patch in the works that will help with this issue. https://issues.apache.org/jira/browse/MESOS-809. Until then our choices are:
1. Remove authentication from Mesos.
2. Live with the incorr

[2015-04-06 15:15] PeterLamar commented on #133
I put network1 so that someone following the previous tutorial section, may have created a public facing network named 'network1'. I added your suggestion and changed the language to hopefully make it more clear. Let me know your thoughts.

[2015-04-06 15:16] OleksandrBerchenko commented on #148
Thanks for the link.  I believe the right choice is:

2. Live with the incorrect redirection until Mesos is patched.

Let's have this issue opened.

Thanks!

[2015-04-06 15:21] OleksandrBerchenko commented on #133
This makes sense, thank you.

[2015-04-06 15:23] OleksandrBerchenko commented on #133
So, only this typo remains:

Change "neutron router-show router" to "neutron router-show router1"

Thanks!

[2015-04-06 16:46] Y4Rv1K commented on #145
BTW Some current limitation related to this implementation and Mesos frameworks
[Framework authorisation at mesos](http://mesos.apache.org/documentation/latest/authorization/) is cool feature but looks like just a marathon [implemented it](https://mesosphere.github.io/marathon/docs/command-line-flags.html). Other frameworks still [working on it](https://issues.apache.org/jira/browse/SPARK-6284) (s

[2015-04-06 16:49] stevendborrelli commented on #145
I have some ideas around this, and I'd like to flesh out a design:

1) Folks will want to launch multiple frameworks on our cluster (Kafka, HDFS, Cassandra, elastic search, etc.)
2) We require framework auth, so every new framework will need to add credentials to the leader's auth files
3) We'll want to use Marathon to run the framework process

What I am thinking is we develop a couple of things:

[2015-04-06 16:52] BrianHicks commented on #145
For now if you want to use a framework which doesn't support authentication, you can set `mesos_authenticate_frameworks` to a falsey value. ([doc](https://microservices-infrastructure.readthedocs.org/en/latest/components/mesos.html#mesos_authenticate_frameworks))

[2015-04-06 17:03] Y4Rv1K commented on #145
Thanks @BrianHicks

@stevendborrelli looks like it's best way to do it.

[2015-04-06 17:54] PeterLamar commented on #133
Done

[2015-04-06 18:35] stevendborrelli commented on #133
@OleksandrBerchenko @PeterLamar can this issue be closed?

[2015-04-06 18:47] #123 closed

[2015-04-06 20:15] #133 closed

[2015-04-07 01:49] keithchambers commented on #138
I posted the wrong error.  The error was something like [this](http://stackoverflow.com/questions/22875270/error-installing-bcrypt-with-pip-on-os-x-cant-find-ffi-h-libffi-is-installed) and I found the solution [here](https://github.com/mopidy/pyspotify/issues/135).

[2015-04-07 10:07] OleksandrBerchenko commented on #133
Looks perfect now.  Thanks!

[2015-04-07 13:55] Y4Rv1K opened #149 "DNS service for Mesos frameworks"
Just raised problem related to DNS. I try to run HDFS on top of cluster using [mesos-hdfs project](https://github.com/mesosphere/hdfs) and just realised that name resolving is depending on [mesos-dns solution](https://github.com/mesosphere/mesos-dns).

Just wondering what your plans regarding DNS management for services that will be runing on top of Mesos?

[2015-04-07 14:26] keithchambers commented on #149
I think we need to build a bridge from Mesos to Consul similar to [mesos-dns](https://github.com/mesosphere/mesos-dns).

I'm not sure if this would eliminate the need for [Registrator](https://github.com/gliderlabs/registrator) in our environment.

[2015-04-07 14:46] stevendborrelli commented on #149
@keithchambers +1....we'll need this very soon for hdfs and elasticsearch

some ideas:
- using mesos modules (I think this is too complex)
- running a docker container in marathon that talks to the master and updates consul via the api
- updating registrator to connect to 5051 on each follower and pull data to sent to the agent

[2015-04-07 15:43] keithchambers commented on #138
@stevendborrelli do you want to move this out to a later release?

[2015-04-07 15:48] stevendborrelli commented on #138
Moving to 0.3 for now.

[2015-04-07 15:49] stevendborrelli commented on #120
Fixed in #150

[2015-04-07 15:49] #120 closed

[2015-04-07 19:22] kenjones-cisco opened #151 "Task get agent_token fails on json decode"
TASK: [consul | get agent_token] **********************************************
[code]
Using the latest from master from commit edac27b63b31b4b37f35c03cd6fb88cb1ee34754, when I ran the site playbook it failed with the exception above. I will be doing a retry in case it was a timing issue or response from the previous task using `consul-acl-bootstrap.sh ` resulted in an invalid output.

[2015-04-07 19:37] stevendborrelli commented on #149
We're going to target a mesos-consul bridge for the next release, and start working on it right away.

[2015-04-07 19:42] stevendborrelli commented on #151
Ken, can you give more details of how you are running the playbook (i.e., vagrant vs. openstack)? I want to try to replicate your issue.

[2015-04-07 19:44] matjohn2 opened #153 "security-setup script hangs on low entropy linux hosts due to /dev/random"
/dev/random blocks in the following code segment when not enough true random entropy is available:

        try:
            with open('/dev/random') as ran:
                bytes = ran.read(size)

It may be worth migrating this to /dev/urandom to ensure we don't block, at the cost of lower quality randomness for the keys generated.

Users experiencing this issue will hang at the following part of

[2015-04-07 20:00] kenjones-cisco commented on #151
Openstack, specifically CCS Internal.

I created a VM within my project to act as a starting point that is not part of the "cluster" to just create the overall cluster. Ubuntu 14.04, ansible (1.9.0.1)

[2015-04-07 20:13] kenjones-cisco commented on #151
I added a simple debug statement to print out the response from agent_acl:

[code]

The response is coming back as no "No cluster leader".

[2015-04-07 20:15] ChrisAubuchon commented on #151
Can you show the contents of /etc/consul/consul.json and `journalctl -u consul`? "No cluster leader" is a Consul issue.

[2015-04-07 20:19] benschumacher commented on #153
Depending on the utilization, the conversation of /dev/random vs. /dev/urandom is likely incorrect. The issue typically isn't "lower quality", but how can those interfaces be attacked. Two good reads on the subject:

http://www.2uo.de/myths-about-urandom/
http://insanecoding.blogspot.com/2014/05/a-good-idea-with-bad-usage-devurandom.html

That said, I don't think we need these to be absolutely cry

[2015-04-07 20:23] kenjones-cisco commented on #151
[code]

[code]

[2015-04-07 20:27] BrianHicks commented on #153
welp, I learned something about randomness sources today. I'll take care of this by grabbing values from `os.urandom`, since it'll work most everywhere. That's probably unpredictable enough to generate secret keys for.

[2015-04-07 20:29] ChrisAubuchon commented on #151
Are the other Consul server nodes up? It looks like this is the only one running.
```raft: EnableSingleNode disabled, and no known peers. Aborting election.```

[2015-04-07 20:34] kenjones-cisco commented on #151
Each of the nodes have the same logs.

[2015-04-07 20:36] ChrisAubuchon commented on #151
Are the ports open between the nodes? 8301 specifically? That's the LAN cluster port

[2015-04-07 20:42] kenjones-cisco commented on #151
Port 8301, is not as it wasn't listed in the documentation here:
https://microservices-infrastructure.readthedocs.org/en/latest/getting_started/openstack.html#security-group

I will open that port as well and then update.

[2015-04-07 20:50] kenjones-cisco commented on #151
Adding port 8301 did not resolve the issue by itself, but once I also added port 8300 it was able to move past the issue above.

[2015-04-07 20:53] kenjones-cisco commented on #151
A documentation update to include ports 8300 and 8301 is the major change. Maybe a change to the consul role to check for `msg` when `ID` is not found to enable a better error message.

[2015-04-07 20:55] kenjones-cisco commented on #151
Task Checking port 8302 being open also failed, port needed to be open.

[2015-04-07 20:56] ChrisAubuchon commented on #151
There will be more. It looks like the OpenStack document you linked above assumes that all ports are open between your nodes.

[2015-04-07 21:39] stevendborrelli commented on #151
@kenjones-cisco we need to update the docs, having those ports open to 0.0.0.0/0 is bad practice. The ports should only be open to the security group itself.

[2015-04-07 22:08] kenjones-cisco opened #154 "Task Create zooker acl"
I thought it was an issue regarding the port 2181 not being open, but after including within Security Group, the issue has continued.

[code]

[2015-04-07 22:12] stevendborrelli commented on #154
Can you also try opening ports 2888 and 3888? Those are also ports that zookeeper uses to communicate between nodes.

I'll mark this for the docs. I think the easiest thing to do is to create an openstack security role where all ports are trusted within the security group.

[2015-04-07 22:28] kenjones-cisco commented on #154
I created a rule on my Security group "cluster", where all ports are trusted within the security group. And that has resolved the problem, and my playbook has completed successfully.

[2015-04-07 22:41] stevendborrelli commented on #154
@kenjones-cisco thanks for all your debugging and feedback. It will help the project become that more usable for other people. I'm going to leave this issue open until we update the docs.

[2015-04-08 10:51] keithchambers opened #156 "Forward all Docker container logs to local Rsyslog agent"
Consider using:
* Docker 1.6 native support (ideal)
  * Get latest docker builds at http://cbs.centos.org
  * http://cbs.centos.org/koji/buildinfo?buildID=919
* Logspout (less ideal)

[2015-04-08 10:54] keithchambers opened #157 "Support overriding logstash/monitoring roles to external destination"
Support forwarding all collector output to a remote destination if internal ELK is not the preferred solution for the end user/deployment

Support forwarding all logs from Rsyslog to centralized syslog server via TCP or UDP.
Support multiple destination syslog receivers (e.g., log.cisco.com:2515 logging.aas.com:2715)

Support different TCP / UDP ports for each receiver.

Support TLS. TLS is an opt

[2015-04-08 10:57] keithchambers opened #158 "Rotate all host logs daily and purge weekly"
Ensure all logs are rotated daily

Ensure logs more than 1 week old are purged

[2015-04-08 11:01] keithchambers opened #159 "Route all logs to local logstash agent"
Ensure all processes and services logs flow to logstash.  In situations where processes/services do not have native rsyslog over TCP/UDP support, configure logstash to read the log file from disk.

Processes/services include (but are not limited to)
* Consul
* Consul Template
* Mesos
* Marathon
* Everything in /var/log

[2015-04-08 11:23] keithchambers opened #160 "Monitors for load, memory, free disk space"
![image](https://cloud.githubusercontent.com/assets/1405432/7044312/fbcbbe3c-dda6-11e4-83ae-562d0ba767fb.jpg)

Let's copy these consul checks.

[2015-04-08 11:52] matjohn2 opened #161 "Docker fails to start when using latest Docker RPM without latest CentOS7 updates"
Linked issue for people experiencing this with microservices-infrastructure deployments.

When using existing CentOS7 nodes and running ansible against them, you may see this error:

[code]

Error on the node is:
[code]
The issue is the latest docker RPM not having correct dependancies on the latest device mapper RPM.

Offender is:
[code]

Likley, your CentOS7 machine has a lower version of device

[2015-04-08 12:03] keithchambers commented on #161
Even if this isn't a bug in our code it potentially impacts usability -- which is something a refuse to compromise on.

Let's add a yum task to the docker role to ensure devmapper => 1.02 is installed.

[2015-04-08 12:24] matjohn2 commented on #161
Fair.
PR raised, testing now via TF deployment of VM¹s + ansible run (repeating
previous failure scenario).

https://github.com/CiscoCloud/microservices-infrastructure/pull/162

Matt

From:  Keith Chambers <notifications@github.com>
Reply-To:  CiscoCloud/microservices-infrastructure
<reply+0049e2caf8e9e74c8394ea444a5b3d7208ed884910f6c12692cf00000001113cdb069
2a169ce04000bf5@reply.github.com>
Date:

[2015-04-08 12:38] BrianHicks commented on #136
Tags won't work here, unfortunately. The template language is a little too limited in that regard. Here's how the template looks for running a bunch of redis services as "db":

[code]

produces:

[code]

Now the question is: how are we going to get that service information into haproxy (from, say, Marathon?) I'd like feedback:

 - would it make sense for this to be patched into registrator?
 - or

[2015-04-08 12:45] #153 closed

[2015-04-08 14:27] stevendborrelli commented on #161
LGTM. Containers all came up.

[code]

[2015-04-08 14:32] #161 closed

[2015-04-08 15:37] keithchambers opened #163 "Create CI environment"
CI system should:
* Automatically build all GH pull requests
* Automatically test all commits to master

Test case:
* Deploy fresh system to multiple regions (on Cisco Cloud Services)
* Deploy test application to multiple regions (on Cisco Cloud Services)

For the time being this won't be publicly accessible.

Keep it simple to start with.

[2015-04-08 15:40] keithchambers opened #164 "Deploy logstash 1.5 container to all nodes with rsyslog input and output support"
Investigate running logstash 1.5 in https://github.com/gliderlabs/docker-alpine.  Time limit to 1-2 days.

Demo: logstash 1.5 in an alpine container receiving and forwarding messages in rsyslog format

Note:  If this is easy to do we will pivot on the rsyslog stories in 0.3 to logstash

[2015-04-08 21:31] stevendborrelli commented on #154
Fixed via #155 and #165.

[2015-04-08 21:31] #154 closed

[2015-04-08 21:34] stevendborrelli opened #166 "Sample configurations"
Create inventory files for different configurations. This might be easier to do in terraform with a var:

Single:
1 compute

Small:
1 leader, 3 followers (medium instance size)

Medium
3 leaders, 3 followers

Large:
3 leaders, 7 followers (large instance size)

@keithchambers let me know your thoughts

[2015-04-09 14:13] keithchambers commented on #166
Thinking ...

[2015-04-09 14:21] stevendborrelli opened #167 "Test harness"
Let's make this a list of things we can set up tests for:

- Nginx
  - force ssl
  - consul auth
  - marathon auth
  - mesos auth

- Consul
  - consul running on each host
  - consul has healthy services
     - each host is green
     - mesos leader
     - zookeeper
     - mesos follower

- Mesos
   - proper number of leaders
   - proper number of followers
   - firewalls in place

- Marathon

[2015-04-09 18:51] Y4Rv1K opened #168 "How can I shutdown framework?"
I had ability to terminate framework at mesos using `/master/shutdown`
But at latest build have success

     http -a admin:admin  --verify=no --form POST  https://master.mesos:5050/master/shutdown frameworkId=20150409-145309-452011949-15050-21032

    No framework found with specified ID

Just wondering how can I terminate framework at MI?

[2015-04-09 19:41] ChrisAubuchon commented on #168
Can you verify that `master.mesos` is the leader? I received the `No framework found with specified ID` when connecting to one of the the non-leader masters and success when connecting to the leader.

[2015-04-09 20:00] Y4Rv1K commented on #168
You have point. Now `master.mesos` point to 3 mesos masters and `leader.mesos`  to leader.

[2015-04-09 22:09] ChrisAubuchon commented on #168
So is it working using `leader.mesos`?

[2015-04-10 09:38] Y4Rv1K commented on #168
Actually it's not. Still digging into it.

[2015-04-10 11:15] Y4Rv1K commented on #168
Yes it did. Now I can't go though authentication:)

   $ http -a  admin:admin  --verify=no --form POST  https://leader.mesos:5050/master/shutdown frameworkId=20150406-173829-4210108333-15050-24101-0000                   │
    HTTP/1.1 401 Unauthorized
    Connection: keep-alive
    Content-Length: 30
    Date: Fri, 10 Apr 2015 10:12:26 GMT
    Server: nginx/1.6.2
    WWW-authenticate: Basic realm=

[2015-04-10 11:15] #168 closed

[2015-04-10 12:45] tymofii-polekhin commented on #156
https://github.com/CiscoCloud/microservices-infrastructure/issues/156

State: failed

[2015-04-10 22:00] Y4Rv1K opened #171 "Not able to authenticate at mesos using cURL/HTTPie"
Can be simple misuse but I'm not able terminate framework by using URI `master/shutdown` and cURL/HTTPie tools:

    http --verify=no -a admin:admin --form POST https://leader.mesos:5050/master/shutdown frameworkId=20150406-173829-4210108333-15050-24101-0000
    WWW-authenticate: Basic realm="Mesos master”

    Could not authenticate 'admin'

Any thoughts about it?

[2015-04-10 22:26] stevendborrelli commented on #171
Let me test on one of our clusters.

[2015-04-10 22:44] ChrisAubuchon commented on #171
This is internal to Mesos. It does its own authentication on a framework shutdown request. The admin account has to be in /etc/mesos/credentials to work.

[2015-04-10 23:35] stevendborrelli commented on #76
Looks like Centos 7.1 has overlayfs as a tech preview. https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/7.1_Release_Notes/chap-Red_Hat_Enterprise_Linux-7.1_Release_Notes-File_Systems.html

I think we need to test this ASAP to improve performance of container loads.

[2015-04-11 18:00] keithchambers commented on #164
I did some work on this:  https://github.com/keithchambers/docker-logstash

I wasn't able to get it `gliderlabs/alpine` working but I did get `progrium/busybox` to work.

[2015-04-11 18:34] Y4Rv1K commented on #171
I see. In this case even if I installed hdfs as framework without authentication I have no easy way to shutdown it because mesos [framework authentication](http://mesos.apache.org/documentation/latest/authorization/) still working?

    In the same vein, when a user/principal attempts to shutdown a framework through the “/shutdown”
    HTTP endpoint on the master, “shutdown_frameworks” ACLs are ch

[2015-04-11 19:19] ChrisAubuchon commented on #171
I think we have two possible solutions here.

1. Add the admin account to `/etc/mesos/credentials`
2. Add the Mesos credentials to the nginx proxy

Of the two, I prefer 2 because Mesos' credentials file is stored in plain text on the file system and, in 0.3, in plain text in Consul.

[2015-04-11 22:17] #84 closed

[2015-04-13 15:53] ChrisAubuchon commented on #171
Check out https://github.com/CiscoCloud/microservices-infrastructure/tree/0.3/mesos-consul-creds
That adds the admin account to Mesos' credentials file and adds the Mesos credentials to the nginx proxy.

[2015-04-14 18:00] OleksandrBerchenko commented on #145
It seems that "mesos_authenticate_frameworks" option doesn't work.

I got the following error when running Spark shell with Mesos:

$ ./bin/spark-shell --master mesos://host-02:2181
...
I0414 15:46:10.015877 31460 sched.cpp:157] Version: 0.22.0
I0414 15:46:10.019696 31461 sched.cpp:254] New master detected at master@10.203.50.202:2181
I0414 15:46:10.019978 31461 sched.cpp:264] No credentials provi

[2015-04-14 18:13] stevendborrelli commented on #145
Maybe there is a port issue?

2181 is the zookeeper port, mesos is port 5050.

Can you try --master mesos://host-02:5050?

We might run into other authentication problems, but I want to see if that changes anything.

[2015-04-14 18:21] OleksandrBerchenko commented on #145
No, this didn't help: the result is exactly the same.

Please note, that when I tried:

$ ./bin/spark-shell --master mesos://zk://host-02:2181

as http://spark.apache.org/docs/latest/running-on-mesos.html suggests, I got the following error:

15/04/14 18:21:07 ERROR MesosSchedulerBackend: Mesos error: Failed to create a master detector for 'zk://host-02:2181': Expecting a (chroot) path for ZooKeep

[2015-04-14 18:29] stevendborrelli commented on #145
@OleksandrBerchenko I'm concerned that
`./bin/spark-shell --master mesos://zk://host-02:2181` is the wrong format.

it should be `--master mesos://host-02:5050`. Can you try that and report back?

If that still fails, on host-02 mesos will log in `/var/log/mesos`. There are several master logs there.

[2015-04-14 18:29] ChrisAubuchon commented on #145
That looks like it's expecting `/mesos` at the end of the master string:
Something like:
[code]

[2015-04-14 19:27] benschumacher opened #173 "security-setup: Add additional confirmation prompt for password"
Currently running the `security-setup` asks for a password:

[code]

But it doesn't prompt for confirmation of that password. This means that if user mistypes their password, we would end up recording typo'd version. While they can simply rerun the utility, it'd be simple (and consistent with similar tools) to simply prompt for confirmation:

[code]

[2015-04-14 21:40] stevendborrelli commented on #145
@OleksandrBerchenko I'm testing with spark to see what the issue is.
These lines below are actually coming from mesos itself:

[code]

[2015-04-14 21:44] keithchambers commented on #173
+1

[2015-04-14 22:00] stevendborrelli commented on #145
@OleksandrBerchenko Can you try the following command?

[code]

[2015-04-15 02:24] kenjones-cisco opened #174 "Marathon service offer ports"
Based on the marathon documentation (https://mesosphere.github.io/marathon/docs/native-docker.html) under *Static port mapping* there should be a way to set what ports are offered for resources to leverage. I'm looking to determine if the configurations are already part of the playbook and I missed it, or if possibly it was left as the default and not provided via any configurations thus far.

As

[2015-04-15 02:36] stevendborrelli commented on #174
I agree with this approach. We also have a request to reduce the number of ports in the Vagrant environment. I'm thinking we could have a resource variable in the mesos role.

[2015-04-15 12:55] loshkovskyi commented on #164
Hello. I did manage to run Logstash 1.5 with Alpine. Please check this repo https://github.com/loshkovskyi/docker-alpine-logstash
Thank you.

[2015-04-15 14:04] keithchambers commented on #164
Awesome!  Would you like me to create a new repo in our CiscoCloud organization for it?

[2015-04-15 14:30] keithchambers commented on #174
@kenjones-cisco in addition to Steven's comments, he and I are actively exploring how we can enhance Meso so that every task gets its own IP address. This way, every MongoDB task gets it's own IP and they can all listen on 27017.

We're also exploring floating IPs. With floating IPs, when a slave dies the tasks are relaunch on other slaves with the same IP address. Currently in Mesos all resource

[2015-04-15 14:32] BrianHicks commented on #174
FYI: I'm currently working on a HAProxy config to forward Marathon port mappings to their respective tasks, at least until the work @keithchambers mentions is implemented. Refer to #136 for progress.

[2015-04-15 15:15] Y4Rv1K opened #175 "Mesos leader after crash redirect to port 15050 instead 5050"
When mesos leader going down `host-01:5050` its redirecting you to proper leader but port `15050`

[2015-04-15 15:16] ChrisAubuchon commented on #175
Known issue. See https://github.com/CiscoCloud/microservices-infrastructure/issues/148 for details

[2015-04-15 15:48] loshkovskyi commented on #164
Thank you for creating the repo, I will push once my key is added.

On Wed, Apr 15, 2015 at 5:04 PM, Keith Chambers <notifications@github.com>
wrote:

--
Kind regards,
Andrii Loshkovskyi

[2015-04-15 16:19] OleksandrBerchenko commented on #145
Well...

1. mesos://host-02:5050 doesn't work.
2. Both mesos://zk://host-02:2181/mesos and mesos://zk://zookeeper.service.consul:2181/mesos work inside the cluster.
3. When I use mesos://zk://host-02:2181/mesos outside of the cluster I get the same error:

No credentials provided. Attempting to register without authentication

4. When I use mesos://zk://zookeeper.service.consul:2181/mesos outside

[2015-04-15 16:48] cdmitri opened #176 "security-setup: disable auth in command line"
Since we're working through authentication for some of the components, we should have a fast way to disable it if necessary.

Proposing:
[code]

Which will disable writing out credentials for followers and/or frameworks to `security.yml` which in turn will disable authentication,

Ex.:

[code]

Related to: #145

[2015-04-15 17:05] stevendborrelli commented on #145
@OleksandrBerchenko

Currently mesos listens on port 15050, with an nginx proxy in front at 5050.

There is an iptables firewall that only allows connections from other mesos systems in the cluster to port 15050. You can allow access to port 15050 if you modify the MESOSLEADER iptables chain.

[2015-04-15 17:23] ChrisAubuchon commented on #145
The 5050 requires password authentication from outside the cluster. Can you try:
[code]

[2015-04-16 00:03] ChrisAubuchon commented on #171
@Y4Rv1K Have you tried with the 0.3/mesos-consul-creds branch? If it's working I'll submit a pull request.

[2015-04-16 00:52] keithchambers commented on #176
I think this is reasonable. Of cours we want everything to be tight a secure but we also community adoption.

I'd like to see us add this feature AND, for every framework that doesn't support authentication, open an issue on our side and against the framework's project.

Thoughts?

[2015-04-16 07:23] Y4Rv1K commented on #171
Will proceed with validation as soon as possible.

[2015-04-16 08:35] loshkovskyi commented on #164
I have put my code here: https://github.com/CiscoCloud/docker-logstash

[2015-04-16 12:23] kenjones-cisco opened #177 "Different flavors for control nodes vs. resource nodes"
I did a manual workaround for this yesterday but was looking to create put something in place to enable the functionality today.

The provided inventory files indicate via comments the control groups and the resource groups but there are not groups specifically defined by those group names. For the openstack provision process some variables are defined at the dc level and the others at the all lev

[2015-04-16 14:39] Y4Rv1K commented on #176
Have proposition from @cdmitri =)

    --no-firewall

[2015-04-16 15:15] dimmk0 opened #178 "ansible: increase debugging verbosity, perform logging and cluster deployment automated test execution."
**Problem:**

Recent testing shows that there are periodic/intermittent issues that we need to address.

* /etc/hosts files are not always updated on all maches
* after the completed run not all hosts can be pinged with ansible
* multiple runs of the same playbook fix the issue
* OpenStack nova API version wrong
* possible other issues

As we're testing and deploying to multiple DC's, we need to g

[2015-04-16 15:27] cdmitri commented on #176
@keithchambers yes, definitely, we'll follow with all the security development for frameworks and tracking an issue. Some frameworks including spark not only are working on mesos security, but also have their own security mechanisms (SSL, ACL in multiple modes), so there is a lot of interesting development there that we should leverage for production use.

These 3 options to disable security compl

[2015-04-16 15:44] ObjectiveJoe commented on #176
No security is almost always a bad idea. Once you start that direction and people start developing to it you may have a hard time rolling it back.

Joe

[2015-04-16 17:16] cdmitri commented on #177
+1, we're had some thoughts around that on the framework side as well, will have open some issues and proposals tomorrow, in general we could use at least one more iteration/testing of this structure.

Cheers,
D.

[2015-04-16 17:31] cdmitri commented on #164
Here is the general architecture that we've discussed:

1. Producer (cluster metrics, app, other)
2. Forwarder (dockerized logstash deployed in mi)
3. Collector (LaaS, custom, OSS)

(2) Should be implemented as a `role` in microservices-architecure which after deployment configures everything ready for aut-of-the-box use, based on initial configuration in variables following current conventions fo

[2015-04-16 17:36] tooda02 opened #179 "Support Windows microservices deployment"
microservices-infrastructure currently will not deploy in Windows.  Most of the issues are with Ansible, which [explicitly does not support Windows as a controller and has no plans of doing so] (http://docs.ansible.com/intro_windows.html#reminder-you-must-have-a-linux-control-machine).

Issues below are classified by deployment method (native, Cygwin, or Ansible in VirtualBox).  One issue affectin

[2015-04-16 18:21] cdmitri commented on #176
Hi Joe,

I agree with you, we should have security on for default and have a strong focus on supporting and developing secure frameworks. It's good to have an option to isolate the issues quickly however, for example you can always turn off SELinux with a single config line if you need to :)

Cheers,
D.

[2015-04-16 20:11] keithchambers commented on #177
I'm open to this for sure.

[2015-04-16 20:14] keithchambers commented on #178
This makes sense to me @cdmitri

Anything that improves usability is :+1: !

[2015-04-16 20:15] keithchambers commented on #179
@tooda02 thank your for opening this issue!

We'll need to take a step back and consider how we can make this simple and reliable across Windows and OSX.  Please give us a little time.

[2015-04-16 20:19] keithchambers commented on #176
@ObjectiveJoe I agree with your point but it's a balancing act.  I'd rather have no security than no adoption. :-1:

Security is always going to be a focus for our project.  We need to start where we can and build up from there.  It's going to take a little time but we will get there.

[2015-04-17 03:42] stevendborrelli commented on #106
I've been testing this for a few days...asteris/zookeeper:alpine is the image. Here is the difference in size:

Unfortunately, the JRE adds about 100MB to the image:

[code]

[2015-04-17 03:49] stevendborrelli commented on #106
Fixed via https://github.com/asteris-llc/docker-zookeeper/pull/2

[2015-04-17 03:49] #106 closed

[2015-04-17 03:58] keithchambers commented on #106
Nice!  Thanks Steve!

[2015-04-17 09:35] tymofii-polekhin commented on #156
Just checked out new Docker 1.6 with --log-driver syslog
Was able to route a container logs to host syslog, and then rsyslog sends it to container with logstash

[2015-04-17 12:47] OleksandrBerchenko opened #182 "os_flavor_ram value may be silently ignored"
-1. Provision hosts using the following configuration in all.yml:

os_flavor_ram: 4096
os_flavor_include: GP2-Medium
os_image_name: centos-7_x86_64-2015-01-27-v6

Result: GP2-Medium | 4GB RAM | 1 VCPU | 50.0GB Disk [as expected]

-2. Provision hosts using the following configuration in all.yml:

os_flavor_ram: 8192
os_flavor_include: GP2-Large
os_image_name: centos-7_x86_64-2015-01-27-v6

Result:

[2015-04-17 12:50] kenjones-cisco opened #183 "Restart cluster"
The underlying environment was affected by maintenance last night, and as such some processes were no longer running. I performed a soft reboot on my VMs and then to restore everything back to working order I re-ran the ansible site.yml. Everything seems to go well up to the point where it tries to do the Zookeeper ACLs. The error was similar to the problem I saw originally, during installation la

[2015-04-17 13:01] OleksandrBerchenko opened #185 "Ansible uses "all.yml.new" instead of "all.yml""
-1. There is a single "all.yml":

[code]

[code]

Run provision-hosts.yml.  Everything works as expected: "GP2-Medium | 4GB RAM | 2 VCPU | 50.0GB Disk" hosts have been created.

-2. Destroy the hosts.  Put some backup version of "all.yml" in the some folder, for example "all.yml.new":

[code]

[code]

Run provision-hosts.yml.  Unexpectedly, "GP2-Large | 8GB RAM | 2 VCPU | 50.0GB Disk" hosts have b

[2015-04-17 13:02] tymofii-polekhin commented on #173
https://github.com/CiscoCloud/microservices-infrastructure/pull/184

[2015-04-17 13:04] ChrisAubuchon commented on #182
os_flavor_ram is required by Ansible to determine the flavor to use. os_flavor_include is used to differentiate between different flavors with the same amount of RAM.

Relevant code from OpenStack Ansible module
[code]

[2015-04-17 13:05] ChrisAubuchon commented on #183
Did you use playbooks/reboot-hosts.yml to reboot the hosts? Sounds like Consul lost quorum and couldn't recover easily.

[2015-04-17 13:11] keithchambers commented on #173
Merged!

[2015-04-17 13:11] #173 closed

[2015-04-17 13:16] OleksandrBerchenko commented on #182
Ok, thank for the explanation.

So, "os_flavor_ram" actually woks as a "minimum ram", correct?  That's a bit confusing.  Can we display a warning, when a different amount of RAM is actually allocated?  Or possibly rename "os_flavor_ram" to something like "minimum_os_flavor_ram" in our file?  Or let me know, if it's confusing only for me :)

Thanks!

[2015-04-17 13:24] OleksandrBerchenko opened #186 ""dc1" and "dc2" are hardcoded in site.yml"
My "naive" idea to create my own DC files (like "dc_rillaar" and "dc_spark") didn't work because both "dc1" and "dc2" are simply hardcoded in site.yml.

Is it possible not to hardcode any DCs in site.yml, but to extract actual names from the passed inventory file?

[code]

Also I have revealed that "." (dot) is not an allowed char for the DC name. "dc_rillaar.new" crashed with the following error:

[2015-04-17 13:44] kenjones-cisco commented on #183
No I did not, I had used the soft reboot in the horizon UI.

After looking at the reboot hosts playbook I can see that would have been a preferred approach for doing a reboot.

[2015-04-17 14:42] kenjones-cisco commented on #183
#187 merged; I'll consider this as a documentation issue and user error, closing issue.
Thanks

[2015-04-17 14:42] #183 closed

[2015-04-17 15:25] stevendborrelli commented on #185
Ansible docs are not really clear about this in http://docs.ansible.com/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable, but what I have seen is that when a var is defined more than once, the last update to the var is the one that gets used.

My guess is that all.yml.new is being read after all.yml.

[2015-04-17 15:33] OleksandrBerchenko commented on #185
So, Ansible just reads all the files, even those which don't have "yml" extension, correct?

[2015-04-17 16:45] stevendborrelli commented on #186
Maybe we can use groups of groups? Here is the ansible doc: http://docs.ansible.com/intro_inventory.html#groups-of-groups-and-group-variables

So our inventory file could be something like:

[code]

As for part the "." issue, that might cause problems because host matching can also be against dns names.

[2015-04-17 16:52] OleksandrBerchenko commented on #186
I will try it, thank you.

Well, what if I want to create a cluster that spreads through 3 or more datacenters?  site.yml is still not very flexible.

[2015-04-17 17:03] OleksandrBerchenko opened #189 "Add linebreak to fail msg in site.yml"
A really cosmetic issue, but anyway:

[code]

Please note a long piece of space after "option".

Looking into the code:

[code]

Probably a linebreak after "option" was removed by an accident.

Thanks!

[2015-04-17 17:58] OleksandrBerchenko commented on #145
[code]

[2015-04-17 21:32] cdmitri commented on #145
I've got it to register the framework, not a priority right now, let's get
the basic role out first.
On Apr 17, 2015 10:58 AM, "OleksandrBerchenko" <notifications@github.com>
wrote:

[2015-04-19 05:41] keithchambers commented on #185
I'm going to close this since there is nothing we can do to prevent this.

[2015-04-19 05:41] #185 closed

[2015-04-19 07:17] keithchambers commented on #182
@OleksandrBerchenko can you create a PR please?

[2015-04-19 15:01] galanoff commented on #182
Dear all,

Just have a look at original Ansible doc and you would not need to debug / look in code for obvious things.

http://docs.ansible.com/nova_compute_module.html

[code]

--
Kyryl

[2015-04-19 15:04] keithchambers commented on #189
@OleksandrBerchenko thanks for spotting this! fixed https://github.com/CiscoCloud/microservices-infrastructure/commit/2cf396b41bbbe05467152fbd0ca846f1bc9ca4eb

[2015-04-19 15:04] #189 closed

[2015-04-19 15:23] keithchambers commented on #175
Closing as dup.

[2015-04-19 15:23] #175 closed

[2015-04-19 15:36] keithchambers commented on #156
@tymofii-polekhin Awesome!

Now that we know we have logstash working for 0.3 I recommend forwarding all Docker container logs directly to logstash (and bypassing rsyslog).

[2015-04-19 15:41] keithchambers commented on #121
This went in to the 0.2 release.

[2015-04-19 15:41] #121 closed

[2015-04-19 15:41] keithchambers commented on #108
This went in to the 0.2 release.

[2015-04-19 15:41] #108 closed

[2015-04-19 15:48] keithchambers commented on #100
Fixed with https://github.com/CiscoCloud/microservices-infrastructure/commit/6201e7cb3c28e8413e5f7fb97c7d93534c4869c8

Thanks @ChrisAubuchon !

[2015-04-19 15:48] #100 closed

[2015-04-19 17:55] keithchambers commented on #182
@galanoff good point.  Do you recommend we keep the variable name as is?

[2015-04-20 03:34] kenjones-cisco commented on #177
FYI, I made some changes to enable the above. Going to test it out tomorrow morning and then I'll submit the a PR for feedback.

[2015-04-20 09:53] corebug commented on #158
This issue was fixed by my accidental commit, so i guess we can close it.

[2015-04-20 09:59] OleksandrBerchenko commented on #182
Thanks, Kirill!  Yes, sometimes it makes sense to look into documentation.

Possibly it makes sense not to change anything.

[2015-04-20 10:18] dublx commented on #149
+1

[2015-04-20 12:01] #182 closed

[2015-04-20 12:26] loshkovskyi commented on #164
I have committed to branch https://github.com/CiscoCloud/microservices-infrastructure/tree/feature/logstash-role
Why do we need Logstash server on all nodes? I thought it's supposed to be managed from a central place.

[2015-04-20 13:22] rida4 opened #192 "python-novaclient version in requirements.txt"
There is a requirement in requirements.txt to have strictly version 2.17.0 for python-novaclient:
python-novaclient==2.17.0.
However, we have version 2.23 installed in our environments. Can we have it changed to :
python-novaclient>=2.17.0 ?

[2015-04-20 13:56] stevendborrelli commented on #192
I'm ok with this change.

@BrianHicks, what are your feelings about >= vs ==?

[2015-04-20 14:06] BrianHicks commented on #192
normally I'd say that we should stick with pinned versions. But I've just looked and Ansible doesn't specify a version for this *at all*, so `>=` should work. We might even want to make it `>=2.23`.

[2015-04-20 14:56] stevendborrelli commented on #149
@dublx: take a look at https://github.com/CiscoCloud/mesos-consul

[2015-04-20 15:08] bketelsen opened #193 "firewalld prevents consul communication"
Centos ships with firewalld enabled by default.  Consul can't make quorum with firewalld enabled.

Best fix:  Create a playbook to enable all required ports for consul in firewalld
Workaround fix: disable firewalld

[2015-04-20 15:18] stevendborrelli commented on #193
@bketelsen we'll take a look, as we haven't seen this in our base Centos 7.0 images.

What CentOS image are you using?

[2015-04-20 15:20] bketelsen commented on #193
this happened with both the CentOS ISO i pulled directly from centos, and my Rackspace cloud account which is CentOS Linux release 7.1.1503 (Core)

[2015-04-20 15:24] stevendborrelli commented on #193
I think we should disable firewalld for iptables service for now, as we have some iptables-specific code.

We're moving towards using 7.1.1503 with (hopefully) overlay support, so this issue needs to re addressed.

[2015-04-20 15:25] kenjones-cisco commented on #174
Created PR #194 that enables configuring the ports available by applications within the mesos-followers using mesos resources.
I tested on CCS and verified through actual mesos-follower logs that the configurations were applied correctly.

[2015-04-20 15:27] bketelsen commented on #193
Where is the iptables code?

On Mon, Apr 20, 2015 at 11:24 AM, Steven Borrelli <notifications@github.com>
wrote:

--

----
Brian Ketelsen
bketelsen <at> gmail <dot> com

[2015-04-20 15:32] stevendborrelli commented on #193
Marathon and Mesos use consul-template to dynamically change iptables, by dropping config files in `/etc/consul-template/config.d`:

See the mesos/marathon default tasks and these template files:

Mesos:
https://github.com/CiscoCloud/microservices-infrastructure/blob/master/roles/mesos/templates/mesos-leader-iptables.tmpl.j2

Marathon:
https://github.com/CiscoCloud/microservices-infrastructure/blo

[2015-04-20 15:33] bketelsen commented on #193
Thanks!
I'll send a PR in a minute to disable firewalld

On Mon, Apr 20, 2015 at 11:32 AM, Steven Borrelli <notifications@github.com>
wrote:

--

----
Brian Ketelsen
bketelsen <at> gmail <dot> com

[2015-04-20 21:14] kenjones-cisco commented on #151
I think this was fixed as part of #165, at least that covered my initial issue and the resolved the bad practice of using open ports for everyone.

[2015-04-21 13:47] cdmitri commented on #192
Some more detail behind this one - a couple of days ago while things were working in the morning, after lunch the playbook (site.yml) started failing giving a "unknown argument session in Client(..." (paraphrasing). Due to my previous experience with those clients, I got a hint that it's something with the keystone, nova API. So I installed the latest version which turned out to be 2.23 and things

[2015-04-21 13:55] BrianHicks commented on #192
It might also be because we upgraded the minimum Ansible version. Having unit tests here would help a lot, but we're not there yet.

[2015-04-21 15:07] Y4Rv1K commented on #176
Can we start with draft "List of MI ports"   that should be open at firewall?

[2015-04-21 16:08] cdmitri commented on #192
Could be! We were just planning for:

https://github.com/CiscoCloud/microservices-infrastructure/issues/163
https://github.com/CiscoCloud/microservices-infrastructure/issues/178

With first priority having dedicated clusters for full rebuild and CI daily testing of all feature branches, team will post the roadmap with the process starting tomorrow. It'll also have extensive logging, so we can mine

[2015-04-21 17:23] #193 closed

[2015-04-21 17:53] OleksandrBerchenko opened #197 "[feature/frameworks] hdfs_namenode_host is hardcoded in roles/hdfs/defaults/main.yml"
Please create a way to read hdfs_namenode_host automatically from an inventory file.

[2015-04-21 17:53] stevendborrelli commented on #186
@OleksandrBerchenko have you been able to test this?

[2015-04-21 17:54] OleksandrBerchenko commented on #186
Unfortunately, not yet :(  I will do my best to try it tomorrow.

Thanks!

[2015-04-21 17:56] OleksandrBerchenko opened #198 "[feature/frameworks] Issues in roles/hdfs/README.md"
1. hdfs_install_dir is not mentioned
2. hdfs_hadoop_opts is not mentioned
3. Rename the second instance of hdfs_namenode_host to hdfs_namenode_properties
4. hdfs_datanode_properties is not anymore
5. Describe hdfs_core_properties and hdfs_namenode_properties elements

[2015-04-21 17:57] OleksandrBerchenko opened #199 "[feature/frameworks] hdfs_datanode_properties is still mentioned in roles/hdfs/templates/datanode-hdfs-site.xml.j2"
hdfs_datanode_properties doesn't exist anymore, but it's still mentioned in roles/hdfs/templates/datanode-hdfs-site.xml.j2.

[2015-04-21 17:58] OleksandrBerchenko opened #200 "[feature/frameworks] Create hdfs user folders for all users"
Create hdfs user folders for all users from inventory/group_vars/all/users.yml + for centos.

[2015-04-21 17:59] OleksandrBerchenko opened #201 "[feature/frameworks] Please run hdfs as a service"
Please run hdfs as a service.

[2015-04-21 17:59] OleksandrBerchenko opened #202 "[feature/frameworks] There is no secondary Name Node in hdfs"
There is no secondary Name Node in hdfs.

[2015-04-21 18:01] OleksandrBerchenko opened #203 "[feature/frameworks] One Name Node for several datacenters"
Currently both 1-datacenter and 2-datacenter have their own name nodes.  Please note that we need one HDFS cluster, not a separate one in each datacenter.

Let me know if I miss anything.

Thanks!

[2015-04-21 18:03] OleksandrBerchenko opened #204 "[feature/frameworks] Install Spark on mesos_followers not on name_node"
Install Spark on mesos_followers not on name_node (spark.yml).

[2015-04-21 18:04] OleksandrBerchenko opened #205 "[feature/frameworks] Install java-1.8.0-openjdk on the Spark nodes"
Install java-1.8.0-openjdk on the Spark nodes.

[2015-04-21 18:05] OleksandrBerchenko opened #206 "[feature/frameworks] Put Spark binary locally"
We agreed to keep Spark binary locally on each host as a temporarily solution.  Please update the playbooks.

[2015-04-21 18:06] OleksandrBerchenko opened #207 "[feature/frameworks] Spark may have no "hadoop2.6" binary"
You have the following code:

- name: Download Spark binary
  run_once: true
  sudo_user: hdfs
  sudo: true
  get_url:
    url: "http://mirror.ox.ac.uk/sites/rsync.apache.org/spark/spark-{{ spark_version }}/spark-{{ spark_version }}-bin-hadoop2.6.tgz"
    dest: /tmp/spark-{{ spark_version }}-bin-hadoop2.6.tgz
  tags:
    - spark

Please note that there is no "hadoop2.6" packages before 1.3.1

[2015-04-21 18:08] OleksandrBerchenko opened #208 "[feature/frameworks] No need to create a user folder in hdfs for spark user"
See https://github.com/CiscoCloud/microservices-infrastructure/issues/200 .  HDFS role should create user folders for all existing users anyway.  There is no need to create a folder for centos user here.

[2015-04-21 18:21] stevendborrelli opened #209 "Make 1.9 the minimum version of ansible"
1.8 doesn't seem to detect Centos systemd services correctly, and will try to run `initctl`.

@BrianHicks: any problems with updating requirements.txt to 1.9?

[2015-04-21 18:33] BrianHicks commented on #209
We've already had people fixing various issues by upgrading to 1.9. I'd say go ahead and make it `==1.9`.

[2015-04-21 19:01] #192 closed

[2015-04-22 02:54] keithchambers commented on #209
Merged.

[2015-04-22 02:54] #209 closed

[2015-04-22 09:37] #208 closed

[2015-04-22 09:37] #207 closed

[2015-04-22 09:37] #206 closed

[2015-04-22 09:37] #205 closed

[2015-04-22 09:37] #204 closed

[2015-04-22 09:37] #203 closed

[2015-04-22 09:37] #202 closed

[2015-04-22 09:37] #201 closed

[2015-04-22 09:37] #200 closed

[2015-04-22 09:37] #199 closed

[2015-04-22 09:37] #198 closed

[2015-04-22 09:37] #197 closed

[2015-04-22 10:07] dimmk0 commented on #178
I'm working on this issue.

[2015-04-22 10:12] corebug commented on #53
I'm currently working on this issue.

[2015-04-22 13:43] maier commented on #53
i am as well. [collectd-cadvisor](https://github.com/maier/cadvisor-collectd/) is a work in progress. will be starting on ansible orchestration this week, got side-tracked by another issue late last week.

[2015-04-22 14:48] OleksandrBerchenko commented on #186
Hm...  Reading http://docs.ansible.com/intro_inventory.html.  Could you please describe your idea again?

For example, I have inventory/test-datacenter:

[code]

and I have inventory/group_vars/rillaar:

[code]

What exactly should I change?

Thanks!

[2015-04-22 16:29] OleksandrBerchenko opened #212 ""disable firewalld" step crashes"
After "disable firewalld" step was added recently, site.yml crashes with the following error:

[code]

Do I miss anything?

Thanks!

[2015-04-22 16:31] stevendborrelli commented on #212
Can you upgrade your python nova client?

`pip install -r requirements.txt`

[2015-04-22 17:29] OleksandrBerchenko commented on #212
That helped.  Thank you!

[2015-04-22 17:29] #212 closed

[2015-04-22 18:02] cdmitri commented on #167
SS QA team is looking at this

[2015-04-22 18:24] cdmitri commented on #186
@OleksandrBerchenko in this example, you use config like @stevendborrelli  has mentioned, but your inventory/group_vars/rillaar becomes inventory/group_vars/dc_rillaar or similar, just another level of vars that will get picked up by higher level. You can definitely do it if you move the vars in inventory/group_vars/rillaar directly into the same file as the ansible docs describe - try to do that

[2015-04-23 01:24] kenjones-cisco commented on #136
@BrianHicks have you considered or looked at https://github.com/kelseyhightower/confd for handling updating the haproxy configurations? It already supports etcd and consul both for pulling updated data to regenerate/update the configuration file from template and then restart the instance.

[2015-04-23 03:40] stevendborrelli commented on #136
@kenjones-cisco we're using consul-template to update haproxy configurations. We have a base container that you use for consul-template at https://github.com/CiscoCloud/docker-consul-template.

consul-template is very similar to confd, and was developed because confd does not support consul service discovery endpoints (and has no plans to do so, see https://github.com/kelseyhightower/confd/pull/10

[2015-04-23 03:47] kenjones-cisco commented on #136
Makes sense. Based on the open questions Brian had listed, I figured I'd offer input based on previous experience. Sounds like the questions have been already resolved. Looking forward to this change! :thumbsup:

[2015-04-23 09:46] tymofii-polekhin commented on #176
https://github.com/CiscoCloud/microservices-infrastructure/tree/feature/disable-auth

[2015-04-23 14:57] stevendborrelli commented on #151
@kenjones-cisco can we close this issue?

[2015-04-23 15:32] kenjones-cisco commented on #151
Yes.

[2015-04-23 15:32] #151 closed

[2015-04-23 17:19] OleksandrBerchenko commented on #145
Well, I have updated roles/mesos/templates/mesos-leader-iptables.tmpl.j2 changing:

[code]

to

[code]

After this change I'm finally able to make a telnet collection to port 15050 from outside the cluster:

Unfortunately, that didn't help to resolve the issue with Spark.  It still hangs on this step:

[code]

Is there anything else that should be done?

Thanks!

[2015-04-23 18:47] cdmitri commented on #145
@OleksandrBerchenko please work with Timofii @tymofii-polekhin and https://github.com/CiscoCloud/microservices-infrastructure/issues/176 to get the debugging done for this

[2015-04-23 19:49] bbaassssiiee opened #217 "Spark email address bounces"
"The team collaborates on Cisco Spark and GitHub Issues. Send an email to microservices-infrastructure-spark-room@external.cisco.com and we’ll add you to our Cisco Spark room!"

This email address does not exist.

Final-Recipient: rfc822;microservices-infrastructure-spark-room@external.cisco.com
Action: failed
Status: 5.0.0 (permanent failure)
Remote-MTA: dns; [173.36.13.143]
Diagnostic-Code: smtp

[2015-04-23 20:56] keithchambers commented on #217
Hmmm let me check.

[2015-04-24 00:48] keithchambers commented on #217
@bbaassssiiee check out https://github.com/CiscoCloud/microservices-infrastructure/commit/29a1775593df93359890565eb4633a4f6ff494f0 ... we're on Gitter now!  Hit us up!

[2015-04-24 00:48] #217 closed

[2015-04-24 15:44] loshkovskyi commented on #156
Some updates on this issue:

1. Docker 1.6 has not been packaged for CentOS 7 yet. We could use the [virt7-testing](http://wiki.centos.org/Cloud/Docker) repo, but I'm not sure if we want to do that.
2. There are two logging systems in CentOS 7: journald and rsyslog. The last one will get deprecated one day and we'll need to track that. Journald is not currently supported by Logstash.
3. Some our s

[2015-04-24 20:43] maier commented on #156
Is there any reason to not have logstash read the container logs directly? (the older jsonfile type)

Configuration input snippet:

[code]

Mounting the log location to be followed:

[code]

Is using [r]syslog more efficient? And as @loshkovskyi mentioned, syslog will be phased out in favor of journald the move to systemd. Though, that will probably take quite some time.

[2015-04-25 16:36] loshkovskyi commented on #156
Thank you @maier. It's a good idea to read the logs directly and it's easy to implement. But I thought it's less secure than using [r]syslog.

Anyway, I'm hitting the following bug: https://github.com/elastic/logstash/issues/3033 (it might be related to JRuby). So, the file input is currently broken in the latest Logstash 1.5 RC3.

[2015-04-27 20:14] loshkovskyi commented on #156
I think I have found where the problem is. Logstash is written in JRuby which requires `libc` to be present in the system. Whereas Alpine Linux provides Java compiled with `musl`:
[code]
For example, Ubuntu provides Java with the `libc` support:
[code]
That is the reason we are having such errors from JRuby and Logstash keeps failing to start when using the input file plugin.

I don't see any solu

[2015-04-27 20:24] stevendborrelli commented on #156
I'm ok with using another base. Can we open an issue with Alpine Linux and see what their answer is?

[2015-04-28 10:05] loshkovskyi commented on #156
I have submitted the following issues:
https://bugs.alpinelinux.org/issues/4127
https://bugs.alpinelinux.org/issues/4128

[2015-04-29 20:28] cdmitri commented on #212
Getting this on the latest master:

TASK: [common | disable firewalld] ********************************************
failed: [rillaar-us-internal-1-05] => {"failed": true, "parsed": false}
{"msg": "[Errno 2] No such file or directory", "failed": true, "cmd": "initctl version", "rc": 2}
{"msg": "cannot detect command to enable service firewalld, typo or init system potentially unknown", "failed": tr

[2015-04-29 20:31] stevendborrelli commented on #212
Can you check what version of ansible you are using? I think versions earlier than 1.8 have issues talking to systemd, so our requirements are for 1.9 and higher.

[2015-04-30 00:25] cdmitri commented on #212
Steven, I was running 1.9, but I had a development branch for module development. To latest (2.0) and it goes through.

[2015-04-30 03:42] brism commented on #156
The Project Atomic folks have added `journald` as a log driver in Docker 1.7. I know that's a ways off but something to think about.

http://www.projectatomic.io/blog/2015/04/logging-docker-container-output-to-journald/

[2015-04-30 03:55] brism commented on #87
I believe you're familiar but I'll add a note for using Vault, the newly released tool from Hashicorp: https://vaultproject.io. I believe it would integrate well with your current stack.

[2015-04-30 07:45] loshkovskyi commented on #156
Thank you, Brian! I'll keep an eye on it.

[2015-04-30 20:25] BrianHicks opened #228 "Add CA created by security-setup to common locations"
Currently, we have to skip verifying certificates in most places, `curl` being the most obvious when debugging (we have to use `curl -k` to skip verification) but it's also effecting everything that talks to consul, like consul-template.

A few items that need to change off of the top of my head:

- [X] create valid certificates for Nginx proxies (possibly for `*.service.consul`)
- [X] change cons

[2015-04-30 20:35] bketelsen commented on #228
It looks to me like you may be required to mount the host's /etc/consul-template/config.d directory in the haproxy container order to accomplish this.

[2015-04-30 20:36] BrianHicks commented on #228
we'll probably do something like that, as well as adding it as a CA for OpenSSL.

[2015-05-01 01:16] andreijs commented on #47
Should this be managed by vault ?

[2015-05-01 01:26] stevendborrelli commented on #47
Yes, that is the plan.

[2015-05-01 09:29] andreimc opened #231 "Vault failed to restart on Vagrant up current master"
NOTIFIED: [vault | restart vault] *********************************************
failed: [default] => {"changed": true, "cmd": ["systemctl", "reload", "vault"], "delta": "0:00:00.038964", "end": "2015-05-01 09:23:49.018432", "rc": 1, "start": "2015-05-01 09:23:48.979468", "warnings": []}
stderr: Job for vault.service failed. See 'systemctl status vault.service' and 'journalctl -xn' for details.

Wo

[2015-05-01 12:46] ChrisAubuchon commented on #231
Try changing in `roles/vault/handlers/main.yml` the command of the `restart vault` handler from `systemctl reload vault` to `systemctl restart vault`.

[2015-05-01 23:28] andreimc opened #233 "Port range missing in Vagrant file (4000..5000)"
As specified in roles/mesos/defaults/main.yml:

mesos_resources: "ports(*):[4000-5000, 31000-32000]"

In vagrant file only 31 to 32k are bound.

[2015-05-01 23:59] #231 closed

[2015-05-02 01:45] keithchambers commented on #233
Thanks for the issue and PR!

Just curious -- what breaks without this?

[2015-05-03 07:35] andreimc commented on #233
Basically you can not access any containers that you run and they fall under the 4-5k range which is half your stuff.

[2015-05-03 10:58] andreimc commented on #228
Hey @BrianHicks I am getting a few errors on the proxy_server on AWS using master:

2015/05/03 10:52:22 [ERR] (view) "services" Get https://consul.service.consul:8500/v1/catalog/services?wait=60000ms: x509: failed to load system roots and no roots provided
2015/05/03 10:52:22 [INFO] (view) "services" errored, retrying in 5s
2015/05/03 10:52:22 [ERR] (runner) watcher reported error: Get https://con

[2015-05-03 11:05] andreimc opened #235 "Zookeeper running on 3 ports in datacenter setup"
Hey guys,

I was spinning up on this on aws and zookeeper is running on all 2181, 2888, 3888 even tho I run zookeeper on 3 servers.

Should this be the case or do I need to overwrite the following:
zookeeper_ports: "-p 2181:2181 -p 2888:2888 -p 3888:3888"
with
zookeeper_ports: "-p 2181:2181"

Regards
Andrei

[2015-05-03 11:42] stevendborrelli commented on #235
Ports 2888 and 3888 are used within the Zookeeper for quorum and leader elections.

See http://docs.hortonworks.com/HDPDocuments/HDP1/HDP-1.3.7/bk_using_Ambari_book/content/reference_chap2_4b_2x.html.

If you are using more than one ZK node, they are required.

[2015-05-03 17:02] keithchambers commented on #233
I see -- good catch!  :+1:

I'll merge your PR now !

Thank you @andreimc !

[2015-05-03 17:02] #233 closed

[2015-05-04 01:16] andreimc commented on #235
Thanks :)

[2015-05-04 01:16] #235 closed

[2015-05-04 12:31] BrianHicks commented on #228
@andreimc what component are those log lines from? The code for this issue is in `feature/verified-ssl` if you'd like to try it, but it's not in any Docker containers yet.

[2015-05-06 00:22] andreijs commented on #228
hey @BrianHicks they are from the haproxy-consul docker container

It is having issues talking to consul

[2015-05-06 12:00] BrianHicks commented on #228
@andreijs @andreimc (are you the same person?) Would you please open a separate ticket for this? It's related to the changes on this one, but far enough away that I want to track it separately. Could you attach all logging output as well as what you expected to see when you ran whatever command?

[2015-05-06 15:53] corebug commented on #97
To me it looks (https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=provision-image.yml+site:https:%2F%2Fmicroservices-infrastructure.readthedocs.org) that such file is not referred to in the documentation.

[2015-05-06 16:20] BrianHicks commented on #97
indeed, this was removed by @keithchambers in #24.

[2015-05-06 16:20] #97 closed

[2015-05-07 15:21] ChrisAubuchon commented on #176
Can we look at https://github.com/CiscoCloud/microservices-infrastructure/pull/239 and see if it addresses the issue?

[2015-05-07 22:16] BrianHicks commented on #228
fixed partly in master and partly in one of @ChrisAubuchon's branches

[2015-05-07 22:16] #228 closed

[2015-05-08 04:16] andreimc opened #241 "Haproxy container can't talk to consul due to SSL certs"
Basically you get some errors when calling consul from haproxy container

[code]

[2015-05-08 08:49] andreimc opened #242 "Marathon/Mesos ports 5050 and ports 8080 no longer accessible"
since commit acef52f30267365ab4ef6650b3655c48f8f3026d marathon and mesos are no longer accessible in 1 data centre setup

[2015-05-08 10:26] andreimc commented on #241
ok so figured out why haproxy container does not work ... no ca certs and consul over SSL does not work

Solution is to install ca-certificates in docker container also pass the CONTAINER_CONNECT=consult.example.com otherwise it will fail with wrong issuer

[2015-05-08 13:03] ChrisAubuchon commented on #242
That commit is for Vagrant and shouldn't affect the 1 data center setup.

[2015-05-08 18:02] keithchambers opened #247 "Add coarse-grained options to security-setup"
Add coarse-grained `true|false` options for:

`--disable` which disables security for everything
`--enable` which disables security for everything
`--consul=false` which enables/disabled all Consul security
`--mesos=false` which enables/disabled all Mesos security
`--marathon=false` which enables/disabled all Marathon security
`--iptables=false` which enables/disables iptables for all

See: https:

[2015-05-08 18:07] keithchambers opened #248 "Improve readability of "security-setup --help""
Improve readability of "security-setup --help".

See https://github.com/CiscoCloud/microservices-infrastructure/pull/239 for background thread.

For inspiration below is the output from `docker --help`
[code]

[code]

[2015-05-08 20:20] BrianHicks commented on #248
Improved:

[code]

[2015-05-08 20:45] keithchambers commented on #248
Yea this is a huge improvement!

[2015-05-09 01:23] andreimc commented on #242
because of https://github.com/CiscoCloud/nginx-consul/blob/master/launch.sh#L19-L27

consul gets called on https:// and if you disable ssl for consul this no longer works

[code]

[2015-05-11 04:43] keithchambers opened #254 "Bootstrap Vagrant box with just 'git clone && vagrant up'"
I watched a number of people try to get started with microservices-infrastructure who did *not* read the instructions.  They all just wanted to do a `vagrant up` and most gave up when that didn't work.

We need to simplify the process for new developers -- it has to be easy easy easy.  Improvements should include:
* Support VirtualBox and VMware vagrant providers
* Require nothing but `vagrant up`

[2015-05-11 04:47] keithchambers opened #255 "Remove Registrator"
Chris and Brian -- with the new mesos-consul and marathon-consul bridges can we get rid of Registrator?  I'm thinking we can statically register ZK, HAProxy, etc in to Consul instead.

Make sense?

[2015-05-11 04:48] ChrisAubuchon commented on #255
I think ZK is the only thing still using registrator. We will have to rework it a bit but it's certainly doable.

[2015-05-11 04:50] keithchambers commented on #255
Cool -- let's rip it out.

[2015-05-11 05:05] joestein opened #256 "more simulated vagrant up"
It would be great to have vagrant up more simulate networked data centers. Should have configurable amount of data centers, within each data center (virtual ip e.g. https://github.com/mesos/kafka/blob/master/src/vagrant/Vagrantfile#L18 ) configurable amount of masters and slaves. The defaults for each would be == 1. This way we can test and launch on the two different services the clusters and ope

[2015-05-11 08:45] altvnk commented on #256
It would be great! I also think that in Vagrant config we can have more realistic sandbox with network interaction.
For now i working on dynamic box loading from YAML like this:

[code]
My realisation uses two network adapters on each box: one NAT and one Host-only so no any port-forwarding is needed. Vagrant even can add records to hosts file via plugin.
So in few days i can be able to make PR or

[2015-05-11 13:24] BrianHicks commented on #247
I'm going to simplify this down a little bit:

 - [ ] `--disable` disables everything
 - [ ] `--disable-consul` disables all Consul security
 - [ ] `--disable-mesos` disables all Mesos security
 - [ ] `--disable-marathon` disables all Marathon security
 - [ ] `--disable-iptables` disables all iptables rules

These will be high level options whose absence implies that everything should be *enabled*

[2015-05-11 13:24] keithchambers commented on #256
@altvnk this is what I'm thinking too.

[2015-05-11 14:37] BrianHicks commented on #247
Here's what I've got:

[code]

[2015-05-11 15:13] keithchambers opened #259 "Operationalize Zookeeper"
There is a lot required to run Zookeeper reliably in production including back/restore, purging transactions logs, rolling upgrades, etc. Tools like Exhibitor help to make it simpler.

We need to weigh our options, create a design, and then implement.

[2015-05-11 15:13] keithchambers opened #260 "Add GCE support"

[2015-05-11 15:14] keithchambers opened #261 "Add AWS support"

[2015-05-12 09:17] corebug commented on #160
I guess this is covered by #53.

[2015-05-12 09:20] corebug commented on #54
What about https://github.com/mesosphere/elasticsearch-mesos ?

[2015-05-12 09:57] corebug commented on #54
I'm currently working on this issue.

[2015-05-12 12:52] keithchambers commented on #54
We are developing an Elasticsearch framework over here: https://github.com/mesos/elasticsearch

[2015-05-12 15:34] stevendborrelli opened #266 "Implement consul 0.5.1 ACL upsert"
This should clean out a lot of our ACL code. 0.5.1 is scheduled for release the week of 5/12/2015.

https://github.com/hashicorp/consul/pull/909

- [x] upgrade packages to consul 0.5.1
- [x] upgrade cluster to consul 0.5.1
- [x] Replace our ACL creation and detection code with UUID generation in security-setup.

[2015-05-12 16:59] ChrisAubuchon commented on #255
https://github.com/CiscoCloud/microservices-infrastructure/pull/263

[2015-05-12 21:24] #247 closed

[2015-05-12 21:25] #248 closed

[2015-05-13 22:10] #134 closed

[2015-05-13 23:06] ramukima opened #271 "Using private docker repository for app"
An example in the docs on how to use 'uris' in marathon application deploy configuration file would be helpful.

[2015-05-14 14:34] kenjones-cisco commented on #271
@ramukima The title seems to indicate how to deploy a containerized app from a private docker repository. If that is the intent, when defining your json payload to submit to the marathon REST API, the image name would look like the following:

`registry.example.com/sample_ns/sample_repo:tag`

That would result in pulling the image from the private registry located at registry.example.com.

Your co

[2015-05-14 14:35] BrianHicks commented on #254
@ChrisAubuchon and I talked about this, and came up with the following:

 - mount the repository at a known location in the VM
 - install Ansible on the VM in a shell provisioner (`pip install -r requirements.txt`)
 - set up security in a shell provisioner
 - run Ansible in a shell provisioner

So really just all the steps that should be taken anyway, just in the VM. This will mean that if `securi

[2015-05-14 14:39] keithchambers commented on #254
Let's bang it out!

[2015-05-14 14:47] #255 closed

[2015-05-14 16:28] keithchambers opened #276 "Explicit versioning of MI developed packages and containers"
I am a strong believer that you must version control *all* production artifacts. We Need to iterate towards this.

To get there let's divide our artifacts in to 3 categories:

* CentOS repo packages: Here Red Hat Enterprise Linux provides a stable API so in practice pulling the latest is very unlikely to cause breakage. The public (CentOS) Yum repos contain all the versions of the packages ever re

[2015-05-14 19:18] BrianHicks commented on #136
OK, to update this rather old ticket and get it closed: we now have [marathon-consul](https://github.com/CiscoCloud/marathon-consul) for forwarding app information to Consul and [a new branch of haproxy-consul](https://github.com/CiscoCloud/haproxy-consul/pull/1) to play with. If @npateriya and @kenjones-cisco could review the documentation on that PR, that'd be helpful in getting this merged and

[2015-05-14 22:26] npateriya commented on #136
Can you please add in document how would multiple logically isolated instance of cassandra (ContainerPort: 9042), would be deployed and configured. For example
customer1-env1-cassandra
customer1-env2-cassandra
customer2-env1-cassandra
customer2-env2-cassandra
I am not able to follow changes closely, but  based on quick document reading. For each of above cassandra instance while creating marathon

[2015-05-14 23:44] bketelsen opened #277 "Vendor or Include all external dependencies"
For example several of the roles include dockerized versions of tools used in this repo.  They pull docker containers from unknown sources and end-users have no idea what is being used.

All external dockerfiles & projects should either be explicitly listed, or vendored/merged into this repository.

[2015-05-15 00:00] stevendborrelli commented on #277
This is a good point, and I agree:

Docker images should come from ciscocloud/<image>, with a versioned tag (not latest).
RPM/Deb artifacts should come from ciscocloud bintray

Were there any other artifacts you are thinking about?

[2015-05-15 00:11] bketelsen commented on #277
The specific bits that caused me to think of this were docker images and the Consul RPM.  There may be others.   RPM/Deb artifacts should be listed with pointers to whatever tools were used to create them.  Introducing binaries that are untraceable is verboten in many environments.

Keep up the great work - I'm really learning a lot from this project!

[2015-05-15 03:22] ChrisAubuchon commented on #266
PR https://github.com/CiscoCloud/microservices-infrastructure/pull/270

[2015-05-15 03:25] ChrisAubuchon commented on #254
This breaks with the merge of 'feature/image-build'. The 'CiscoCloud/microservices-infrastructure' Vagrant box needs to be able to mount synced folders for this plan to work.

[2015-05-15 03:32] keithchambers commented on #254
You're right. Probably a good time to add vagrant shared directory via SSH/SCP vs. the brittle kmod approach.  This way we can support any Vagrant provider (e.g., VirtualBox, VMware, OpenStack, etc). I won't have time to tackle this. @BrianHicks can you take this on too? Thx!

[2015-05-15 03:34] keithchambers commented on #277
Bro ... are you reading my mind ...? :+1: ;-)

https://github.com/CiscoCloud/microservices-infrastructure/issues/276

[2015-05-15 03:39] bketelsen commented on #277
apparently so!  Feel free to close as a dup.

[2015-05-15 06:04] nmarasoiu opened #278 "security"
Hi,
bash-4.3# ./security-setup
============= Certificates =============
----> certificate authority
serial already exists
index already exists
Traceback (most recent call last):
  File "./security-setup", line 700, in <module>
    main(parser.parse_args())
  File "./security-setup", line 688, in main
    item()
  File "./security-setup", line 466, in ca
    self.openssl_subject("security-setup"),

[2015-05-15 06:16] ChrisAubuchon commented on #278
Is the `openssl` command in your path?

[2015-05-15 06:32] #278 closed

[2015-05-15 06:33] nmarasoiu commented on #278
thanks, worked

[2015-05-15 06:41] ChrisAubuchon commented on #254
Check out https://github.com/CiscoCloud/microservices-infrastructure/tree/fix/gh-254.

All of the configuration is done inside the VM so there shouldn't be any external requirements besides Vagrant.

I think a lot of what is in `vagrant/provision.sh` can be moved to the CiscoCloud/microservices-infrastructure Vagrant box.

I had to reset the wait handlers to use the absolute path. For some reason

[2015-05-15 06:58] nmarasoiu opened #279 "Failure talking to yum: failure: repodata/repomd.xml from base: [Errno 256] No more mirrors to try."
Hi,

http://repo/centos/7/os/x86_64/repodata/repomd.xml: [Errno 14] curl#6 - "Could not resolve host: repo

==> default: Machine booted and ready!
==> default: Checking for guest additions in VM...
==> default: Mounting shared folders...
    default: /vagrant => /home/nicu/tools/microservices-infrastructure
==> default: Running provisioner: ansible...
PYTHONUNBUFFERED=1 ANSIBLE_FORCE_COLOR=true AN

[2015-05-15 06:58] nmarasoiu commented on #279
I am running Ubuntu 14.04

[2015-05-15 07:00] nmarasoiu commented on #279
I tried also a few rpm/yum based distros in docker, but the longest i got was to vagrant run, but virtualbox not properly installed, the host has 3.19 kernel, but the fedora image has kernel-devel-3.19, maybe this causes an issue, but it complains libvrt not installed (even though it is) and restarting vbox complains unable to unload vboxpci, even though the module is present in the host and guest

[2015-05-15 09:08] nmarasoiu opened #280 "Error fetching apps. Refresh to try again."
Hi,

Got it running, but doing:

1. Marathon ui states:
Error fetching apps. Refresh to try again.

2.
examples/hello-world/launch.sh -c examples/hello-world/hello-world.json -m 127.0.0.1 -u admin -p admin
gives no result.

[2015-05-15 10:55] tymofii-polekhin opened #281 "zookeeper container java eats up all host memory"
Load average: 3.29 3.16 3.59 4/634 233
  PID  PPID USER     STAT   VSZ %VSZ CPU %CPU COMMAND
   66     1 root     S    2410m  31%   0   0% /usr/lib/jvm/default-jvm/bin/java

i have no access to ciscocloud/zookeeper repo so i cant take a look an the docker image

suggestions i found:

To add JVM parameters to zookeeper, create file named java.env under conf folder in each of zookeeper with below co

[2015-05-15 10:57] nmarasoiu commented on #279
I fixed it manually, but it needs a more automatic one presumably.
I edited the yum conf.

[2015-05-15 11:39] keithchambers commented on #281
@tymofii-polekhin the container source (currently) is here: https://github.com/asteris-llc/docker-zookeeper

@stevendborrelli can you fork your asteris-llc repo in to CiscoCloud and update the Docker Hub build to pull from there?

[2015-05-15 11:58] keithchambers commented on #279
Can you share the manual edit you made to the yum config?

FWIW we are very away of the reliability challenges associated with provisioning 10s of JeOS VMs and then installing / upgrading 100s of RPMs and Docker images. We are moving to immutable images where everything is pre-baked. We're working closely to HashiCorp to develop support for on-the-fly importing of OpenStack and GCE images in Terra

[2015-05-15 12:50] stevendborrelli commented on #281
I've forked it to https://github.com/CiscoCloud/docker-zookeeper, and we'll update the docker hub shortly.

[2015-05-15 12:52] loshkovskyi opened #282 "Task "register zookeeper service" fails"
This problem appears intermittently. Playbooks run fails with the following error:
[code]

The handler `register zookeeper service` checks that zookeeper is started and enabled on the host boot. We use a systemd [unit file](https://github.com/CiscoCloud/microservices-infrastructure/blob/master/roles/zookeeper/templates/zookeeper-service.j2) to pull the zookeeper image and create a Docker container

[2015-05-15 13:08] tymofii-polekhin commented on #281
I'll try to fix this issue with java memory in this repo https://github.com/CiscoCloud/docker-zookeeper

[2015-05-15 13:15] tymofii-polekhin commented on #281
@stevendborrelli please, take a look https://github.com/asteris-llc/docker-zookeeper/pull/4

[2015-05-15 13:35] ChrisAubuchon commented on #281
Docker hub has been updated to use https://github.com/CiscoCloud/docker-zookeeper

[2015-05-15 13:57] tymofii-polekhin commented on #281
fix for java memory. https://github.com/CiscoCloud/docker-zookeeper/pull/1

[2015-05-15 14:22] stevendborrelli commented on #282
I'm testing this.

We may want to change the Docker to the Centos 7 1.6 version, which was just released.

[2015-05-15 14:26] stevendborrelli commented on #277
Marking as a dup.

[2015-05-15 14:26] #277 closed

[2015-05-15 14:50] loshkovskyi commented on #282
The Docker zookeeper repo seems to be private. Is that on purpose?
[code]

[2015-05-15 16:06] nmarasoiu commented on #279
That sounds amazing, I will read that a few times more:) I am familiar with the most of the technology names. We are quite happy with Consul and probably all the HashiCorp stack is just as great.

The change to /etc/yum.repos.d/CentOS-Base.repo was to apply the advice from its header, namely the part: "If the mirrorlist= does not work for you, as a fall back you can try the
# remarked out baseurl=

[2015-05-15 16:07] nmarasoiu commented on #278
Thanks, solved!

On Fri, May 15, 2015 at 9:16 AM, ChrisAubuchon <notifications@github.com>
wrote:

[2015-05-15 17:30] stevendborrelli commented on #282
So this is an error somewhere between docker and cents:

[code]

[2015-05-15 18:46] stevendborrelli commented on #282
It looks like this was due to a problem with the tianon/true container. @ChrisAubuchon has created some new container and we're testing a fix right now.

[2015-05-15 19:25] #282 closed

[2015-05-16 00:13] #242 closed

[2015-05-16 00:14] #241 closed

[2015-05-16 00:38] saswatp opened #286 "Ansible ssh (ping) not working"
I have been trying to follow the instruction for openstack setup using microservices-infrastructure 2.0 version . While host-* vms have been created successfully , software installation is failing as ansible is not able to ssh into the hosts.

I am using Openstack kilo and CentOS7 . CentOS7 image does have a centos user.

Here are the logs :
[code]

[2015-05-16 01:34] keithchambers commented on #241
Just noticed this issue -- is this a bug in our haproxy container we need to fix?

[2015-05-16 12:35] BrianHicks commented on #241
It is. Would one of you open an issue at [CiscoCloud/haproxy-consul](https://github.com/CiscoCloud/haproxy-consul) and I'll fix it on Monday?

[2015-05-16 13:29] stevendborrelli commented on #286
Can you log in via SSH directly to this host using this key?

Also, could you look at the server log via the OpenStack console? We're looking to see if cloud-init can pull the public key from the metadata service.

[2015-05-16 13:29] stevendborrelli commented on #266
#270 has been merged, closing

[2015-05-16 13:29] #266 closed

[2015-05-16 18:38] keithchambers commented on #241
@BrianHicks done! Thx!

[2015-05-17 17:36] stevendborrelli commented on #259
Tasks:
- [ ] test cluster after deploy (maybe use https://github.com/phunt/zk-smoketest)
- [ ] configure backup of zk transactions from zookeeper-data-volume container
- [ ] log rotation
- [ ] metrics
- [ ] consul agent monitoring

[2015-05-17 23:16] ohal opened #288 "security-setup: add 'nginx_admin_password_encrypted' value option"
While deploying cluster security.yml does not have value 'nginx_admin_password_encrypted' and security-setup does not define one.
After order of deploying was changed here https://github.com/CiscoCloud/microservices-infrastructure/commit/08098b571e06cc90860e77beacc7f595676d3b35 some dependencies cause an error:
TASK: [consul | install nginx admin password] *********************************
fatal:

[2015-05-17 23:24] keithchambers commented on #288
This was my bad. Do a got pull on master are try again. Should be good now.

[2015-05-17 23:50] ohal commented on #288
verified, looks well

[2015-05-17 23:50] #288 closed

[2015-05-18 06:49] nmarasoiu opened #289 "Consul HTTP api /v1 -> option to unsecure it?"
Hi,

I had the virtual "cluster" running today well, with hello-world.
Now I am porting our spring boot app to that.
Since we use consul tags (which are not part of its DNS I think), and as well we publish to consul many health indicators made available by spring actuator using HTTP API, and we have a discovery using HTTP API of Consul to filter by all these statuses,
I will try to desecure consul

[2015-05-18 08:21] nmarasoiu commented on #289
I will also be ok with any quick & clean solution, even if eliminating security (we want a proof of concept, security is not our main goal for this phase)..so eliminating the redirect from http://external_ip:8500 to https would be the best, how can I eliminate this redirect, or, alternatively, eliminate all the https and replace it with http?
Thanks

[2015-05-18 08:22] nmarasoiu commented on #289
I tried an ssh tunnel from task docker to vagrant host, to enable http:localhost:8500, but I receive channel 2: open failed: administratively prohibited: open failed, likely a firewall is still dropping, not sure where

[2015-05-18 08:26] loshkovskyi commented on #164
Please consider if can close this issue in regard to [d977e](https://github.com/CiscoCloud/microservices-infrastructure/commit/d977ee3dd0b9965dc319285da36a1c8b61d3c574)

[2015-05-18 08:29] loshkovskyi commented on #55
@keithchambers is this issue still relevant? For example, we don't have any central storage such as Elasticsearch cluster from where we could load and parse entries with Kibana.

[2015-05-18 14:18] stevendborrelli commented on #289
Consul tags are available via dns (only 1 is allowed). If you add a tag at the start of the DNS name, it will try to find hosts with that tag.

Try using `tag.host.service.consul`.

In the security setup script, there are options to disable consul ssl and security:

[code]

[2015-05-18 14:58] corebug commented on #286
I suppose the problem is that you forgot to run **security-setup** and add **-e @security.yml** before hosts provisioning.

[2015-05-18 15:33] cmgc commented on #259
I'm currently working on this issue.

[2015-05-18 18:16] saswatp commented on #286
I am slightly confused by the documentation and the security

Apparently, ansible-playbook site.yml --extra-vars=@security.yml is also
provisioning the hosts and setting up the keys.

openstack/provision-nova-key.yml also does that and the documentation asks
to run it.

Can anyone clarify the correct sequence of commands ?

Do I need to run @security.yml before provision-nova-key.yml ??

Thanks,
S

[2015-05-18 18:33] saswatp commented on #286
Here is what I am doing :

1. Setup openstack infrormation in group_var/dc1. Do run provision_key.yml
but  Don't run provision hosts
2. Run ./security_setup and then @security.yml.

security.yml tries to provision the hosts and then fails to reach it.

Is this the correct order ?
In the documentation page openstack setup comes before security setup is
discussed .
http://microservices-infrastructur

[2015-05-18 18:34] stevendborrelli commented on #286
@saswatp your SSH public key is deployed to the host during OpenStack provisioning. This is why I'm asking you to test direct SSH connections into the server. Even if nothing else is run from ansible, you should be able to log into the host once it is up and running.

If you populate the file `inventory/group_vars/all/users.yml`, additional keys will be provisioned during the Ansible run for the `

[2015-05-18 18:42] saswatp commented on #286
Steven,

My bad, I forgot to mention that . Direct SSH connection to the provisioned
ssh server is not working either.

ssh -o PasswordAuthentication=no centos@192.168.0.247 -vvv
OpenSSH_6.6.1, OpenSSL 1.0.1f 6 Jan 2014
debug1: Reading configuration data /etc/ssh/ssh_config
debug1: /etc/ssh/ssh_config line 19: Applying options for *
debug2: ssh_connect: needpriv 0
debug1: Connecting to 192.168.0.2

[2015-05-18 18:46] stevendborrelli commented on #286
Ok, that helps. Can you run `nova console-log <your instance-name>`? Or if you have access to the OpenStack console, you can click on the instance and get the logs from there.

We're looking for cloud-init logs. You should see something like this:

[code]

[2015-05-18 19:00] saswatp commented on #286
root@openstack-kilo-aio:/home/cisco# nova console-log host-02
[H[J[1;1H[?25l[m[H[J[1;1H[20;7H[mUse the ^ and v keys to change the
selection.
      Press 'e' to edit the selected item, or 'c' for a command prompt.
[4;80H [7m[4;1H      CentOS Linux, with Linux
3.10.0-229.el7.x86_64                           [m[4;79H[m[m[5;1H
CentOS Linux, with Linux 0-rescue-dae72fe0cc064eb0b7797f25bfaf69df
[m[5;79H

[2015-05-18 19:05] stevendborrelli commented on #286
This is an issue we have seen in the past with openstack, where the metadata service fails to provide the ssh key to the instance on boot. We've found that sometimes shutting down/restarting the instance helps (or we just re-provision it).

[2015-05-18 19:21] stevendborrelli opened #295 "Failed consul restart in Vagrant"
The docker role is calling consul restart (it should be consul reload) after loading the docker.json configuration file.

[code]

[2015-05-18 22:16] saswatp commented on #286
Restarting or re-provisioning it doesn't work. I am giving up on this.
This could be an issue with the private openstack setup that I have.

So, I moved to another setup (CCS) and re-trying .

I am running into completely unrelated issue when i try to provision hosts.

Host provisioning fails :

microservices-infrastructure]> ansible-playbook -i inventory/1-datacenter
openstack/provision-hosts.yml

[2015-05-19 00:40] stevendborrelli commented on #286
Can you check your versions of ansible and python-novaclient? This is what I have:

[code]

[2015-05-19 01:19] stevendborrelli opened #298 "Support consul 0.5.2"
Fixes a memory leak in consul.

[2015-05-19 01:20] stevendborrelli commented on #289
@nmarasoiu have you had a chance to test this?

[2015-05-19 01:21] saswatp commented on #286
I had ansible version 1.9.1 but I again installed 1.9.0.1 to be sure , but
that didn't help.

ansible 1.9.0.1
  configured module search path = None

python-novaclient (2.17.0)

----------

[saspraha@SASPRAHA-M-910F microservices-infrastructure]> ansible-playbook
-i inventory/1-datacenter openstack/provision-hosts.yml -vvvv

failed: [host-02] => {"failed": true, "parsed": false}
failed=True msg='n

[2015-05-19 01:34] stevendborrelli commented on #286
In python can you try running?

[code]

[2015-05-19 02:39] ChrisAubuchon commented on #298
PR https://github.com/CiscoCloud/microservices-infrastructure/pull/299

[2015-05-19 03:09] saswatp commented on #286
Python 2.7.9 (v2.7.9:648dcafa7e5f, Dec 10 2014, 10:10:46)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

<module 'novaclient.v1_1.client' from
'/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/novaclient/v1_1/client.pyc'>

On Mon, May 18, 2015 at 6:34 PM, Steven Borrelli <notifications@githu

[2015-05-19 04:22] nmarasoiu commented on #289
Hi,

I will give it a try with security off.
On dns , I would have need to get metadata values which we manage as tags
in consul, so it is not a filtering but a response format thing.
Fortunately we do not need them anymore if we can migrate dev to mesos too.

În data de marți, 19 mai 2015, Steven Borrelli <notifications@github.com> a
scris:

[2015-05-19 07:48] loshkovskyi commented on #295
Related to this PR #297

[2015-05-19 13:14] nmarasoiu opened #300 "[0.2.0] KeeperErrorCode = ConnectionLoss for /mesos"
Hi,

With 0.2.0, I retried multiple times, both provision and destroy+up, exactly like yesterday, when it used to work.

TASK: [mesos | create zookeeper acl] ******************************************
failed: [default] => {"changed": true, "cmd": "docker run --rm -e ZK_AUTH=super:eLkJBbOEyKNwouGBicxn4SMv5ETT+SvD7OgjZ8c5a2Hm -e ZNODE=/mesos -e ZNODE_ACL=world:anyone:r,digest:mesos:3KXBhDZ0nQFsKCjQn

[2015-05-19 13:17] nmarasoiu opened #301 "pip: ImportError: cannot import name IncompleteRead"
nicu@nmarasoiu:~/tools/microservices-infrastructure$ sudo pip install -r requirements.txt
Traceback (most recent call last):
  File "/usr/bin/pip", line 9, in <module>
    load_entry_point('pip==1.5.4', 'console_scripts', 'pip')()
  File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 351, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/li

[2015-05-19 13:17] nmarasoiu commented on #301
python --version
Python 2.7.6

I also have python3

[2015-05-19 13:55] nmarasoiu commented on #301
0.2.0

[2015-05-19 13:55] nmarasoiu commented on #300
0.2.0

[2015-05-19 13:55] corebug commented on #259
Possibly we can collect Zookeper metrics via collectd plugin?

[2015-05-19 14:43] tymofii-polekhin opened #302 "Deploy multi-datacenter cluster"
### Deploy multi-datacenter cluster

Currently i'm working on multi-datacenter deployment of `master` branch with consul fixes from PR #297

dc1: AMSTERDAM-1-SAND-1
dc2: TEXAS-1-SAND-1

##### Testing plan for multi-datacenter deployment
0. Deploy `master` on 2 datacenters
1. Test all core services (`mesos`, `marathon`, `consul`)

##### Test run 1:

[code]

##### Test run 2:
_(no changes, just re-r

[2015-05-19 14:46] nmarasoiu opened #303 "[master] : marathon | start jobs: Failed connect to localhost:18080;"
TASK: [marathon | start jobs] *************************************************
failed: [default] => (item=mesos-consul) => {"changed": false, "cmd": ["curl", "-X", "PUT", "-d@/etc/marathon/mesos-consul.json", "-H", "Content-Type: application/json", "http://localhost:18080/v2/apps/mesos-consul"], "delta": "0:00:00.159099", "end": "2015-05-19 14:41:52.952633", "item": "mesos-consul", "rc": 7, "star

[2015-05-19 14:57] nmarasoiu commented on #303
this is the only blocking issue we have on master.
on 0.2.0 we have the zookeeper ConnectionLoss on /mesos on restart

[2015-05-19 14:58] ChrisAubuchon commented on #303
This is a race condition in the ansible role. Trying to start a marathon job before ensuring that the marathon process is ready. Working on a fix.

[2015-05-19 15:04] stevendborrelli commented on #136
@BrianHicks is this ready to close?

[2015-05-19 15:05] BrianHicks commented on #136
This is actually probably the last one to close of the three. It depends on the changes to marathon-consul and haproxy-consul being merged. If that stuff looks good to everyone else though, I'll get all of it merged today.

[2015-05-19 15:10] nmarasoiu commented on #289
yep, works

[2015-05-19 15:10] #289 closed

[2015-05-19 15:10] #280 closed

[2015-05-19 15:12] ChrisAubuchon commented on #303
PR https://github.com/CiscoCloud/microservices-infrastructure/pull/305

[2015-05-19 15:20] kenjones-cisco commented on #136
My interest originally was the where it seemed to relate to potentially including weave and not having to deal with service offer ports. That way I don't have to lookup what port my container has but know it will always have port 27017 if it is mongodb. And then understanding how this proxy can or will work with the proxy I setup for my actual service being deployed within microservices-infrastruc

[2015-05-19 15:31] #303 closed

[2015-05-19 15:57] stevendborrelli commented on #136
@kenjones-cisco The plan is to include IP level resources into Mesos so that each task can get an IP assigned. There's a few groups getting together around that effort. For the short term we haven't decided on using weave or flocker, so we'll probably ask folks to use the marathon proxy until the Mesos networking picture becomes more clear.

[2015-05-19 16:15] cmgc commented on #259
Log rotation already [implemented.] (https://github.com/CiscoCloud/microservices-infrastructure/blob/master/roles/logrotate/files/docker)

[2015-05-19 19:20] BrianHicks commented on #136
@npateriya I added a [clarifying sentence](https://github.com/CiscoCloud/haproxy-consul/commit/4281a490d7be5222250a425332564cdd2f62aa4b) there. Basically, Marathon will show what "global" port it has assigned and haproxy-consul will forward those.

@stevendborrelli I think that's ready to merge if you wouldn't mind giving it a last lookover before we merge.

[2015-05-19 19:24] siddharthist opened #306 "Ansible doesn't wait for Vault port to open"
On vagrant provision, Ansible doesn't appear to be waiting for port 8200 to open.

[code]

[2015-05-19 20:20] stevendborrelli commented on #136
@BrianHicks merged & the docker container  (ciscocoud/haproxy-consul) was built with tag 0.1 for the merge.

[2015-05-19 21:03] saswatp opened #308 "upgradepackages.yml throws exception"
I am getting the following error while running

ansible-playbook site.yml --extra-vars=@security.yml -vvvv

Error seems to  be coming from the execution of upgradepackages.yml from provision-openstack.yml

Has anyone encountered this error before ?

Thanks,
Saswat

TASK: [refresh yum cache] *****************************************************
<['10.202.57.32']> ESTABLISH CONNECTION FOR USER: cent

[2015-05-19 21:54] ohal commented on #308
see /etc/hosts
probably, it has been wrongly updated/merged so ansible/ssh can not resolve host names.
I saw such an issue, but it was fixed last week

[2015-05-19 22:17] ohal commented on #286
this is probably caused by ansible 1.9.1
try the next solution:

1 uninstall all versions of ansible:
pip uninstall ansible
yum erase ansible

2 download and install ansible 1.8.4 using yum, from downloaded rpm
here the link ftp://ftp.sunet.se/pub/Linux/distributions/fedora/epel/7/ppc64/a/ansible-1.8.4-1.el7.noarch.rpm

3 install ansible 1.9.0.1 using pip

4 check what you have

do not upgrade ans

[2015-05-19 22:18] ohal commented on #308
this is probably caused by ansible 1.9.1
try the next solution:

1 uninstall all versions of ansible:
pip uninstall ansible
yum erase ansible

2 download and install ansible 1.8.4 using yum, from downloaded rpm
here the link ftp://ftp.sunet.se/pub/Linux/distributions/fedora/epel/7/ppc64/a/ansible-1.8.4-1.el7.noarch.rpm

3 install ansible 1.9.0.1 using pip

4 check what you have

do not upgrade ans

[2015-05-19 22:43] saswatp commented on #308
Kind of found the issue but not sure how to fix it  :

fatal: [host-04] => Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/ansible/runner/__init__.py",
line 582, in _executor
    exec_rc = self._executor_internal(host, new_stdin)
  File "/usr/local/lib/python2.7/dist-packages/ansible/runner/__init__.py",
line 785, in _executor_internal
    return self._executor_in

[2015-05-19 22:51] ohal commented on #308
reinstalling the ansible is the fix, you have the solution above

[2015-05-19 22:57] saswatp commented on #308
Thanks Oleh .

I have a ubuntu dev box so can't directly use the fedora epel rpm for
ansible.

BTW, If I install ansible via pip , is it not good enough ?
Do i have to also install via apt-get ?

thanks,
Saswat

On Tue, May 19, 2015 at 3:51 PM, Oleh Halenok <notifications@github.com>
wrote:

[2015-05-19 23:13] saswatp commented on #308
Removing and downgrading ansible via pip seems to have fixed the problem.

Thanks,
Saswat

On Tue, May 19, 2015 at 3:57 PM, Saswat Praharaj <saswat@gmail.com> wrote:

[2015-05-19 23:14] #308 closed

[2015-05-19 23:16] ohal commented on #308
it works for me on centos
myabe the next solution can help
1 try  to check which version you have installed using apt-get

uninstall all of them
2 uninstall ansible using pip
3 install using pip

4 upgrade using pip

[2015-05-20 00:21] saswatp commented on #308
Thanks Oleh . That problem is resolved now .

Here is the error message.

I am running into another problem during software installation :

TASK: [common | install httpd-tools]
******************************************
failed: [host-02] => {"failed": true}
msg: Error from repoquery: ['/usr/bin/repoquery', '--show-duplicates',
'--plugins', '--quiet', '-q', '--disablerepo', '', '--enablerepo', '',

[2015-05-20 02:47] stevendborrelli commented on #301
What platform are you running on? In doing a search on this, it is a python pip problem: https://bugs.launchpad.net/ubuntu/+source/python-pip/+bug/1306991

[2015-05-20 08:51] nmarasoiu opened #309 "The connection was reset (mesos, marathon UIs)"
Hi,

After Merge pull request #305 from CiscoCloud/fix/marathon-race, I keep getting Connection reset from 8080 and 5050, over http

[2015-05-20 09:04] nmarasoiu commented on #301
solved with easy_install -U pip

[2015-05-20 09:04] #301 closed

[2015-05-20 10:46] nmarasoiu opened #310 "[master] [consul | wait for leader]: Timeout"
failed: [default] => {"elapsed": 300, "failed": true}
msg: Timeout when waiting for 127.0.0.1:8301

FATAL: all hosts have already failed -- aborting

[2015-05-20 10:46] Y4Rv1K commented on #309
@nmarasoiu Web UI for marathon and mesos not available too?

[2015-05-20 10:50] nmarasoiu commented on #309
Right, both give RST, both from the vagrant host and the vagrant guest

[2015-05-20 10:51] nmarasoiu commented on #309
I must say I also got that with earlier commits, when rolling back with reset --hard..

[2015-05-20 10:53] nmarasoiu opened #311 "[consul | upsert agent acl]: Failed connect to localhost:8500; Connection refused"
failed: [default] => {"changed": true, "cmd": ["/usr/local/bin/consul-acl-bootstrap.sh", "6d765095-7cca-46f3-a47e-f0f789911bf6", "0e34c948-5d67-4227-b0f5-c0bb6aef9b1e"], "delta": "0:00:00.161851", "end": "2015-05-20 10:52:33.247242", "rc": 7, "start": "2015-05-20 10:52:33.085391", "warnings": []}
stderr:   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2015-05-20 10:53] nmarasoiu commented on #311
feature/consul-0.5.1...probably not supposed to work

[2015-05-20 10:53] #311 closed

[2015-05-20 10:56] nmarasoiu commented on #309
Are you aware of any version (commit; hash; tag) which could be more stable than the current master?
I tried 0.1.0, 0.2.0 and master, and all are failing to me, with the bugs I have put this week here, some were fixed, but currently all 3 are blocked right now for me.

[2015-05-20 11:01] Y4Rv1K commented on #309
Can you ssh to host and validate that something running at port 8080 and 5050 `netstat -nlupt | grep 8080` ?

And that is tcp or tcp6? What result of  `nc -v <master_host>  8080` ?

[2015-05-20 11:20] Y4Rv1K opened #312 "Can't start marathon/mesos UI if ./security-setup --enable=false"
We faced with issue that if we build cluster with `./security-setup --enable=false ` on top of OpenStack it finish successfully but:

1. Marathon UI not available but service is running on the host
2. Mesos UI not available but service is running on the host
3. Consul UI works fine

As result I'm not able to deploy app to cluster. In my case my Kafka scheduler ( branch `feature\frameworks`) not ab

[2015-05-20 11:31] nmarasoiu commented on #309
tcp6       0      0 :::8080                 :::*                    LISTEN      10536/docker-proxy
tcp6       0      0 :::5050                 :::*                    LISTEN      9189/docker-proxy
nc -v localhost 8080
Ncat: Version 6.40 ( http://nmap.org/ncat )
Ncat: Connected to ::1:8080.
Yes, option to disable all security (or just consul one)

[2015-05-20 11:38] stevendborrelli commented on #309
@nmarasoiu would you be open to doing a screen share so that I can walk through one of your deployments? I'd like to get a better feel of what is going on.

[2015-05-20 11:39] Y4Rv1K commented on #309
Lets change it a little bit.
Can you try instead `./security-setup --enable=false`:

1. `./security-setup`
2. `./security-setup --mesos-iptables=false --mesos-framework-auth=false` ?

[2015-05-20 11:40] nmarasoiu commented on #309
Yes, right now I am starting a fresh instance (vagrant destry + up) with option 1 above i.e. no option given to the security command

[2015-05-20 11:40] nmarasoiu commented on #309
I give to the

[2015-05-20 11:41] nmarasoiu commented on #309
I am available for a screen share, what tool do you suggest?

[2015-05-20 11:51] cmgc commented on #259
Steven, please clarify about Log rotation, as I see we have [some](https://github.com/CiscoCloud/microservices-infrastructure/blob/master/roles/logrotate/files/docker) role. This is what did you mean?

And about second task, for now zookeeper runs in docker with ciscocloud/data-volume as volume where we have in-memory database snapshots (/var/lib/zookeeper), and transaction log (/var/log/zookeeper

[2015-05-20 11:58] nmarasoiu commented on #309
NOTIFIED: [zookeeper | wait for zookeeper to listen] **************************
failed: [default] => {"changed": true, "cmd": ["zookeeper-wait-for-listen.sh"], "delta": "0:00:59.980486", "end": "2015-05-20 11:46:35.193057", "rc": 1, "start": "2015-05-20 11:45:35.212571", "warnings": []}

FATAL: all hosts have already failed -- aborting

TASK: [mesos | add mesosphere repository] *******************

[2015-05-20 12:01] nmarasoiu commented on #309
And running ansible again, it's back to: (an existing open issue made by me):
failed: [default] => {"changed": true, "cmd": ["docker", "run", "--rm", "-e", "ZK_AUTH=super:+Nt5e/wmF5gt4tN04SB/syZnqam10nNjoTHL1m+d4bt5", "-e", "ZNODE=/mesos", "-e", "ZNODE_ACL=world:anyone:r,digest:mesos:J+OaGBhZLLsFv0iG/Dpj4HWXTyI=:cdraw", "-e", "ZK_SERVER=zookeeper.service.consul:2181", "--entrypoint", "/usr/local/b

[2015-05-20 12:12] Y4Rv1K commented on #312
Looks like that my misunderstanding of options:

`./security-setup --mesos-iptables=false --mesos-framework-auth=false` works fine for me
 `./security-setup --enable=false` dose’t work for me even at master

[2015-05-20 12:59] nmarasoiu opened #314 "Need for a stable branch/tag"
Hi,

As mentioned in my reports, on both master and 0.2.0 I get the error below.
There is an issue just for that.
This issue is to target a stable tag/branch, because currently, I have nothing to start.
3 days ago, I was able to start it, but since than I could not longer do it.

failed: [default] => {"changed": true, "cmd": "docker run --rm -e ZK_AUTH=super:+Nt5e/wmF5gt4tN04SB/syZnqam10nNjoTHL1m+

[2015-05-20 13:02] ChrisAubuchon commented on #314
Try pulling the fix/gh-254 branch and running `vagrant up`. It removes external dependencies when starting a vagrant instance

[2015-05-20 13:04] altvnk opened #315 "Kubernetes-Mesos Framework"
We are currently working to add [kubernetes-mesos](https://github.com/mesosphere/kubernetes-mesos) to our Microservices platform. Kubernetes is going to be run as a Mesos framework with etcd (since it's the only available option at least for now). The research will cover how to build networking with Kubernetes, as there are multiple solutions available such as `Weave`, `Flannel`, `OVS` and others.

[2015-05-20 13:14] nmarasoiu commented on #314
Running fix/gh-254 raises the issue:
https://github.com/CiscoCloud/microservices-infrastructure/issues/279

[2015-05-20 13:22] ChrisAubuchon commented on #312
It is an issue with the nginx container. It is trying to connect to consul via SSL with Consul disabled.

Try the fix/nginx-ssl branch.

[2015-05-20 14:47] kenjones-cisco opened #316 "ansible bug impacts openstack environments"
After trying to use the playbook/reboot-hosts.yml to reboot my servers, I got the following error:

[code]

I went through making sure all modules are upgraded to the latest versions based on requirements.txt and then started debugging why a debug statement would cause a failure.

The `self.host` value which is set using the nova_compute core module to `host.private_ip`.

When a host is created th

[2015-05-20 14:49] ChrisAubuchon commented on #312
PR https://github.com/CiscoCloud/microservices-infrastructure/pull/317 is a better option for resolving

[2015-05-20 15:09] #306 closed

[2015-05-20 15:24] cmgc commented on #259
For now I manual did some tests (smoketest and latency) with https://github.com/phunt/zk-smoketest.
Smoke test result [here](https://gist.github.com/cmgc/7b3c25b36d59f1bc4ee5) .
Latency test result [here](https://gist.github.com/cmgc/2cede463b6a0f70c9b4e) and [here detailed](https://gist.github.com/cmgc/57eeb6a3f5119092160d).
Will be discussed about integration these tests to after deploy step.

[2015-05-20 17:03] stevendborrelli commented on #316
Thanks @kenjones-cisco for a fantastic bug report. Do you have any ideas of how we can address this in our project?

[2015-05-20 17:28] kenjones-cisco commented on #316
Basically the reason `openstack/provision-hosts.yml` is included at the beginning of every playbook is to do dynamic inventory discovery, after the initial creation of the hosts. Or when someone needs to update those hosts. But the other 90% of the time you just need to discover the IP addresses of your inventory.

At which point either leverage an inventory plugin to acquire similar information,

[2015-05-20 17:34] kenjones-cisco commented on #312
@ChrisAubuchon will that PR also resolve an issue I'm currently seeing where I can't access any of the UIs any longer and get 403 Forbidden from nginx for any of the 3 UIs (consul, mesos, marathon). I assumed it was due to the fact my security.yml was out of date. So I reran the security setup, and then the playbook ran successfully but the UIs are no longer accessible.

[2015-05-20 17:51] saswatp commented on #316
I encountered this issue yesterday and had reported this issue.
I was suggested to downgrade ansible to 1.9.0.1 as a work around for this
and downgrading to 1.9.0.1 actually fixed the issue.

Thanks,
Saswat

On Wed, May 20, 2015 at 10:29 AM, Kenny Jones <notifications@github.com>
wrote:

[2015-05-20 18:03] ChrisAubuchon commented on #312
@kenjones-cisco Separate issue. That is due to improper versioning of the nginx-consul container. That should be resolved now.

[2015-05-20 18:39] nmarasoiu opened #319 "is it possible to run ansible/puppet on the local machine directly?"
I am trying to ramp up cloud instances.
With the current cloud provider, I tried several recent distributions including centos7 and ubuntu 15 and even though installation of VirtualBox looked ok, I get

The guest machine entered an invalid state while waiting for it
to boot. Valid states are 'starting, running'. The machine is in the
'poweroff' state. Please verify everything is configured
properl

[2015-05-20 19:51] kenjones-cisco commented on #316
@saswatp Thanks for the information! That was very helpful.

[2015-05-20 20:29] stevendborrelli commented on #316
Closing this issue due to pull #320 getting merged.

[2015-05-20 20:29] #316 closed

[2015-05-20 20:30] stevendborrelli commented on #298
Closing due to pull #299.

[2015-05-20 20:30] #298 closed

[2015-05-20 20:53] ohal commented on #259
if I'm not wrong, such testing can be done only internally, because 2181 port is closed to public
so, if we're going to automate some tests (smoketest and latency) we have to think about the approach, so far I see the next solutions:
1 - deploy code to deployed fresh host in cluster (git, rpm etc), run, get the console output, it can take some time
2 - install/keep in tenant already configured hos

[2015-05-20 21:03] stevendborrelli commented on #312
I've merged #317. @Y4Rv1K can we test and close this issue?

[2015-05-20 22:36] Y4Rv1K commented on #312
@stevendborrelli sure.

[2015-05-21 02:15] stevendborrelli commented on #319
Can you provide a little more detail on what you are trying to do? If you paste in your Vagrantfile we can try to duplicate what you are doing.

[2015-05-21 02:17] stevendborrelli commented on #286
I worked with @saswatp today on this and was unable to make any progress on this. I think this is an issue for the Ansible folks.

[2015-05-21 02:19] stevendborrelli commented on #310
@nmarasoiu if you are open to it, I'd like to do a screen share where we can walk through a cluster provisioning so that I can help address these issues.

[2015-05-21 05:47] nmarasoiu commented on #319
Hello, yes, I would be happy to screen share with you, let's discuss time and tool to share, I will be here from now until 11:30 NewYork time.

I am just trying to start the stack as it is. The only modification is I give more resources to the vm, about half of the cpu and memory available, but I tried with less and more, and still same results (especially zookeeper timeout).

[2015-05-21 05:50] nmarasoiu commented on #319
The first step is to start a single node (which I only succeeded once, on my laptop).
Then go 4 nodes, 3 of them will be zk ensemble, 3 consul servers, so will always be a client side node too (consul client agent).
Will be interesting if docker plays well with consul, because we had issues with Docker's UDP Proxy.

[2015-05-21 08:32] loshkovskyi commented on #295
The PR has been merged, I think we can close this issue. I have tested deployment in Vagrant and it looks fine.

[2015-05-21 08:45] Y4Rv1K commented on #312
Tested and verified. Looks ok. feature/frameworks will be rebased to latest master.
Thank you

[2015-05-21 08:45] #312 closed

[2015-05-21 14:18] stevendborrelli commented on #295
@loshkovskyi thanks! closing the issue

[2015-05-21 14:18] #295 closed

[2015-05-21 14:20] stevendborrelli commented on #279
I've seen this problem with another user. Can you make sure your nodes have access to the internet?

[2015-05-21 14:53] corebug commented on #259
Metrics are gathered by collectd (https://github.com/CiscoCloud/microservices-infrastructure/pull/291).

[2015-05-21 15:04] stevendborrelli commented on #259
Port 2181 is open across the cluster.

One thing we can do is integrate the local tests into consul, so that the local system agent runs it.

Exit codes are as follows:
0 -> service passing
1 -> service warning
any other exit code -> service critical

The zookeeper role already has a simple script to monitor the service, we can probably add more check scripts.

[2015-05-21 15:14] steel4ge commented on #160
Task has been completed. Here is pull request #252 for this issue.

[2015-05-21 16:18] stevendborrelli opened #329 "Investigate using zkcli to set ACLs"
Looks like this zkcli is starting to get ACL support:

https://github.com/outbrain/zookeepercli/pull/8

Our way of setting ZK ACL's is hackish, this might be a better solution. I looked at this client before but it didn't support ACLs (and the java zkcli did not work well).

[2015-05-21 18:51] ohal commented on #259
so, approach is to use install/keep in tenant already configured host/node.
done with zk tests (smoketest and latency), implemented and integrated as after deployment testing steps.

[2015-05-22 02:41] stevendborrelli commented on #276
Here is a list of containers that need to be migrated to CiscoCloud:

Role         Docker images used in the role

consul       asteris/nginx-consul

haproxy      asteris/haproxy-consul

mesos        asteris/nginx-consul

marathon     asteris/nginx-consul
                    drifting/mesos-consul
                    brianhicks/marathon-consul

[2015-05-22 03:24] ChrisAubuchon commented on #276
[code]
were converted with commit https://github.com/CiscoCloud/microservices-infrastructure/commit/97f19ef4419aa80cca95ac24bc9b2bef4e1790df

[2015-05-22 03:28] stevendborrelli commented on #276
Thanks for the update. I think we can eliminate the other two containers pretty easily.

[2015-05-22 10:13] loshkovskyi commented on #315
We are affected by this bug right now: [Bug 1213258](https://bugzilla.redhat.com/show_bug.cgi?id=1213258)
For example, I can't use [coreos/etcd](https://registry.hub.docker.com/u/coreos/etcd/) due to the bug.

[2015-05-23 12:12] altvnk commented on #315
Because of specific networking model that used by Kubernetes (subnet per host) we need to build overlay network between hosts.
CoreOS team introduced [Flannel](https://github.com/coreos/flannel) which is designed to emulate Kubernetes networking model on cloud providers different than GCE.
I think we can try to adopt flannel to run in environment that MI provides.
Also flannel assumes that docker

[2015-05-23 19:09] keithchambers commented on #171
I'm going to assume this issues is resolved and close it out.

@Y4Rv1K please re-open this issue is it is not.

Thanks!

[2015-05-23 19:09] #171 closed

[2015-05-23 19:13] Y4Rv1K commented on #171
Yes. It is. Thank you

[2015-05-23 19:14] keithchambers commented on #76
Closing this issue as the investigation portion is now complete.

The conclusion is to move to overlayfs.  See PR https://github.com/CiscoCloud/microservices-infrastructure/pull/180 for implementation status.

Thanks @stevendborrelli for your work on this!

[2015-05-23 19:14] #76 closed

[2015-05-23 20:20] keithchambers commented on #329
Is this why every third `vagrant up` fails for me with:
[code]

[2015-05-23 21:50] ChrisAubuchon commented on #329
Can you look at /etc/systemd/system/multi-user.target.wants/zookeeper.service and see if the data volume is using the `tianon/true` container? There is an issue with that container and Docker 1.6 that caused us to create the `ciscocloud/data-volume:0.1` container to use instead.

[2015-05-25 04:41] kunickiaj commented on #261
I'm doing some work toward this. Testing against a single instance environment first, then multi instance.

[2015-05-25 09:55] cmgc commented on #259
- [X]  test cluster after deploy (maybe use https://github.com/phunt/zk-smoketest)  - added as additional check in jenkins in afterdeploy step.
- [ ]  configure backup of zk transactions from zookeeper-data-volume container - in progress now, 2-3 days to complete
- [X]  log rotation - already done [here.](https://github.com/CiscoCloud/microservices-infrastructure/blob/master/roles/logrotate/files/

[2015-05-25 10:23] altvnk commented on #315
I have spent some time trying to package kubernetes-mesos in Alpine Linux base image and run into issues around musl libc. The point is i cannot place binaries of kubernetes-mesos in container because i build them with gnu libc, alpine uses musl libc. Building kubernetes-mesos with alpine golang port ends with errors... I suggest that [busybox](https://registry.hub.docker.com/_/busybox/) is good a

[2015-05-26 11:04] #314 closed

[2015-05-26 11:04] #310 closed

[2015-05-26 11:04] #309 closed

[2015-05-26 11:04] #300 closed

[2015-05-26 13:09] tymofii-polekhin commented on #302
As PR #313 is merged to master i consider we can close this issue

[2015-05-26 13:09] #302 closed

[2015-05-26 13:13] tymofii-polekhin commented on #176
I think we may close this issue since PR #239 was merged into master?

[2015-05-26 14:14] loshkovskyi commented on #159
It looks like this task has been already completed.

Here is a list of our roles using `journald`:
[code]
`collectd` sends logs directly to Logstash.
`mesos` sends logs both to `journald` and `rsyslog`.

We use globbing to forward logs with `rsyslog`:
`*.* @@localhost:1514`

[2015-05-26 14:17] tymofii-polekhin opened #351 "Mesos Chronos framework"
I'm currently working on the task to add Chronos as Mesos framework.

[2015-05-26 15:29] BrianHicks opened #353 "logstash and collectd have Markdown READMEs"
The logstash and collectd have Markdown READMEs. They need to be converted to RST and added to the documentation site.

[2015-05-26 18:13] kenjones-cisco opened #356 "consul_dc_group undefined"
[code]

I believe the value is set, but it is being referenced as a simple variable instead of a complex variable.

[code]

[code]

The `consul_servers_group` is a simple variable and when plugged into `groups[]`, it would work. But since `consul_dc_group` is a complex as currently defined. it should probably be used as `consul_dc_group[dc]` instead of `consul_dc_group`, or the `dc=` portion can b

[2015-05-26 18:23] BrianHicks commented on #356
That error means that the value is set, but you don't have a group named `dc=yourdcname`. It's a pretty misleading error message. One would think they would raise a `KeyError`, but I guess not. Does it work if you add that group?

[2015-05-26 18:25] kenjones-cisco commented on #356
I do have a group named `dc1`

[code]

[2015-05-26 18:29] BrianHicks commented on #356
yes, but you either need a group named `dc=dc1` or to set `consul_dc_groups` in your group/host vars. This change was made to make the group names clearer. I recognize it's a hassle as it stands, but with our change to Terraform it separates a few concerns (EG naming the groups independently of the DC name.)

[2015-05-26 18:32] kenjones-cisco commented on #356
So the existing inventory/ files are all incorrect?
What about the `group_vars/dc1` and `group_vars/dc1`? Are we supposed to name a file to be `group_vars/dc=dc1`?

Seems rather counter-intuitive, and w/o those changes it definitely is not backwards compatiable.

[2015-05-26 18:36] BrianHicks commented on #356
Yes, they’re incorrect. The group_vars are being replaced by the
`terraform.py` script in 0.3.

Yes, it’s backwards incompatible, but Terraform creates so much of a
better experience that it’s worth making a breaking change. Going
forward, clusters should be provisioned only through Vagrant or
Terraform. Combined with the CLI the Trifork team is working on, this
will be a much better user experien

[2015-05-26 18:47] BrianHicks commented on #356
@kenjones-cisco are you able to get it working for now, either under Terraform or by modifying the vars?

[2015-05-26 18:55] kenjones-cisco commented on #356
If the group_vars are being replaced as it were, then that makes more sense.

On the current master then `ansible-playbook site.yml` will fail?

To use terraform, is that something ansible takes care of or is another executable separate from ansible needed to use terraform?

So to transition, we don't use inventory/ but now use terraform/?
Just trying to determine next steps, on what that will be.

[2015-05-26 19:09] BrianHicks commented on #356
To provision, you'll now need to:

1. provision your stack through Terraform. The sample files in `terraform/` should help with this, then `terraform get && terraform apply` should do the trick to get your servers up and running.
2. fill in your ACL datacenter from the template provided by `terraform.yml.sample` in the root (I'm assuming you'll name this `terraform.yml`)
3. run Ansible with `ansib

[2015-05-26 19:09] #356 closed

[2015-05-26 20:15] siddharthist commented on #353
I'll fix this now.

[2015-05-27 08:24] Y4Rv1K opened #359 "./security-setup --enable=false cause SSL error at Marathon REST API"
If cluster was built wit ` ./security-setup --enable=false` I got issue with Marathon REST API:

           0 0 0 0 0 0 0 0 --:--:-- --:--:-- --:--:-- 0curl: (35) SSL received a record that exceeded the maximum permissible length.

Command to reproduce:

             http --verify=no -a admin:admin POST https://host-02:8080/v2/apps < kafka.json

Can be reproduced at branch `qa/features-master-inte

[2015-05-27 12:18] nmarasoiu opened #362 "deploy on existing computers"
Hi,

I got my local vagrant running, just by retrying the same sequence after few days.

Now I want to test with rackspace machines.
I got ssh ping working: ansible all -i inventory/1-datacenter -m ping
I use /etc/hosts to spoof and map host-01 through host-05 to same ip in the cloud.

And I run security setup both locally and remote (where do I need to run?).
I run it with --consul false.

Now tr

[2015-05-27 12:19] nmarasoiu commented on #362
I do not necessarily want openstack, not do I understand its role at the moment.
My machines will be already defined (I provide them with docker-machine for now).

[2015-05-27 12:20] nmarasoiu commented on #362
also want to mention that i prefer other authentication methods such as the key pair, not the password. maybe would be better to clarify context on the os_password above and alternatives if any

[2015-05-27 12:25] nmarasoiu commented on #362
Setting a password, retry, now gives:
nicu@nmarasoiu:~/tools/microservices-infrastructure$ ansible-playbook -i inventory/1-datacenter site.yml -e @./security.yml

PLAY [localhost] **************************************************************

TASK: [check for security] ****************************************************
skipping: [localhost]

PLAY [localhost] ************************************

[2015-05-27 12:33] stevendborrelli commented on #362
Are you running off of master? We've just implemented terraform (terraform.io) provisioning to clusters, which allows us to deploy to Google Cloud, OpenStack, and AWS (coming this week).

We've found a huge amount of incompatibilities between Ansible 1.9.X and the python-novaclient modules, which is causing many users to fail with errors. This is why we are shifting to terraform.

For the error yo

[2015-05-27 12:35] nmarasoiu commented on #362
Hi,

I am not sure if I have an openstack env. I just have a rackspace account, and have 1 running machine, which I wanted to provision with all roles (for now; after this works i will go 4 nodes).

I am in the process of studying how to use rackspace public cloud as an openstack provider, I am now anticipating it would offer a public api endpoint and a way to authenticate to it, and likely i will

[2015-05-27 12:59] ChrisAubuchon commented on #359
`--enable=false` turns off SSL for Marathon. Authentication too. Can you try it using?
[code]

[2015-05-27 13:22] BrianHicks opened #363 "Use Consul DNS instead of .novalocal"
Templatizing the hosts file to include `.novalocal` worked when we were only on OpenStack, but now that we have multiple providers we need a better way to do service discovery. Fortunately, we have Consul DNS, which will probably work.

 - [ ] change Mesos to use DNS name
 - [ ] change Marathon to use DNS name

[2015-05-27 13:53] #353 closed

[2015-05-27 14:00] nmarasoiu commented on #362
Is there a clear way to deploy to a number of existing IPs with ssh keys installed?
Can I find a documentation on this?
We must evaluate rackspace, but they offer openstack only in private cloud with $25K monthly fee.
Apparently they also offer some way to automate creating vms because docker-machine has a working rackspace driver (not the openstack driver) which worked for me. But that needs to b

[2015-05-27 14:50] #158 closed

[2015-05-27 14:56] siddharthist commented on #114
The link in the first comment is broken. I believe it should point [here](http://microservices-infrastructure.readthedocs.org/en/latest/getting_started/openstack.html).

[2015-05-27 15:49] stevendborrelli commented on #329
That pull request was merged, so we'll be able to test it for 0.4.

[2015-05-27 16:16] Y4Rv1K commented on #359
Good point. I see the problem. Thank you. I will check and let you know.

[2015-05-27 16:49] BrianHicks commented on #260
This is merged into master.

[2015-05-27 16:49] #260 closed

[2015-05-27 16:51] BrianHicks commented on #166
Now that we have Terraform this is pretty easy. A playbook:

[code]

We no longer have to worry about inventory files because of the dynamic inventory module. ([plugins/inventory/terraform.py](https://github.com/CiscoCloud/microservices-infrastructure/blob/master/plugins/inventory/terraform.py))

[2015-05-27 16:52] BrianHicks commented on #176
Closing, this was taken care of by #239.

[2015-05-27 16:52] #176 closed

[2015-05-27 16:56] BrianHicks commented on #31
@keithchambers did we want to revisit extending TF for this capability? We probably should open a new ticket for that. Otherwise, I'll close this ticket when we release 0.3.

[2015-05-27 17:03] BrianHicks commented on #145
I see a number of issues still here, but to track the work more accurately I'm going to close the ticket (I believe the original question is resolved. If it isn't, please reopen.) If you feel that an issue you raised here is still outstanding and not addressed by an existing ticket, please open a new one. Thanks!