[2015-05-27 17:03] #145 closed

[2015-05-27 17:05] BrianHicks commented on #186
This is supported by the new Terraform configuration options. See the docs on the feature/terraform-docs branch.

[2015-05-27 17:05] #186 closed

[2015-05-27 17:06] #271 closed

[2015-05-27 17:10] BrianHicks commented on #351
Please use #43 to track work on this.

[2015-05-27 17:10] #351 closed

[2015-05-27 22:10] tymofii-polekhin commented on #43
I'm working on this right now, and by far i got this output:
1. Downloaded source code from https://github.com/mesos/chronos
2. Installed maven and nodejs to build
3. Successfully launched chronos as mesos framework (with authentication disabled)

Working on ansible role for this

[2015-05-28 09:16] sony2 commented on #259
[WARN] agent: Check 'service:2181:zkid-1' is now warning

I receive this warning in all controllers.

[2015-05-28 12:16] tymofii-polekhin commented on #43
Found a workaround to launch mesosphere/chronos package
Working on this right now

[2015-05-28 14:44] nmarasoiu opened #376 "rackspace supported?"
Hi,

Running terraform gives me 401, bad credentials.
I can login with nova client however.
Is there a specific configuration that I need to add / modify?
(I noticed rackspace uses a non standard authentication mechanism somewhat plugged into the standard openstack auth flow. Is this correct?)

[2015-05-28 14:49] stevendborrelli commented on #376
I haven't tested rackspace, but for openstack, you need to copy the `terraform/openstack.sample` file to  the main directory and modify it for tenant_name, etc.

[2015-05-28 14:54] nmarasoiu commented on #376
ok, i will check. I am afraid rackspace != openstack, because:
1. they have their custom authentication
2. they have non-cloudstack api too (e.g. docker-machine uses a rackspace driver, but it has an openstack one too)
3. a lady from their sales told me they only support openstack integrations at their higher pay subscription

[2015-05-28 14:54] #376 closed

[2015-05-28 16:12] stevendborrelli opened #378 "Marathon port is hard coded in consul registration."
Port is hard coded to 18080 in the `/etc/consul/marathon.json` file.

If security is disabled, marathon listens on port 8080, but is being registered to 18080. This breaks haproxy forwarding.

[2015-05-28 18:26] kenjones-cisco opened #383 "plugins/inventory/terraform.py (openstack region)"
I had to remove region from the terraform files from the openstack samples in order to get terraform to provision keypair and hosts without errors. But the plugin requires region even though openstack doesn't require it (atleast not the version of openstack I'm leveraging).

Maybe change the plugin to use a .get('region') instead of doing ['region']

[2015-05-28 18:29] ChrisAubuchon commented on #383
Were you able to provision via Terraform without the region? It looks like the region is required by Terraform: https://github.com/hashicorp/terraform/blob/master/builtin/providers/openstack/resource_openstack_compute_instance_v2.go#L35-L39

[2015-05-28 18:39] kenjones-cisco commented on #383
Yes, the provision works great if I remove region from the terraform templates. And I just downloaded and installed terraform this morning so it is the latest version.

If I include region, then I get errors.

[2015-05-28 18:40] stevendborrelli commented on #383
@kenjones-cisco I've been able to use regions in two separate data centers. What values are you using?

[2015-05-28 18:44] kenjones-cisco commented on #383
the one time I actually tried with region, I just typed in "stage" as region has not been part of any provisioning previously.

[2015-05-28 18:48] stevendborrelli commented on #383
@kenjones-cisco can you try using something like us-texas-1 or eu-amsterdam-1?

[2015-05-28 19:15] kenjones-cisco commented on #383
With region (including trying with us-texas-1), I get the following error:

[code]

which I figure is related to the following:

[code]

Then after doing `get`, `plan`, and then `apply`, I get the following:

[code]

[2015-05-28 19:17] kenjones-cisco commented on #383
If I remove region all together from each of the 3 files, then it works with no issues. From the terraform `get`, `plan`, and `apply` portion.

As soon as I try:

[code]

The plugin throws a KeyError because there is no region to pull in.

[2015-05-28 19:29] kenjones-cisco commented on #383
Just tried to use the name of the openstack instance as the region value, and it started working. So basically it is just a bad error message from terraform since the value must be specific. But interesting that it is not required either. Since apply will run successfully even if region is not provided or set as an environment variable.

[2015-05-28 19:37] kenjones-cisco commented on #383
FYI, probably should make note in the documents regarding openstack, that the variables set as part of the opernrc.sh have to be removed in order to make use of the environment variables. Otherwise terraform complains the variables are not set.

[2015-05-28 20:13] kenjones-cisco opened #385 "marathon | wait for marathon to listen fails on atleast 1 node every time"
Since before the merging of the terraform changes, the `wait for marathon` task will fail on atleast one of the nodes. It will only succeed on a single node or no nodes.

[code]

Seems to be a timeout issue, so not sure what the root cause is here.

[2015-05-28 20:24] ChrisAubuchon commented on #385
Can you log in to the server and run `/usr/local/bin/zookeeper-wait-for-listen.sh` and check the return value?

[2015-05-28 20:32] kenjones-cisco commented on #385
On the server after everything completes, I'm not getting an error when running the script.
But when I run the tasks through ansible, it will error out.

[2015-05-28 20:35] ChrisAubuchon commented on #385
Can you run `systemctl restart zookeeper` on the node and see how long it takes? I'm wondering if the restart of zookeeper is taking too long.

[2015-05-28 22:05] ChrisAubuchon commented on #385
Can you run `echo $HOSTNAME` and see if it is `cchub-control-02.novalocal`? That's what I'm seeing when reproducing the issue.

[2015-05-28 22:29] #363 closed

[2015-05-28 22:37] BrianHicks opened #387 "Move terraform.py to a separate top-level CiscoCloud project"
@stevendborrelli suggested today that we move `terraform.py` to it's own repo. I think that could make sense, but wanted to get the team's feedback.

Pros:

 - `terraform.py` is tested separately, and checkins can automatically be tested with Travis or Wercker and their ilk.
 - the inventory module should follow the release schedule of Terraform instead of microservices-infrastructure, and a separ

[2015-05-28 23:05] keithchambers commented on #387
Honestly I would try to KISS and leave it in the same repo.

[2015-05-28 23:51] kenjones-cisco commented on #385
it takes maybe 3-5 secs to restart zookeeper, and yes that is the address `cchub-control-02.novalocal` that I'm seeing.

Is the novalocal the issue?

[2015-05-29 00:10] kenjones-cisco commented on #387
I can see both perspectives on this one, but if it is in a repo and actually published to pypi as a project then it is as simple as pip install to integrate and use.

I was already trying to think through this myself as now I'll need the same plugin within my project for dynamically discovering my env to do deploys of the containers that make of my service. I had built one for working specifically

[2015-05-29 06:14] #319 closed

[2015-05-29 06:15] nmarasoiu commented on #279
Yes I did have access to the internet. Otherwise, no matter changes to config, it would not have eventually wored (I mentioned a change in the yum.repos.conf and then it worked)

[2015-05-29 11:20] tymofii-polekhin commented on #43
https://github.com/CiscoCloud/microservices-infrastructure/tree/feature/chronos

[2015-05-29 11:27] tymofii-polekhin commented on #43
Chronos ansible role
https://github.com/CiscoCloud/microservices-infrastructure/commit/f4cd4d4066bdbaf3bd4177262cc628718410c798

[2015-05-29 13:36] tymofii-polekhin opened #392 "Chronos fails to start with zk auth"
If we run a chronos with `--zk-hosts chronos:8WDxe30zbCzcuZJc@zookeeper.service.consul:2181` param we get the following error:
[code]

`host=chronos:8WDxe30zbCzcuZJc@zookeeper.service.consul:2181` -  i think this is the cause of the issue.

The marathon log looks a little different:
[code]

i cant say if marathon just drops the auth part and this makes it start, or its an error in the chronos args

[2015-05-29 13:56] ChrisAubuchon commented on #385
Yes. We had a hack in to add the .novalocal addresses to /etc/hosts. It was removed by default but is restored with https://github.com/CiscoCloud/microservices-infrastructure/commit/72808e960c359bfd4327578cd40aced85ca7eebe

[2015-05-29 14:29] BrianHicks opened #396 "Chronos role needs to go in terraform.sample.yml"
See discussion at #390. This just needs to happen after that PR is merged.

[2015-05-29 15:38] BrianHicks commented on #276
marathon-consul is migrated as well. What do we have remaining?

[2015-05-29 15:39] BrianHicks commented on #261
This is merged, working, documented, and tested in master. :+1:

[2015-05-29 15:39] #261 closed

[2015-05-29 15:40] BrianHicks commented on #254
This mostly works, but it's slow because our base image is a little outdated (it needs new container versions so it can come up quickly.) Can we create a new base image on Atlas for this?

[2015-05-29 17:16] rida4 opened #399 "Wrong attached storage device name in OpenStack"
When we attach a volume as "/dev/vdb" (for example) it may appear on the guest machine with any other name (for example, "/dev/vdc"). That "slighlty" breaks our playbooks.
 bug description https://bugs.launchpad.net/nova/+bug/1217874

[2015-05-29 17:46] BrianHicks commented on #254
as of ef02f93 this issue will be closed with #357.

[2015-05-29 18:16] ChrisAubuchon commented on #378
Closed per @stevendborrelli

[2015-05-29 18:16] #378 closed

[2015-05-29 18:18] #254 closed

[2015-05-29 18:22] BrianHicks commented on #149
mesos-consul will be released as part of 0.3.0, it will provide DNS for all services registered in Mesos. This will be in combination with marathon-consul, which will provide enough information to forward to Marathon apps from Haproxy. I think that covers all our bases for discoverability.

[2015-05-29 18:22] #149 closed

[2015-05-29 18:52] cdmitri commented on #399
@rida4 Could you please provide more info on what we're trying to do in which playbook? Usually so far it's been just adding everything as /dev/vdb if we run in from CLI

[2015-05-29 21:44] stevendborrelli commented on #276
Almost there:

logstash is not using a ciscocloud container & is using `latest`:

[code]

two containers are still using `latest` instead of an explicit version:

[code]

[2015-05-30 02:52] stevendborrelli opened #402 "Get rid of ansible openstack playbooks"
Are these needed anymore? Between terraform and updated roles, I don't see the need for any of them.

[code]

There are duplicate playbooks for some of these in the `playbooks/` directory.

Any objections to me removing them?

[2015-05-30 03:01] cdmitri commented on #402
Let's drop those, agreed - we can support the hackathon with prior commits
and features-master branch. Perhaps wait for Monday for changes in master
for team to sign off?
On May 29, 2015 7:53 PM, "Steven Borrelli" <notifications@github.com> wrote:

[2015-05-30 05:24] nmarasoiu commented on #376
So yes, Rackspace does not support standard Openstack.
For that reason Terraform is introducing a Rackspace provider.
That is in work for a month but suspended at the moment.
It might already work and maybe Tuesday I will give it a try.

[2015-05-30 15:13] #362 closed

[2015-05-30 15:15] nmarasoiu commented on #279
This did reproduce consistently with Vagrant until 1 week ago.
Since then I succesfullly deployed on Amazon without the hack documented here.
The bug may still be up

[2015-05-30 15:15] #279 closed

[2015-05-30 18:49] kenjones-cisco commented on #385
That did resolve the issue I was seeing.

[2015-05-30 22:46] stevendborrelli commented on #387
I actually think it should be in both places. We have conflicting goals:

1) make microservices-infrastructure awesome & easy to use
2) create tools that are useful beyond the project and benefit others

For 1), we want to keep it in the MI repo, and for 2), we'd want it in a separate project.

If we go with a separate project, we should just copy tested releases into MI so that the user never has

[2015-05-30 22:51] stevendborrelli commented on #359
@Y4Rv1K can you test this on monday so we can either address the bug or close the issue?

[2015-05-31 10:34] Y4Rv1K commented on #359
No needs. I'm closing.

[2015-05-31 10:34] #359 closed

[2015-05-31 21:10] tayzlor commented on #387
We're looking at this (or something very very similar) as well as part of https://github.com/Capgemini/Apollo. There might be an opportunity to collaborate here on a separate 'terraform inventory' project ?

[2015-05-31 21:33] BrianHicks commented on #387
@tayzlor: that sounds like a great opportunity to collaborate. Worst case
we can share changes between repos, but it sounds like it would be best to
separate the code into a common repo for that.

@steve: there are enough maintenance tasks (releases, doc building, etc)
that I've been thinking we need a makefile or something to standardize.
This sounds like an ideal rule!

Overall I'm surprised at

[2015-05-31 21:41] stevendborrelli commented on #387
@BrianHicks so we are doing the separate project?

@tayzlor collaboration sounds great. I think there are a few more places we can share ideas and code.

[2015-05-31 21:46] BrianHicks commented on #387
Yeah, I think so in this case. I'll get it set up on Monday. For now we can release versions in lock-step with MI, so 0.3.0 will be released first.

[2015-06-01 02:39] stevendborrelli commented on #156
Docker 1.6 has been included with Centos7 for a couple of weeks and includes a syslog driver. Should we just enable that?

[2015-06-01 10:44] OleksandrBerchenko commented on #399
If you are adding an external volume like "/dev/vdb" (either via nova or Horizon), there is a high chance that it will be added exactly like "/dev/vdb".  But there is still a small chance that it will be added like "/dev/vdc" or something else.  In other words, nobody can guarantee you an exact path on the guest machine.  There is a bug for OpenStack already: https://bugs.launchpad.net/nova/+bug/1

[2015-06-01 15:26] cdmitri commented on #399
Let's do a workaround and main thing - test it with TF - if it gets fixed
in latest openstack, it still might get a while for that fix to get to our
infra.

On Mon, Jun 1, 2015 at 3:44 AM, OleksandrBerchenko <notifications@github.com

[2015-06-01 15:43] stevendborrelli commented on #31
Marking as closed.

[2015-06-01 15:43] #31 closed

[2015-06-01 15:45] stevendborrelli commented on #104
This looks like it is on the roadmap for Marathon 0.9.

[2015-06-01 16:05] stevendborrelli commented on #85
Basic consul ACL's have been added. We're developing a tool that will allow ACL management via command line, which can then be integrated with cluster provisioning.

[2015-06-01 16:07] stevendborrelli commented on #177
This was added to the Terraform configuration, via #367. Marking as closed.

[2015-06-01 16:07] #177 closed

[2015-06-01 16:08] stevendborrelli commented on #136
@BrianHicks can we close this issue?

[2015-06-01 16:11] stevendborrelli commented on #286
@saswatp we got rid of using Ansible to deploy openstack nodes in favor of terraform (due to issues like this one). I'm going to close this issue.

Please feel free to open it again, or open an issue against the terraform openstack deployment.

[2015-06-01 16:11] #286 closed

[2015-06-01 16:15] BrianHicks commented on #136
I think the variables need to be set to Marathon still.

[2015-06-01 17:14] stevendborrelli opened #412 "Remove Ansible variables"
With the move to terraform, we can remove many of the Ansible variable flies.

Looking at the `inventory/` directory, it seems that most can go.

Let's assume that the plan is to delete them all. What needs to remain?

These seem ready to remove:
[code]

Remove:
[code]

I think we need to move these to terraform (if not there already):
[code]

Not sure what this is used for, it just contains a .gi

[2015-06-01 20:38] stevendborrelli opened #420 "User provisioning broken with terraform"
Looks like the users are not getting provisioned using terraform dynamic inventory.

Right now a fix is to pass in the user file to ansible via `-e @users.yml`

[2015-06-02 12:11] nmarasoiu opened #423 "[ansible/zookeeper] ConnectionLoss for /mesos"
Hi,

First time  I run ansible (after fresh terraform provisioning in aws), it works.
Second time (third and so on), it gives the error below.
It was an extremely frequent error with local vagrant deploys too.
Right now I keep ramping new clusters every time.
What is happening? Is there a solution?
Thanks
Nicu Marasoiu

TASK: [mesos | create zookeeper acl] *****************************************

[2015-06-02 15:19] BrianHicks commented on #387
I've copied `terraform.py` to a new repo, we will copy it in for releases.

https://github.com/CiscoCloud/terraform.py

[2015-06-02 15:19] #387 closed

[2015-06-02 16:05] BrianHicks commented on #420
for 0.4 maybe we should make a little daemon to populate users from Consul?

[2015-06-02 16:06] ChrisAubuchon commented on #420
I was thinking a Consul+Vault combination.

[2015-06-02 16:07] BrianHicks commented on #420
exactly!

[2015-06-02 16:21] corebug commented on #53
Closed by https://github.com/CiscoCloud/microservices-infrastructure/pull/417.

[2015-06-02 16:21] #53 closed

[2015-06-02 16:22] #402 closed

[2015-06-02 16:22] corebug commented on #259
Metrics are gathered by collectd (https://github.com/CiscoCloud/microservices-infrastructure/pull/417) Zookeeper plugin.

[2015-06-02 18:03] nmarasoiu commented on #423
Reproduces consistently on second, third ansible application with terraform.yml,
my latest master commit I am is:
commit eca1776df6e4a55128c6cc0c5bfb7368b54c3cdf
Author: Brian Hicks <brian@brianthicks.com>
Date:   Mon Jun 1 09:38:29 2015 -0500

    roles: add bootstrap tag to all network dependencies

[2015-06-02 18:05] nmarasoiu commented on #423
so, scenario:
1. rm terraform.tfstate*; terraform get; terraform plan; terraform apply
ansible-playbook -i plugins/inventory/terraform.py -e @security.yml terraform.yml
Result: OK, all up, I can deploy stuff on the cluster and works.
2.
ansible-playbook -i plugins/inventory/terraform.py -e @security.yml terraform.yml
Result: error zookeeper above

[2015-06-02 18:07] nmarasoiu opened #425 "multiple frameworks loaded in mesos, limiting memory"
Hi,

I had this situation today, with my master at eca1776df6e4a55128c6cc0c5bfb7368b54c3cdf
Mesos worked, but memory was too limited compared to cluster.
Investigated and found 2 frameworks running, both Marathon instances, and filled with my tasks both of them. Only one was visible on 8080 (the older one I remember).
What could cause this, do you know?

[2015-06-02 19:16] stevendborrelli commented on #425
Can you check to see if those are mesos-consul and marathon-consul? Those are components that we use for service discovery. They both are configured to use 0.1 CPU and 128MB of RAM.

[2015-06-02 19:17] stevendborrelli commented on #423
Thanks for the bug report. We'll try to duplicate this issue and see what is going on.

[2015-06-02 19:18] stevendborrelli commented on #385
@kenjones-cisco Are we ok to close this issue?

[2015-06-02 19:24] kenjones-cisco commented on #385
Yes, the fix that @ChrisAubuchon applied did the trick and the issue has been resolved.
Thanks

[2015-06-02 19:25] stevendborrelli commented on #385
Thanks!

[2015-06-02 19:25] #385 closed

[2015-06-02 19:38] stevendborrelli opened #426 "Add DigitalOcean terraform provider"
Lead: @BrianHicks

- update terraform.py to support DO output
- Add terraform modules for DO

[2015-06-02 19:43] BrianHicks commented on #426
tracking at `feature/terraform-do`

[2015-06-02 19:53] stevendborrelli commented on #167
We're developing a consul-friendly framework to do this.  This will be part of 0.3.1 or  0.4.

[2015-06-02 19:56] BrianHicks opened #427 "Change default haproxy mode to Marathon"
See discussion in #136 - the feature is there (in haproxy-consul), it just needs to be turned on.

[2015-06-02 19:57] stevendborrelli commented on #136
-  haproxy-consul was updated to support this via https://github.com/CiscoCloud/haproxy-consul/pull/1
- marathon consul runs by default

For 0.3, the consul backend will be used. 0.4 will use marathon backend as default. See #427.

[2015-06-02 19:57] #136 closed

[2015-06-02 19:57] nmarasoiu commented on #425
Hi,

There were more, in both frameworks. It should have been just 1 marathon
with 700m occupied but it was another with 1G that consisted of these and
my tasks. i wonder how a second marathon was started..i only run ansible
once afaik

În data de marți, 2 iunie 2015, Steven Borrelli <notifications@github.com>
a scris:

[2015-06-02 20:19] stevendborrelli opened #428 "Chrome breaks with nginx-mesos SSL"
Situation: using SSL to secure the mesos 5050 endpoint.

When using chrome to access a sandbox, we get the following error:

[code]

[2015-06-02 20:34] stevendborrelli commented on #425
Could you post a screenshot of your marathon state or mesos tasks? That would help us understand what is going on in your environment.

[2015-06-02 20:35] stevendborrelli commented on #164
Logstash was merged. Closing.

[2015-06-02 20:35] #164 closed

[2015-06-02 21:27] ryane commented on #428
open mesos issue: https://issues.apache.org/jira/browse/MESOS-1825

[2015-06-02 22:03] BrianHicks commented on #69
Terraform obsoletes this ticket. The inventory is now dynamic, you can name things whatever you want!

[2015-06-02 22:03] #69 closed

[2015-06-03 10:04] loshkovskyi commented on #156
@stevendborrelli sorry for a long reply. I've already tested the new syslog driver in CentOS 7 and I have several concerns with it. The Logstash output is disabled by default, that is we don't send logs anywhere. If we enable the syslog driver, the Docker containers json logs won't be created anymore. Having such logs is useful for debugging. Furthermore, the `/var/log/messages` file starts growin

[2015-06-03 14:39] stevendborrelli commented on #156
@loshkovskyi great answer. I'm going to close this issue and we can go with the Logstash solution that allows the user to forward to an external service.

[2015-06-03 14:39] #156 closed

[2015-06-03 14:54] stevendborrelli commented on #157
We'll target Logstash for 0.3, and this feature for 0.4

[2015-06-03 14:55] #159 closed

[2015-06-03 21:11] #160 closed

[2015-06-04 10:01] ohal commented on #167
we've already started automated tests developing.
pls, see section - Robot-framework automated testing - here https://github.com/CiscoCloud/microservices-infrastructure/blob/qa/features-master-integration/docs/jenkins_ci.md

[2015-06-04 14:23] stevendborrelli commented on #167
@ohai How far have you gotten with the test creation? Is that document up to date?

[2015-06-04 16:56] BrianHicks opened #440 "some roles are undocumented"
Roles that need a README explaining what they do:

 - [x] common
 - [x] consul-template
 - [x] dnsmasq
 - [x] docker
 - [x] logrotate
 - [x] nginx
 - [x] vault

These are probably fine to leave out for the 0.3 release but should be documented eventually.

[2015-06-04 17:04] BrianHicks opened #442 "provision users with Consul and Vault"
from discussion on #420

Initially SSH key install / basic integration.
Future, discuss PAM-Consul plugin?

[2015-06-04 17:05] BrianHicks commented on #420
I'm closing this for 0.3, but I've opened #442 to track the ongoing work of moving it out of Ansible.

[2015-06-04 17:05] #420 closed

[2015-06-04 19:50] BrianHicks commented on #276
marathon-consul is updated to 0.1

[2015-06-04 22:53] ohal commented on #167
I've updated document.
So far the next components are covered by automated testing:
- Consul
- HDFS
- Mesos
- Marathon

Currently Spark and Kafka components tests are under investigation/development.
Here you can find test report http://173.39.214.186/job/PR-to-qa-features-master-integration-CCS-MI-US-INTERNAL-1-QA-1/49/robot/report/log.html

[2015-06-04 23:12] ryane opened #452 "rsyslog not forwarding on systems when selinux is enforcing"
I noticed that logstash was not receiving syslogs on an AWS cluster but was working fine on a Vagrant install. On the AWS image, selinux is in enforcing mode; on the Vagrant image it is in permissive mode. Setting selinux to permissive on the AWS cluster allows forwarding again. Probably just need to configure selinux with a syslog port of 1514.

[2015-06-05 00:50] stevendborrelli commented on #276
Thanks everyone! Closing this issue.

[2015-06-05 00:50] #276 closed

[2015-06-05 01:16] stevendborrelli commented on #163
Moving this to 0.3.1

[2015-06-05 01:57] stevendborrelli commented on #259
Marking closed for the 0.3 release. We'll add more production features in the future (and look at exhibitor).

[2015-06-05 01:57] #259 closed

[2015-06-05 12:39] stevendborrelli commented on #452
@ryane good find. Should we target this fix for 0.3.0 or 0.3.1?

[2015-06-05 13:40] andreysabitov opened #458 "Supporting VMware vSphere"
I'm currently working on that feature.
I'm developing module for Terraform and adding functionality to **plugins/inventory/terraform.py** for processing result **.tfstate** file.

[2015-06-05 15:04] ryane commented on #452
this is ready to test, I think

[2015-06-06 19:24] matjohn2 opened #462 "Terraform inventory plugin doesn't work when region is blank."
When using terraform automation and then the inventory plugin; terraform.py fails when the region in the terraform manifest is set to ``` region = "" ```.

This is necessary for openstack environments which do not have region support enabled.

[2015-06-06 19:43] BrianHicks commented on #462
@matjohn2 I'll fix that - could you send me your .tfstate or a stacktrace so I can reproduce?

[2015-06-06 20:44] matjohn2 commented on #462
Got everything you needed from our chat or want me to paste still?

[2015-06-07 17:20] #452 closed

[2015-06-07 17:38] stevendborrelli opened #464 "Update Dockerfile for terraform"
- [ ] Add terraform install to Dockerfile
- [ ] change CMD to be a script that provisions via terraform and ansible

[2015-06-07 18:14] #462 closed

[2015-06-07 18:36] BrianHicks opened #466 "0.3.0-RC2 testing"
0.3.0-RC2 is now available as a tag or 491e79c.

Testing:

 - [x] GCE deployment
 - [x] AWS deployment
 - [x] OpenStack deployment

Final checks:

 - [x] changelog

[2015-06-07 18:36] BrianHicks commented on #466
Testing GCE now.

[2015-06-07 18:56] BrianHicks commented on #466
on to AWS!

[2015-06-07 20:20] tymofii-polekhin commented on #43
https://github.com/CiscoCloud/microservices-infrastructure/pull/437

[2015-06-07 20:34] BrianHicks commented on #466
next up: openstack

[2015-06-08 12:29] tymofii-polekhin opened #467 "Cassandra Mesos Framework"
I'm working on this right now and will update this issue with progress and bugs found

Using this package: `http://downloads.mesosphere.io/cassandra/cassandra-mesos-2.0.5-1.tgz`

[2015-06-08 14:06] stevendborrelli commented on #464
@kenjones-cisco we've moved to using terraform for cloud deployments, this still reflects the old deployment method.

One issue I've found is that the terraform binary available from hashicorp doesn't seem to run in Alpine linux.

[2015-06-08 16:20] loshkovskyi opened #468 "Update OpenStack docs for Terraform"
Terraform looks great, thank you for adding it.

I've tested deployment in CiscoCloud and thought that we could extend our [docs](https://github.com/CiscoCloud/microservices-infrastructure/blob/master/docs/getting_started/openstack.rst) a little bit to make the deployments clearer for end users.

1. In particular `You can find them in openstack/ in the main project directory` looks to be outdated.

[2015-06-08 16:27] altvnk commented on #468
I support, I had to make some effort to understand all the things. We must highlight more details in the documentation.

[2015-06-08 16:37] stevendborrelli commented on #468
@loshkovskyi @altvnk thanks for the raising the issue. We're working on it now.

[2015-06-08 16:45] BrianHicks commented on #468
@loshkovskyi @altvnk I've pushed the docs at f07556c, would you review? I'm not sure what you mean by your public key comment, it uses a path now.

[2015-06-08 16:49] ohal opened #469 "terraform: wrong region configuration"
after commit https://github.com/CiscoCloud/microservices-infrastructure/commit/d5001a16574832065e4fbcba0216b01380cf9dee

terraform is failing to deploy with issue below:

fix these before continuing.

do we need to remove also related to 'region' configuration code below?

https://github.com/CiscoCloud/microservices-infrastructure/blob/master/terraform/openstack/keypair/main.tf

index 56c1e61..c3a

[2015-06-08 16:54] altvnk commented on #468
Thanks guys, now it looks more obvious how to start using terraform.

[2015-06-08 17:04] #468 closed

[2015-06-08 17:06] kenjones-cisco commented on #464
@stevendborrelli is there a prefered base? centos, debian, ubuntu. I had considered updating but with the changes over the past week or so I thought it would be a good idea to wait for 0.3 to settle.

[2015-06-08 17:07] BrianHicks commented on #469
@ohal could you try setting `variables region { default = "" }`  in your configuration and see if that fixes the issue?

[2015-06-08 17:36] ChrisAubuchon commented on #469
Commit https://github.com/CiscoCloud/microservices-infrastructure/commit/f8da7e5

[2015-06-08 18:42] #469 closed

[2015-06-08 18:43] BrianHicks commented on #469
@ohal if f8da7e5 doesn't fix this issue for you, feel free to reopen.

[2015-06-08 21:07] #466 closed

[2015-06-09 12:07] ohal commented on #469
looks well, fixed by changes http://10.203.29.112:8080/view/CCS-MI-US-INTERNAL-1-QA-1/job/COMMIT-to-master-CCS-MI-US-INTERNAL-1-QA-1/57/

[2015-06-09 12:48] tymofii-polekhin commented on #467
Succefully deployed Cassandra on a test cluster

cassandra-stress:
[code]
nodetool status
[code]

[2015-06-09 15:46] stevendborrelli opened #472 "Add support for dcos-cli"
This will simplify framework deployments:

https://github.com/mesosphere/dcos-cli

[2015-06-09 17:32] ohal commented on #167
from now each PR and COMMIT to master branch are going to be deployed and tested as cluster with core services, also zookeeper smoke and latency tests are configured as post deployment step.
here you can find report: [robot framework report](http://173.39.214.186/view/CCS-MI-US-INTERNAL-1-QA-1/job/COMMIT-to-master-CCS-MI-US-INTERNAL-1-QA-1/63/robot/report/report.html "robot framework report")
afte

[2015-06-09 18:31] loshkovskyi commented on #399
You can use the following command to set the required device name ([docs](http://docs.openstack.org/openstack-ops/content/attach_block_storage.html)):
[code]

with Terraform it's possible to go this way:
[code]
Run usual `terraform plan` and `terraform apply` and check the instance attachments:
[code]
It should be `/dev/vdd` as to this example.

[2015-06-09 22:40] stevendborrelli commented on #423
@nmarasoiu are you still seeing this issue with 0.3.0?

[2015-06-09 22:44] matjohn2 opened #475 "Add demo apps for common M-I usecases"
As an engineer, I want to see and easily demo common solution-driven demo's ontop of MI to demonstrate the value/ease of the platform.

[2015-06-09 22:46] matjohn2 commented on #157
@cdmitri is working on different approaches to supporting logging and analytics. This issue is now more generic, there will always be the option to redirect logging to an external syslog-based location

[2015-06-09 22:51] stevendborrelli opened #476 "Basic Zoomdata support"
Launch ZD via docker container for visualization

[2015-06-10 02:50] michaeltchapman commented on #114
Some detail around provisioning with private networks + floating IPs:

1. All the required resources (router, floating_ip, network, subnet, router_interface) are already in Terraform. (yay!)
2. The default quota for routers in CCS is 1. (boo)
3. Terraform currently doesn't seem to be able to consume an existing resource if it exists and create otherwise. (boo)

This means that any tenant that has

[2015-06-10 06:18] nmarasoiu opened #478 "Failed to issue method call: Unit collectd.service not loaded."
Hi,

With 0.3 I get:

NOTIFIED: [mesos | restart collectd] ******************************************
failed: [mi-worker-01] => {"failed": true}
msg: Failed to issue method call: Unit collectd.service not loaded.
Failed to issue method call: Unit collectd.service failed to load: No such file or directory.

failed: [mi-worker-03] => {"failed": true}
msg: Failed to issue method call: Unit collectd.s

[2015-06-10 06:42] nmarasoiu opened #479 "failed while "wait for zookeeper to listen"..timeout can be increased?"
NOTIFIED: [zookeeper | wait for zookeeper to listen] **************************
failed: [mi-control-02] => {"changed": true, "cmd": ["/usr/local/bin/zookeeper-wait-for-listen.sh", "mi-control-02"], "delta": "0:01:00.497816", "end": "2015-06-10 06:35:58.828809", "rc": 1, "start": "2015-06-10 06:34:58.330993", "warnings": []}
failed: [mi-control-01] => {"changed": true, "cmd": ["/usr/local/bin/zooke

[2015-06-10 10:58] corebug opened #480 "Move collectd to common role"
At the moment it is required that collectd role is provisioned before any roles that include collectd plugins
(https://github.com/CiscoCloud/microservices-infrastructure/issues/478 and several similar problems were noticed).
As it's been already said, we must not rely on roles order for everything to work properly, so i propose to move all collectd installation related code to common role since co

[2015-06-10 10:59] corebug commented on #478
@nmarasoiu  It looks like collectd wasn't installed on a system before the mesos deployment.
What is your roles order.

[2015-06-10 11:04] nmarasoiu commented on #479
fixed increasing timeout value..

[2015-06-10 11:04] #479 closed

[2015-06-10 11:07] nmarasoiu commented on #478
it was right after common, like on master/0.3.
I commented out all references to starting or restarting the collectd service which may be optional for what i need now

[2015-06-10 11:09] nmarasoiu commented on #478
also, interesting is that in terraform.sample.yml, the collectd role was duplicated, i now removed the one below (i saw a commit fixing a duplication, it may be the same thing, but i think i updated 2 hours ago)

[2015-06-10 11:56] corebug commented on #478
@nmarasoiu the point is that to collect metrics from MI core software (Mesos, Marathon etc) we use collectd's plugins that are installed as parts of corresponding roles. It's pretty obvious that plugin install step can fail without the collectd core and its directories, configs and systemd service. I guess, to get rid of such problem in future we should just move collectd to common role (https://g

[2015-06-10 11:56] corebug commented on #478
I think we can close the issue by now.

[2015-06-10 12:38] #478 closed

[2015-06-10 13:49] #425 closed

[2015-06-10 13:49] #423 closed

[2015-06-10 13:49] nmarasoiu commented on #423
(no, luks ok, run twice)

[2015-06-10 18:32] noahjl commented on #27
I believe for the images we'd either want an ephermal disk, or we just need to pass to the instances a user data file at creation -

http://docs.openstack.org/image-guide/content/ch_openstack_images.html
http://docs.openstack.org/user-guide/cli_config_drive.html

Theory:
Seems like something along the lines of changing terraform/openstack/hosts/main.tf to have a user_data variable for control & wo

[2015-06-10 19:53] noahjl commented on #399
This is likely caused by UUID, or path changing due to how the hypervisor handles the drives. RHEL7 variants really should not suffer from this anymore...

If we could verify cause on a server this occurs on we could guarantee a persistent naming method using udev rules.

In the interim we could just slap a label on the disks, or force the naming to be by path.

If we do this via TF i think the re

[2015-06-11 12:19] corebug commented on #480
@stevendborrelli what do you think about this issue?

[2015-06-11 15:05] #464 closed

[2015-06-11 15:42] stevendborrelli commented on #458
Fixed via #471

[2015-06-11 15:42] #458 closed

[2015-06-11 15:42] stevendborrelli commented on #426
Fixed via #449

[2015-06-11 15:42] #426 closed

[2015-06-11 15:44] stevendborrelli commented on #412
Marking as closed. `/inventory` has been removed as of 0.3.0

[2015-06-11 15:44] #412 closed

[2015-06-11 15:46] stevendborrelli commented on #63
Moving this to low priority.

[2015-06-13 13:59] ohal commented on #163
actually, it is publicly accessible, but it might be what we want to see:

 * [ciscocloud jenkins ci documentation](https://github.com/CiscoCloud/microservices-infrastructure/blob/qa/features-master-integration/docs/jenkins_ci.md "ciscocloud jenkins ci documentation")
 * [jenkins ci](http://173.39.214.186/view/CCS-MI-US-INTERNAL-1-QA-1/ "jenkins ci")

[2015-06-14 02:36] stevendborrelli opened #484 "Add KONG as an example app"
Create an example configuration for http://getkong.org showing:

1. Running Cassandra Mesos framework
2. Running the KONG docker container

[2015-06-14 04:17] sinzone commented on #484
+1

[2015-06-14 05:14] stevendborrelli opened #485 "Check ssh key settings in ansible.cfg"
Came from hacker news discussion:

"In ansible.cfg, is a default of "host_key_checking = no" and "record_host_keys = no" a good idea?"

Investigate removing these settings.

[2015-06-14 17:41] stevendborrelli opened #486 "Mesos role priorities"
In mesos-user (http://www.mail-archive.com/user@mesos.apache.org/msg03574.html), there was a great post by Alex Gaudio on setting weights and roles to give priorities to different frameworks.

We should investigate setting these as part of the build.

[code]

[2015-06-15 06:21] michaeltchapman opened #487 "Mesos fails to bind when using floating IPs"
When using floating IPs within OpenStack, the Mesos master is attempting to bind to the floating IP instead of its internal IP.

    mesos-master[10943]: F0615 06:16:25.256098 10943 process.cpp:868] Failed to initialize: Failed to bind on 173.37.43.141:15050: Cannot assign requested address: Cannot assign requested address [99]

[2015-06-15 13:28] eirslett opened #488 "Override consul data center name"
I'm bootstrapping a data center at digitalocean, in the "ams3" zone. But I want to define the name as "amsterdam0" in consul. How can I override that property?

[2015-06-15 13:43] stevendborrelli commented on #488
In the terraform.yml file, you can set the `consul_dc` var to what setting you want it to be. Make sure that your `consul_acl_datacenter` var matches your DC.

The `consul_dc` var is locaed in `roles/consul/defaults/main.yml`

[2015-06-15 13:56] stevendborrelli opened #489 "Digital ocean: 1GB is too small for a control node"
With Mesos, Chronos, ZK, and consul, 1GB is too small for a control node.  @ryane let's increase this to 4GB.

[2015-06-15 13:56] BrianHicks commented on #489
@stevendborrelli I'm in that stuff today, I'll take care of it.

[2015-06-15 14:00] BrianHicks commented on #488
here's the prose version of that: http://microservices-infrastructure.readthedocs.org/en/latest/components/consul.html#consul_dc

[2015-06-15 14:11] michaeltchapman commented on #485
I agree this is not a good default for production, but it might need to remain on in the CI env where the pool of IPs might be re-used.

[2015-06-15 17:37] BrianHicks commented on #488
@eirslett we were testing this today and found a bit of a bug. Setting `consul_dc` won't really do you much good since it doesn't change the group name for the servers (it used to.) To *actually* change the DC name, change the `datacenter` variable in your Terraform state. The bug I'm referring to is that datacenter wasn't supported on DO until just now. Would you mind trying out the `feature/digi

[2015-06-15 22:27] stevendborrelli opened #492 "Security setup is confusing with disable/enable messages"
It's not clear whether security is enabled or disabled here when running `security-setup` with no arguments:

[code]

[2015-06-15 22:32] #489 closed

[2015-06-16 02:28] michaeltchapman commented on #487
Addressed by #483

[2015-06-16 09:05] eirslett commented on #488
Thanks a lot! That worked! :-)
So it should be okay to merge the feature branch.

[2015-06-16 09:05] #488 closed

[2015-06-16 13:55] #43 closed

[2015-06-16 13:57] stevendborrelli commented on #63
Closing this issue for now. We can reopen it in the future.

[2015-06-16 13:57] #63 closed

[2015-06-16 13:58] stevendborrelli commented on #396
This was added. Closing.

[2015-06-16 13:58] #396 closed

[2015-06-16 14:06] stevendborrelli commented on #485
I'm worried that turning these features on will cause operational problems. Especially since many users just type 'yes' or delete the keys in `.ssh/known_hosts`.

We also need to test how terraform behaves when nodes are deleted.

mi-worker-03 is deleted, then the user decides to grow the cluster. Does `terraform apply` recreate mi-worker-03, causing the ssh key to have a conflict?

[2015-06-16 14:31] #492 closed

[2015-06-16 14:33] stevendborrelli commented on #485
On further thought, to MITM on a SSH key:

1) you would need to modify the cloud resource that terraform pulls from, or update the .tfstate file.
2) Since Ansbile uses ssh keys, you'd need to deploy a server with the deployment pubkey.

I think we should update the security docs to alert the user to change this if they care about SSH key host checking and leave it off by default.

[2015-06-16 14:44] michaeltchapman commented on #485
I don't think Terraform has anything to do with the MITM situation - it's just requesting resources from a cloud. If the cloud provides the same IP as before and host key checking is turned on it will result in a failure regardless of whether the cluster is being regrown or rebuilt or if it's two totally separate applications.

Perhaps I'm missing something but I don't see how the cloud resource w

[2015-06-16 22:47] stevendborrelli opened #495 "Zookeeper check breaks on Digital Ocean"
Digital ocean aliases the hostname to `127.0.0.1` and `::1`:. This causes the zookeeper `wait_for_listen.sh` to break, as docker doesn't listen on localhost:

[code]

[2015-06-17 01:24] sinner- commented on #485
The security model of SSH is essentially TOFU (Trust on First Use), as opposed to requiring a CA (Certificate Authority) to verify public keys.

Disabling host key checking and not recording host keys basically changes this model to Trust on Any Use.

Aside from concerns about MITM, the implications of this model also mean that if a malicious entity compromised one of the microservices hosts the a

[2015-06-17 15:30] BrianHicks commented on #495
Fixed with #497

[2015-06-17 15:30] #495 closed

[2015-06-17 15:46] BrianHicks opened #498 "0.3.1 release testing"
Testing 0.3.2-RC2 tag.

- [x] DigitalOcean (@chrisaubuchon)
- [x] Vagrant (@chrisaubuchon)
- [x] AWS (@ryane)
- [x] OpenStack (@brianhicks)
- [x] GCE (@brianhicks)

[2015-06-17 15:47] siddharthist commented on #498
I can cover DigitalOcean

[2015-06-17 15:51] BrianHicks commented on #498
@ChrisAubuchon is already testing it. Can you get OpenStack?

[2015-06-17 16:07] BrianHicks opened #499 "provision Vagrant with Ansible directly"
For stuff like #256, we'll want to provision machines in parallel. So we should have another inventory plugin that finds the files Vagrant generates in `.vagrant` and connects Ansible to them without too much hassle.

[2015-06-17 16:14] BrianHicks commented on #498
Vagrant's busted! Moving to 0.3.1-RC3

[2015-06-17 16:26] kunickiaj opened #500 "Docker continues writing to rotated container log files"
First, I'd appreciate if someone could verify they see the same behavior.

It appears that once the daily logrotate of the docker container logs runs, docker continues to write logs to the rotated file instead of the current log. This is the behavior whether or not logrotate is configured with `copytruncate`.

e.g.
[code]

[code]

In both cases a container was started on May 30, the log was rotate

[2015-06-17 17:07] #498 closed

[2015-06-17 18:20] benschumacher opened #502 "Integrate with Let's Encrypt"
We've got a relatively good out-of-the-box security story, but being able to offer fully automated strong encryption for our users is a powerful win. [Let's Encrypt](https://letsencrypt.org/)'s launch isn't until September, but we should investigate and develop an integration strategy.

Currently Let's Encrypt has a [protocol specification](https://github.com/letsencrypt/acme-spec), and a [POC cli

[2015-06-17 19:02] ObjectiveJoe commented on #502
This is a very cool feature. Would we just integrate this in as a framework item that could be added to the project, then they just configure it with required information such as domain name, admin information, etc?

[2015-06-18 03:30] bajohns opened #503 "Port conflicts in 4000-5000 range"
Greetings,

Looks like there is an issue created by #233.

First, I assume the Vagrant file exists for users to try the setup.  It is fairly likely that a port between 4000 and 5000 will already be bound on a personal machine.  Examples: Spotify takes 4370 and Drobo NAS Admin takes 4502.

Can a much higher range be used to avoid these conflicts?

[2015-06-18 03:52] michaeltchapman commented on #503
Alternatively give the VM an IP on a private vbox network instead of using forwarded ports. This might be needed for simulating clusters in the future anyway.

[2015-06-18 09:48] eirslett opened #504 "Random failure after random kernel upgrade"
I started a 8-node cluster on DigitalOcean with the default settings. One of the nodes failed with a kernel panic, it seems like the kernel was upgraded at some point during the Terraform build. It's strange that it only happened to one node, though...
Is kernel upgrading a part of the Terraform run? Or could it be something that happened on the DigitalOcean side?

[2015-06-18 11:10] BrianHicks commented on #179
@tooda02 can you try latest master? As of 0.3.0 Vagrant runs are contained within the Vagrant box.

[2015-06-18 11:12] BrianHicks commented on #503
we're going to have to reconsider a lot of things about Vagrant for future releases. This is one of them–I run into that Spotify conflict all the time, too.

[2015-06-18 14:24] tooda02 commented on #179
@BrianHicks Got similar errors in security-setup in both native Windows and Cygwin.

Native Windows (same results running as standard user or Administrator):

 Exception:
 Traceback (most recent call last):
  File "C:\Python27\lib\site-packages\pip\basecommand.py", line 122, in main
   status = self.run(options, args)
  File "C:\Python27\lib\site-packages\pip\commands\install.py", line 257, in run

[2015-06-18 14:28] BrianHicks commented on #179
it looks like you're running three commands at once. The commands should be, separately and in order:

1. `pip install -r requirements.txt`
2. `./security-setup`
3. `vagrant up`

However, if you're just wanting to run Vagrant, `vagrant up` should be all you need, the security setup and requirements installation is contained within the VM now.

[2015-06-18 15:47] PeterLamar commented on #83
Duplicated elsewhere, closing.

[2015-06-18 15:47] #83 closed

[2015-06-18 16:28] ObjectiveJoe commented on #83
I think this area is one of the most important we need to expand in order to be able to offer real customer solutions! I hope this is at the top of someone's list. :)

[2015-06-18 16:40] PeterLamar commented on #475
2 tier app example as well

[2015-06-18 16:41] PeterLamar commented on #83
Matt asks for this as well in his issue
https://github.com/CiscoCloud/microservices-infrastructure/issues/475

[2015-06-18 19:10] tooda02 commented on #179
Doh... was indeed trying to run three commands at once.

Unfortunately, vagrant up gets errors even when run alone.  It first failed because it needed rsync, which is not part of a default Cygwin installation (which also implies that it requires that Cygwin be installed and on the path).  But even after installing rsync into Cygwin, it fails with error:

If you need it, I have the full log from ru

[2015-06-19 08:49] audunstrand opened #507 "How to inject properties from consul into docker containers"
How do I get properties, eg. database urls, from consul, injected into my docker container at startup?

[2015-06-19 15:40] BrianHicks opened #509 "documentation fixes"
After talking with @Raffo on Gitter, I think we need some updates to the docs:

- [ ] make it clear that Python 2 is the version one should use for this project
- [ ] make it clearer that `vagrant up` is the only command one needs to get started

[2015-06-19 15:49] stevendborrelli commented on #507
There are a few ways to do it:

1) create environment variables when you launch your container. Your marathon json file will include something like the following:
[code]

2) You can use consul-template in your container to query values in Consul K/V or consul service discovery. We have an example container that includes a consul-template binary at https://github.com/CiscoCloud/haproxy-consul, and

[2015-06-19 16:11] PeterLamar commented on #315
I have thought about this and I like the idea of instead adding the deployment of stand alone k8's until the mesos-k8's solution matures.

https://github.com/altvnk/kubernetes-ansible

Advantages:
As @michaeltchapman suggests we can re-use the terraform pieces, the inventory plugin and a couple of the base roles (docker)

Having an etcd cluster and access to the kubernetes ecosystem next to the Me

[2015-06-19 16:13] stevendborrelli commented on #315
I would like to try running etcd in marathon, using DNS SRV discovery on the nodes.

We could probably add in K8s...we're going to need a networking solution. Maybe we can use Weave until Calico is ready?

[2015-06-19 16:50] gesrat-cisco commented on #509
specific instructions for deploying MI on OSX+Vagrant+VBox

[2015-06-19 17:23] altvnk commented on #315
Hi, Steven! There is a bug in current docker that prevents running etcd in container, docker run fails, not sure that it fixed now in main repo, but in virt7-testing repo docker doesn't have such issue. Need to do some tests today.

[2015-06-19 17:29] altvnk commented on #315
Well, actually Terraform code and inventory plugin was taken from MI. Regards to Steven's team )

[2015-06-19 17:53] fluffy commented on #502
Given we are one of the lead sponsors of LE, it would be really great to be using it for our certs early on. Much of the design of LE was done for Spark and Webex so we could have lots of short lived certs to manage our risk instead of long lived wildcard certs that if lost represent a real PITA.

[2015-06-19 18:20] gesrat-cisco commented on #503
If I recollect, the Vagrantfile for the Mesosphere tutorial uses vbox private network configuration

[2015-06-19 21:37] ObjectiveJoe commented on #509
Is the first of these two points for internal developers, and the second for external developers using Shipped? If so, perhaps we should split these into two separate issues.

[2015-06-19 21:45] BrianHicks commented on #509
@ObjectiveJoe they're both for both, really. If someone wants to use MI for *anything* they'll need to get past the bootstrap step, and that's not currently well documented.

[2015-06-20 02:07] michaeltchapman commented on #315
@altvnk I did a quick test this week using the 1.6.2 binary and that was working OK for etcd. I went the lazy route and just overwrote the binary, but there's some packages here: http://cbs.centos.org/kojifiles/packages/docker/1.6.2/4.gitc3ca5bb.el7/x86_64/

[2015-06-20 14:27] mike-hearn opened #510 "Ansible playbook `upgrade-packages.yml` initially fails; works if `yum cleanup all` executed first"
Let me first state that I don't fully know what I'm doing, so I don't entirely grasp the implications of this.

In any event, I followed along with the Getting Started guide and created servers on Digital Ocean using Terraform. I then provisioned the servers using Ansible without issue, and rebooted them by running `ansible-playbook -e @security.yml playbooks/reboot-hosts.yml` (I copied the invent

[2015-06-21 04:25] ahmadnassri commented on #484
great idea, Kong definitely fits right at home here!

[2015-06-22 02:57] michaeltchapman commented on #256
@altvnk everything is binding to ansible_default_ipv4.address, which for vagrant will be 10.0.2.15 since that's where the default route is, even if we have a private network for eth1/enp0s8. According to SO this fact is discovered using `ip -4 route get 8.8.8.8` so we can set a static route in provision.sh before ansible runs to make things work, though it's a bit hacky. HTH.

[2015-06-22 04:41] michaeltchapman commented on #256
@altvnk also the vagrant box being used atm is running NetworkManager which breaks all the hostonly networks for me.

[2015-06-22 08:08] Raffo commented on #509
Adding something more: as suggested, installing the requirements with python2 make everything work quite fine. I would also add that there are some other minor problems: running step 2 in the example here  https://github.com/CiscoCloud/microservices-infrastructure/tree/master/examples/hello-world is impossible as marathon doesn't seem to be running as HTTPS in my case. HTTP makes it work. I'm writ

[2015-06-22 08:56] altvnk commented on #256
@michaeltchapman same thing, second interface not brings up at all...

[2015-06-22 09:06] altvnk commented on #256
If it helps i have some draft Vagrantfile [here](https://gist.github.com/altvnk/69e809f987d8a8dd38f7)
It doesn't fully works because of problems you are noticed.

[2015-06-22 12:24] loshkovskyi commented on #504
Hello @eirslett ,

Most likely, it happened on the DigitalOcean side.

I have checked the Terraform sources and I see they import https://github.com/pearkes/digitalocean to create instances with [CreateDroplet()](https://github.com/pearkes/digitalocean/blob/master/droplet.go). The last one doesn't have any kernel upgrade functionality.

I have tested creation of 10 droplets several times and could

[2015-06-22 12:25] #504 closed

[2015-06-22 14:40] michaeltchapman commented on #256
@altvnk @stevendborrelli @keithchambers I think I'd like to remove NetworkManager, but since it's explicitly included I thought I'd see what your thoughts are. My experience has always been that it's not very suitable for servers, but since it's now a part of the core package group perhaps removing it is no longer considered best practice. Thoughts?

[2015-06-22 15:03] stevendborrelli commented on #256
In 0.3.0 we removed using Networkmanager for dnsmasq.  I think we can remove it overall.

[2015-06-22 20:11] ObjectiveJoe commented on #509
Is it fine to say we require Python 2.7 or later, or just say Python 2?

[2015-06-22 20:13] ObjectiveJoe commented on #509
Also, is this still true or shorten it up and really just say 'vagrant up'?
           "ensure that you set your provider to Virtualbox when running `vagrant up`: `vagrant up --provider=virtualbox`."

[2015-06-22 20:14] #507 closed

[2015-06-22 20:14] mcelligott commented on #509
The provider part should be handled via the generated Vagrantfile. It is ABSOLUTELY NECESSARY to include `--no-parallel` in the `vagrant up` command

[2015-06-22 20:20] BrianHicks commented on #509
@ObjectiveJoe 2.6 and 2.7 are [supported by Ansible](http://docs.ansible.com/intro_installation.html#control-machine-requirements). Our scripts are written and tested on 2.7, we haven't had anybody using 2.6 yet but I suppose it's just a matter of time… are you working on this?

The Virtualbox provider is enabled by default, people who use alternate implementations would know when they need to use

[2015-06-22 20:31] BrianHicks commented on #509
@Raffo it sounds like you've disabled HTTPS for Marathon. If that's not it, please open up a ticket.

[2015-06-22 20:32] mcelligott commented on #509
@BrianHicks sorry, I'm probably off-base. I assumed this issue applied to running a shipped project, but I just saw that this is an M-I ticket. In shipped, we need `--no-parallel` because some VMs are dependent on others and `vagrant up` will fail if the dependencies are not up before the dependent VMs boot up. But that probably doesn't apply here. Apologies for the confusion

[2015-06-22 20:33] BrianHicks commented on #509
@mcelligott no problem, thanks for clarifying.

[2015-06-22 20:45] ObjectiveJoe commented on #509
@BrianHicks, I have read access but no write access. Please update my permission and I will create branch for document_updates, submit changes, and create pull request.

[2015-06-22 20:47] BrianHicks commented on #509
@ObjectiveJoe can you just fork the repo and do it that way? I'm going to take that to mean that you're working on this issue, though. I'll assign you here. Thanks!

[2015-06-22 20:49] stevendborrelli commented on #509
Python 2.7 came out in 2010, I think it's ok that we make it the base 2.x version

[2015-06-23 08:09] michaeltchapman commented on #256
@altvnk got it working here: https://github.com/CiscoCloud/microservices-infrastructure/pull/512/files with a single private network.

[2015-06-23 08:23] altvnk commented on #256
@michaeltchapman great work, will try it in a short!

[2015-06-23 12:58] eirslett opened #516 "dnsimple"
It would be nice to be able to access the control and worker nodes like this:

control-01.mydatacenter.example.com
control-02.mydatacenter.example.com
control-03.mydatacenter.example.com
worker-001.mydatacenter.example.com
worker-002.mydatacenter.example.com
worker-003.mydatacenter.example.com

Is it possible to set up dnsimple with microservices-infrastructure, to work that way?

[2015-06-23 13:28] altvnk commented on #315
@michaeltchapman I was able to install docker 1.6.2 from repo you are suggest in a few simple steps in ansible roles, so we use this as temporary workaround until docker will be updated in main repo.
Here is the steps:
add yum repo
[code]
virt7-testing.repo contains following

[code]
and finally install docker from that repo

[code]

[2015-06-23 14:19] michaeltchapman commented on #315
@altvnk do you have a branch with the k8s framework working? I'm happy to test.

[2015-06-23 14:32] altvnk commented on #315
@michaeltchapman I don't have a working framework but have original kubernetes working. I suppose you already seen it in my personal repo. I also have a working cluster with k8s, PM me and i give you creds so you can take some hands-on on it.
We can easily port it into MI, but first we need to decide how to run `etcd`, @stevendborrelli suggests to run it in Marathon. Is there some progress on it?

[2015-06-23 15:12] michaeltchapman commented on #315
@altvnk yep your personal ansible-k8s repo is working fine for me.

I can work on etcd in marathon in a feature branch with the repo changes above merged in, then once a better docker package solution comes about via RedHat updating extras we can cherry pick all the non-repo bits across to master and forget the repo issues ever existed. I'm still learning though, so if this is blocking you then do

[2015-06-23 15:34] Raffo commented on #509
@BrianHicks I cannot reproduce the issue I was having right now, I'll open an issue if I find something more specific.

[2015-06-23 21:28] BrianHicks opened #519 "logrotate is messy"
Logrotate currently rotates and creates archives for Mesos, Docker, and ZooKeeper. Each one has a slightly different configuration, but there's a lot of repetition going on. There should be a generic role built in and used through Ansible's metadata dependencies in order to DRY this up.

[2015-06-23 21:41] BrianHicks commented on #440
tracked at `feature/0.3.2-docs`

[2015-06-23 21:46] #485 closed

[2015-06-23 21:47] #440 closed

[2015-06-24 06:59] OleksandrBerchenko commented on #399
Workarounded in qa/features-master-integration branch (https://github.com/CiscoCloud/microservices-infrastructure/pull/513).

Closing.

[2015-06-24 06:59] #399 closed

[2015-06-24 13:04] stevendborrelli commented on #516
@eirslett You should be able to do it via terraform. It will require a little bit of modification on your behalf, but there is a dnsimple provider in terraform that should do the trick. (You'll have to use vars in the provider definition to match each IP to a hostname).

Please let me know if this works for you. It would be awesome if you could document an example.

https://www.terraform.io/docs/p

[2015-06-24 13:05] stevendborrelli commented on #519
I'm wondering if  the docker log rotate even works, we just get a file with 0 bytes that never gets updated for the containers.

[2015-06-24 13:06] stevendborrelli commented on #500
Thanks for brining this to our attention. We're investigating.

[2015-06-24 13:50] eirslett commented on #516
I tried, and hit this bug: https://github.com/hashicorp/terraform/issues/2441

What worked in the end, was to put dnsimple inside terraform/digitalocean/hosts/main.tf, but that is a very tight coupling between digitalocean and dnsimple that we want to avoid. I hope we'll hear from the Terraform team soon, about the issue/bug.

[2015-06-24 17:31] stevendborrelli opened #523 "Haproxy not installed in vagrant"
Haproxy is not installed in vagrant.

- [ ] add haproxy to vagrant.yml
- [ ] set a domain for vagrant

[2015-06-25 21:46] #509 closed

[2015-06-26 09:02] pikeas commented on #484
+1, this would be a great example app!

[2015-06-26 09:09] pikeas commented on #49
Not directly related to this issue, but why did this project decide to move Consul out of docker?

[2015-06-26 09:26] pikeas commented on #516
hashicorp/terraform#2441 was closed as a dup, the live issue can be found at https://github.com/hashicorp/terraform/issues/2301.

[2015-06-26 09:30] pikeas commented on #428
This was fixed upstream.

[2015-06-26 10:38] linuxbsdfreak opened #529 "Possible bug in terraform.py inventory script"
Hi,

I was not able to ping the launched instances via terraform tool with the terraform.py inventory script.

I tested on centos6.5 and centos7. I also added the nodes in a static inventory file and ansible was able to ping the nodes.

I keep getting the following error:

ansible -i plugins/inventory/terraform.py all -m ping -u ec2-user
Traceback (most recent call last):
  File "/usr/bin/ansible"

[2015-06-26 12:18] stevendborrelli commented on #529
Thanks for filing this issue.

Is there any way we can duplicate your environment? (For example, letting us use your terraform config file with tokens redacted).

Also what OS, Python and Ansible versions are you using?

cc @BrianHicks @ryane

[2015-06-26 12:34] linuxbsdfreak commented on #529
terraform version
Terraform v0.5.3

OS: Fedora21 (Control node)
Python: 2.7.8
ansible 2.0.0

aws.tf

provider "aws" {
  access_key = "xxx"
  secret_key = "xxx"
  region = "eu-west-1"
}

module "aws-dc" {
  source = "./terraform/aws"
  availability_zone = "eu-west-1a"
  control_type = "m3.medium"
  worker_type = "m3.medium"
  ssh_username = "ec2-user"
  source_ami = "ami-8b22effc"
  ssh_key   = "~/

[2015-06-26 13:46] BrianHicks commented on #529
@linuxbsdfreak I'll just ask again in here what I asked in Gitter, answer either place and I'll keep this updated:

[2015-06-26 13:57] ryane commented on #529
@linuxbsdfreak also, are you able to test with ansible 1.9? I don't think we've done any testing with 2.0 which hasn't had an official release yet afaik.

[2015-06-26 14:37] stevendborrelli commented on #529
I'm also worried about Centos 6.5, as we've never tested deploying to that version, so I'm certain it worn work. Ryan has suggested using ami-e4ff5c93 instead.

[2015-06-26 23:11] ryane opened #533 "marathon doesn't start correctly post-reboot on single control-node installs"
After running `playbooks/reboot-hosts.yml', marathon may not start correctly. Frequently, it ends up stuck in a loop where it is repeatedly trying to connect to zookeeper:

[code]

But, zookeeper is up and running at the time:

[code]

Simply restarting marathon gets things going again. This *seems* to only affect installs with a single control node (a default vagrant build, for example).

[2015-06-29 12:34] linuxbsdfreak commented on #529
Ok it works with that image which is centos 7 and  ansible 1.9.2 (stable-1.9 db5ea10ed2) last updated 2015/06/29 14:30:11 (GMT +200)

[2015-06-29 12:36] stevendborrelli commented on #529
Awesome! Let us know how the rest of the install goes.

[2015-06-29 12:47] stevendborrelli commented on #533
Is this a bug we should open with Marathon?

[2015-06-29 12:51] stevendborrelli commented on #529
@linuxbsdfreak I'm going to close this issue. We've created an issue in the terraform.py project to track Ansible 2.0 support.

We don't plan on adding Centos/Redhat 6.x support.

[2015-06-29 12:51] #529 closed

[2015-06-29 13:12] ryane commented on #533
When consul is in maintenance mode, `zookeeper.service.consul` cannot be resolved. Marathon starts before the `reboot-hosts` playbook disables maintenance mode post-reboot. And it appears Marathon cannot recover from this once it has started - even when the host can subsequently resolve  `zookeeper.service.consul`. So, yeah, I think it would be nice to have it fixed in marathon - I'll open an issu

[2015-06-29 15:20] stevendborrelli commented on #533
Workaround sounds good. It takes a while for Marathon to fix issues, and version 0.9 will refactor the storage backend, so we don't know how it will affect ZK connectivity.

[2015-06-29 19:15] siddharthist opened #535 "Register Distributive as a health check rather than a service"
PR #528 has some preliminary thoughts on this matter. Essentially, Distributive belongs as a Consul health check, rather than a service. This is a problem, because we run into this issue: https://github.com/hashicorp/consul/issues/954. This affects all health checks, but more so ones with long intervals, like our current Distributive checks.

tl;dr
Problem: Consul is buggy with health checks that

[2015-06-29 19:36] siddharthist opened #536 "security-setup prints errors as byte strings"
I got an error when running security setup. The error isn't the focus of this issue so much as the way it is printed. It'd be a lot more user-friendly if it printed with actual newlines instead of "\n". See below "stderr". The string is prefixed by a b, which makes me think the problem is that it is a byte string, and so is automagically escaped when printed.

    ================ Nginx ==========

[2015-06-29 21:13] noahjl commented on #535
I've confirmed that setting the interval to 1m consistently allows deployment to be successful.

I've tidied up the feature/distributive branch so its current with master and now uses distributive v0.1.2, along with the consul checks.

[2015-06-30 05:18] michaeltchapman commented on #315
@altvnk 1.6.2 is in centos 7 extras now.

[2015-06-30 13:48] linuxbsdfreak opened #537 "Error on 1st playbook run after the VMs are launched."
[code]
Once the playbook is rerun it works. Could you check?

[2015-06-30 13:54] linuxbsdfreak opened #538 "Services do not run once all the machines are rebooted in AWS"
After i run

ansible-playbook playbooks/reboot-hosts.yml

The services do not come up as expected.

As mentioned you should be able to reach the web consoles for Mesos (on control nodes port 5050), Marathon (port 8080) and Consul (port 8500.) . Only consul UI opens but shows failing. Can you verify the deployment.?

[2015-06-30 14:56] michaeltchapman commented on #538
consul doesn't come back up for me unless I do

    rm /etc/consul/consul.json-dist

[2015-06-30 15:07] ChrisAubuchon commented on #538
How many hosts do you have? Consul breaks when all of the servers are down at the same time.

[2015-06-30 15:13] michaeltchapman commented on #538
@ChrisAubuchon it should be able to recover once `>= bootstrap_expect` nodes come back online. I think my error is because there's multiple ethernet interfaces and consul is using a mixture of the two because RPC doesn't go over advertise_addr by default. I'm testing a fix now.

[2015-06-30 15:19] ChrisAubuchon commented on #538
If all of the nodes are down at the same time, it can't recover. See https://www.consul.io/docs/guides/outage.html for details.

[2015-06-30 15:24] michaeltchapman commented on #538
@ChrisAubuchon this is on a single vagrant node - it should be recovering without clearing peers. I'm fairly certain my issue is different to @linuxbsdfreak in any case.

[2015-06-30 15:36] ChrisAubuchon commented on #538
@michaeltchapman Anything odd in the Consul logs? When Consul has refused to elect a leader for me I've had to clear peers.

[2015-06-30 15:43] michaeltchapman commented on #538
@ChrisAubuchon yeah I'm working on it now. It's not doing RPC with itself correctly, I think because it's binding on the vagrant NAT interface but advertising on the vagrant private network.

[2015-07-01 07:33] sinzone commented on #484
Github repo: https://github.com/mashape/kong

[2015-07-01 12:39] ryane opened #540 "consul cannot register check 'Distributive Consul Health Checks' after worker restart"
When a worker node is rebooted (or if consul is restarted), consul fails to start with the following error:

[code]

[2015-07-01 14:26] noahjl commented on #540
I'll work on narrowing the register distributive tasks for consul to specifically control nodes only.

[2015-07-01 14:28] #535 closed

[2015-07-01 19:13] Nijikokun commented on #484
:+1:

[2015-07-01 20:12] vallard opened #543 "security doc can not contain spaces nor quotes"
Ansible scripts fail if the password entered has a space or a quote '.

[2015-07-01 20:50] noahjl commented on #540
PR #544  has been opened to correct this.

[2015-07-01 20:50] #540 closed

[2015-07-02 15:24] Y4Rv1K opened #546 "Rebase qa/features-master to the latest master"
To have latest changes for data processing frameworks we need rebase qa/features-master and qa/feature-master-integration to latest master version.

[2015-07-02 15:32] matjohn2 opened #547 "Discuss and reach an architecture for MI-CI"
We need do decide how to break down issue #163 into more achievable stories/tasks before we start work on building the MI-CI system

[2015-07-02 15:33] matjohn2 commented on #163
This needs breaking down into smaller issues, this is an EPIC vs a STORY. Moving back into IceBox. This is a CI Environment for Building / Testing MI Itself. Before this issue can be started a design discussion will be held in a future sprint. This is covered in issue: #547

[2015-07-02 15:39] matjohn2 opened #548 "Automate Calico networking into M-I default install"
Calico networking has already been proved compatible and steps to reproduce documented.
This needs automating into the default M-I automation to allow marathon workloads to haver the ability to use full IP addresses out of the box

[2015-07-02 22:32] ryane opened #549 "mesos services not properly enabled/disabled"
On multi-node clusters, the `mesos-master` service should be enabled and running on control nodes but disabled on worker nodes. On worker nodes, the `mesos-slave` service should be enabled and running but disabled on control nodes. The ansible roles are correctly configured for this.

However, there is a bug in the ansible service module that does not properly set the enabled state of a service:

[2015-07-04 16:45] loshkovskyi opened #551 "Task "wait for zookeeper to listen" failed"
Here is the problem:
[code]
Some basic debugging:
[code]
So `mi-control-01` is pointed to `127.0.0.1` and that is the problem. We need to clean up that line from `/etc/hosts`. There was something similar done for DigitalOcean provider (I use OpenStack): [roles/common/tasks/digitalocean.yml](https://github.com/CiscoCloud/microservices-infrastructure/blob/master/roles/common/tasks/digitalocean.yml)

[2015-07-04 16:54] loshkovskyi commented on #551
https://github.com/CiscoCloud/microservices-infrastructure/pull/552

[2015-07-06 12:14] loshkovskyi opened #553 "Environment variable "NGINX_PUBLIC_IP" rendered incorrectly"
The following expression is rendered incorrectly:
[code]
This line is pasted 'as is' in `/etc/consul/consul.nginx`, `/etc/marathon/marathon`, etc.
For example:
[code]
Expected behaviour - the line is rendered to something like:
[code]

[2015-07-06 12:17] loshkovskyi commented on #553
PR https://github.com/CiscoCloud/microservices-infrastructure/pull/554

[2015-07-06 13:39] ChrisAubuchon commented on #553
This is incorrect. It is expected to render as
```listen {{ env "NGINX_PUBLIC_IP" }}```
The `.nginx` templates are put into Consul for each node to pull down via the `nginx-consul` container. The NGINX_PUBLIC_IP environment variable is passed into the container at startup. Check out https://github.com/CiscoCloud/microservices-infrastructure/blob/master/roles/consul/templates/nginx-consul.env.j2 fo

[2015-07-06 13:48] loshkovskyi commented on #553
Yes, looks like I got it wrong. Thank you for explanation.

[2015-07-06 13:48] #553 closed

[2015-07-06 14:46] kenjones-cisco commented on #549
FYI, The cap was added in #320 due to an issue with one of the former openstack playbooks, with the introduction of terraform the cap is not required.

[2015-07-07 18:32] kenjones-cisco opened #555 "docker_launch.sh checking /ssh fails"
[code]

I build the image for MI, and use as a base image. Then I handle decrypting my keys from source control and placing within `~/.ssh/` (`/root/.ssh/`). Because it seems fixed to requiring the directory `/ssh/` the script fails. Even if creating the `/ssh/` directory within my dockerfile and copying my keys there after decrypting fails as the volume points a non-existent directory.

Requiring

[2015-07-07 18:35] kenjones-cisco commented on #555
[code]

That does work and provides the ability to use mi as a base image. I can submit a PR to apply that change.

[2015-07-07 19:16] ryane commented on #555
sounds good to me. I wasn't thrilled with the existing way of managing ssh keys but hadn't really come up with a better one

[2015-07-07 20:48] kenjones-cisco commented on #551
+1 Currently blocking my progress.

[2015-07-07 21:24] stevendborrelli commented on #551
@kenjones-cisco we'll test and see if there are any issues

[2015-07-07 21:26] kenjones-cisco commented on #551
I just copied the changes to a branch on my fork, and I'm testing currently on Openstack to make sure it does resolve the issue(s) I've been seeing.

[2015-07-07 21:44] kenjones-cisco commented on #551
Worked like a charm

[code]

[2015-07-08 12:20] loshkovskyi commented on #548
Calico is using etcd for elections and endpoints registration. As far as I understand, we need to register container IP (from the Calico network) into Consul. Do we need to build a bridge like etcd-consul as we did with  mesos-consul? Right now we can query etcd for an IP address this way:
[code]
Where 192.168.0.2 is the IP address we are looking for.
`a7727a7` is a Docker container that is runnin

[2015-07-08 12:27] loshkovskyi commented on #27
@noahjl , are you still working on this? Otherwise, I will probably get into this task.

[2015-07-08 21:20] ryane opened #559 ""duplicate" mesos and mesos-consul services registered in consul"
If you restart mesos-consul or reboot a worker node with mesos-consul running, you end up with seemingly duplicate services registered in consul. When mesos-consul starts, it does not know about services it previously had registered. If those services are no longer active, they will never be de-registered.

This only affects services that will have a different service id when restarted. The mesos-

[2015-07-08 22:25] kenjones-cisco opened #560 "HAPROXY_MODE option to be added"
Based on the video demo for minecraft, as of 0.3.2, HAPROXY_MODE was going to be included in the configurations for haproxy. I noticed it was still not there.

Has the plan changed or is it no longer necessary?

[2015-07-09 18:12] #536 closed

[2015-07-11 04:36] BrianHicks commented on #560
After discussion, we didn't want to introduce a breaking change like that in a patch release. We should probably change it for 0.4.

[2015-07-12 19:14] stevendborrelli commented on #555
Closing with the merge of #556

[2015-07-12 19:14] #555 closed

[2015-07-12 19:19] stevendborrelli commented on #329
Closing due to #557 merge.

[2015-07-12 19:19] #329 closed

[2015-07-12 19:21] stevendborrelli commented on #551
Closing with #552 merge.

[2015-07-12 19:21] #551 closed

[2015-07-13 11:11] linuxbsdfreak commented on #538
Just for info: I ran the following command

ansible-playbook playbooks/reboot-hosts.yml from the latest checkout and found the issue.

ailed: [mi-worker-002] => {"changed": true, "cmd": ["/usr/local/bin/consul-wait-for-leader.sh"], "delta": "0:00:31.128936", "end": "2015-07-13 10:33:10.842493", "rc": 1, "start": "2015-07-13 10:32:39.713557", "warnings": []}
stdout: No Consul leader elected in 30 s

[2015-07-13 15:18] BrianHicks opened #565 "Terraform files should have 3 control servers by default"
Consul and ZK need 3 to be able to have maintenance done and still maintain quorum.

[2015-07-13 15:18] ChrisAubuchon commented on #538
In your .tf file, can you change `control_count = 2` to `control_count = 3` and rebuild your cluster? I believe the issue is that quorum for a 2 node consul cluster is 2 and Consul requires manual recovery when it loses quorum. If that's the case we need to change the sample .tf files.

[2015-07-13 19:18] #533 closed

[2015-07-13 19:18] #549 closed

[2015-07-13 19:18] #538 closed

[2015-07-13 20:11] #559 closed

[2015-07-13 21:00] saswatp opened #566 "Consul Server restart results in failure"
Steps to reproduce :

1. Stop consul service in control node 1
2. Stop Consul service in control node 2
3. Start Consul service in control node1
4. Start Consul service in control node2

After this point consul doesn't come up and the entire cluster is unusable.
service consul status throws error (no cluster leader) :
[code]

[2015-07-13 21:12] stevendborrelli commented on #566
Are you only running two nodes? A restart of a node in a two server cluster would cause a quorum issue.

[2015-07-13 21:32] saswatp commented on #566
Same problem seen with three nodes control cluster as well.

[2015-07-13 21:43] stevendborrelli commented on #566
Are you taking more than one server down at a time?

[2015-07-13 23:41] saswatp commented on #566
Not simultaneously . Take down one by one. However, if I restart control VMs it could be simultaneously. This is a valid use case from CCS point of view. What I heard is that multiple VMs could reboot randomly and simultaneously , sometimes.

[2015-07-14 09:46] linuxbsdfreak commented on #538
Hi.

I launched the cluster with 3 control and 3 worker nodes  and still receive the same error.
failed: [mi-control-01] => {"changed": true, "cmd": ["/usr/local/bin/consul-wait-for-leader.sh"], "delta": "0:00:31.100149", "end": "2015-07-14 08:32:25.205659", "rc": 1, "start": "2015-07-14 08:31:54.105510", "warnings": []}
stdout: No Consul leader elected in 30 seconds
failed: [mi-control-03] => {"c

[2015-07-14 12:55] stevendborrelli commented on #538
@linuxbsdfreak I'm sorry you are having this issue.  I'd like to replicate your test environment. Could you provide:

- cloud platform (I'm assuming it's AWS)
- git commit you are running from?

Could you also try running the following on a control node?
(Use the root command)
`consul monitor`
` journalctl -u consul`
`systemctl status -l consul`

[2015-07-14 14:52] BrianHicks opened #567 "Add distributed storage layer for containers"
Some ideas:

 - Flocker (but it only supports certain clouds at the moment, and *experimental* ZFS clustering)
 - NFS
 - GlusterFS

In any case, it would be helpful for a number of tasks to be able to have persistent storage that *moved around the cluster* when needed. Flocker in particular is well-suited for that task.

[2015-07-15 11:31] linuxbsdfreak commented on #538
Cloud platform is AWS
Git commit: Is the latest checkout.

Today i once more launched the stack and deployed the playbook and got the following output.

systemctl status -l consul

consul.service - Consul is a tool for service discovery and configuration. Consul is distributed, highly available, and extremely scalable.
   Loaded: loaded (/usr/lib/systemd/system/consul.service; enabled)
   Active:

[2015-07-15 22:24] saswatp opened #571 "Enabling SELinux"
It is very important to enhance security of host vms running on micro services infrastructure. For many it is a requirement to go production. Therefore it is desirable to have SELinux turned on for the VMs orchestrated by microservices-infrastructure. It can be started with SELinux as permissive , so that at least auditing can be done on security violations. Later SELinux can be enforced. Has anyo

[2015-07-15 23:56] Lennie commented on #571
Currently as I understand it (this may be outdated):
1. SELinux only protects the host for the guests, not so much the guests from each other. Because I believe they are use the same SELinux context (if that is the right terminology).
2. When using volumes, you might need to prepare the volumes before use so they have the right SELinux properties or the volumes will be unusable.

[2015-07-16 02:40] stevendborrelli commented on #571
SELinux is currently not on our roadmap, but it would be interesting to see the impact. https://www.digitalocean.com/community/tutorials/an-introduction-to-selinux-on-centos-7-part-1-basic-concepts

@saswatp do you want to try enabling it and see what comes up?

[2015-07-16 06:14] saswatp commented on #571
@stevendborrelli - Yes that is in my plan. Will be able to work on that next week.

[2015-07-16 08:32] tgermain commented on #567
+1.

 I've already have a GlusterFS setup with ansible but it's very dependent of your partition scheme (plus I don't work with cloud provider but directly on VMs).

I think we need to discuss if you want to include the whole glusterFS setup (summarize from [glusterFS quickstart](http://gluster.readthedocs.org/en/latest/Quick-Start-Guide/Quickstart/) ):

1.  Create the back-end for glusterFS : the

[2015-07-16 16:25] stevendborrelli commented on #571
@saswatp from what I understand from @ryane, the AWS image already has SELinux running in enforcing mode.

[2015-07-16 17:59] siddharthist commented on #543
@vallard Can you post the output you're seeing when the Ansible run fails?

[2015-07-16 18:29] vallard commented on #543
I'll run again and capture output.

[2015-07-16 19:02] vallard commented on #543
The password I entered was: ci$34'sco.
[code]
Changing the line by adding quotes around the password gets through that:
roles/nginx/tasks/main.yml:
from:
[code]
to
[code]

[2015-07-16 19:03] vallard commented on #543
but I can see how this might fail if the password has " in it.  Maybe we just call out what is an acceptable password in the documentation ?

[2015-07-16 19:19] siddharthist commented on #543
@vallard Thanks for capturing that! I think we should attempt to have as few disallowed characters as possible, so I like the idea of changing that line to include single quotes and documenting their disallowal. Single quotes should cause the fewest other issues, since the shell won't try and interpret $ variables inside them.

[2015-07-16 20:24] siddharthist commented on #543
@vallard If you want to submit a PR, that'd be great (documentation is in ./docs), but if not, I'll get around to it as soon as I have the time.

[2015-07-16 20:45] saswatp commented on #571
@stevendborrelli : That's great to know , hopefully there won't issues in openstack. I will update you with my findings with the CentOS cloud image used OpenStack.

[2015-07-17 09:21] OleksandrBerchenko commented on #546
Done.

[2015-07-17 09:21] #546 closed

[2015-07-17 16:19] siddharthist opened #578 "Use numbered release of Distributive for 0.4"
PR #564 introduces a snapshot build of Distributive that includes some bugfixes. Before the 0.4 release, this should be updated to a versioned build.

[2015-07-20 17:17] saswatp commented on #571
I did a test with SELinux enforced on Openstack. All services came up fine and their status could be seen through Consul UI. Do you have a set of automated test cases that I could run to see everything is working fine ?

[2015-07-20 17:19] stevendborrelli commented on #571
@siddharthist, can you reach out to @saswatp about automated testing?

[2015-07-20 17:24] siddharthist commented on #571
@saswatp We are currently working on integrating our automated tests, hopefully we will be releasing later this week. They will be accessable through the Consul UI.

Related: PR #564

If you're itching to get started, you could install them yourself, or just look through the checklists and manually validate that they would all pass.

Checklists: https://github.com/CiscoCloud/distributive-rpm/tree/

[2015-07-20 21:28] saswatp commented on #571
@siddharthist - Hey, quick question on distributive. Services add their health check scripts during deployment and the health of the the service is tracked by consul and shown on Consul UI ? Is distributive trying to organize all health check scripts under one umbrella ? Could you please explain how is it enhancing

what consul already offers

[2015-07-20 22:06] siddharthist commented on #571
@saswatp Absolutely. Distributive essentially packages a whole bunch of health checks into one binary file, and then enables them to be configured simply via JSON. It also makes it easier to package different checks for the same component together. It attempts to remove duplicated effort on defining ~100+ different health checks, like a project such as MI requires.

So the overarching goals are:

[2015-07-20 23:18] siddharthist commented on #578
v0.2.1 is now available [on Bintray](https://bintray.com/artifact/download/ciscocloud/rpm/distributive-0.2.1-1.el7.centos.x86_64.rpm), this should be tested and added to PR #564.

[2015-07-21 16:23] siddharthist commented on #578
It has been added to the PR. When it is merged, this issue should be closed.

[2015-07-21 17:12] #578 closed

[2015-07-21 18:38] davidbuchanan opened #587 "Integrate with VMware"
Integration with vSphere and vCentre.

[2015-07-22 00:41] kenjones-cisco commented on #567
I took a very similar approach with my instance where I created the cinder volumes using terraform to attach to my VMs. And then using ansible created the logical volume group and logical volumes, mounted to the block device, and then used GlusterFS to created replicated volumes across each worker node in the cluster, and mounted those as directories.

Then when my database starts up on any node i

[2015-07-22 12:42] linuxbsdfreak opened #588 "Info regarding accessing the hello-world App after install"
Hi,

I was able to provision the cluster via terraform on AWS successfully. Also i launched an app by running the below command

examples/hello-world/launch.sh -c examples/hello-world/hello-world.json -m PubicIPofMarathonInstance -u <user> -p <pass>`

However i have the following question:

1. As per https://microservices-infrastructure.readthedocs.org/en/latest/components/haproxy.html I tried to

[2015-07-22 14:21] ryane opened #590 "changing security.yml settings results in failures"
If you change some security.yml settings (such as secrets or disabling security settings) and reprovision a cluster, problems occur. At minimum, zookeeper acls end up being set correctly on any non-root znodes. But, it looks other problems can occur as well. More testing need to identify what all of the issues are.

[2015-07-22 20:19] saswatp commented on #571
I did some testing on a single node (on openstack) control VM with SELinux enabled. There were some major issues.

Steps :

- Orchestrate and Configure a Control VM in Openstack.
- Manually ssh into the box and enable SELinux.
- Reboot the box - Marathon , ZK and Chronos are not running .  Marathon is not able to port 18080; With a Connection refused error message.

Here is an image snapshot :

<i

[2015-07-24 15:20] ryane commented on #588
Hi @linuxbsdfreak. RE: haproxy. We're testing a couple of haproxy fixes in https://github.com/CiscoCloud/microservices-infrastructure/pull/592. Since you are on AWS, you may just need to manually update your worker security group to allow HTTP/S traffic.

[2015-07-24 15:33] PeterLamar commented on #548
I absence of an answer to your question, lets go with your best guess and a PR. We can deploy it to tenants and get feedback pretty quickly and iterate from there. Thoughts?

[2015-07-27 07:47] abn commented on #571
@saswatp FWIW, I do not think this is an SELinux issue. I can confirm the deployment works without issues on CentOS 7 boxes wit SELinux in enforcing mode.

[2015-07-27 07:50] abn commented on #567
@kenjones-cisco +1; I reckon your approach makes a lot of sense and especially considering production use cases. It'd be quite helpful if you could share playbooks and terraform specifications.

[2015-07-27 10:46] loshkovskyi opened #596 "Switch to official Logstash Docker image"
As far as I remember the only reason we built our own Logstash Docker image was Kafka support (added in Logstash 1.5). Since the official Logstash 1.5.3 has been already released, it might be a good idea to start using it and deprecate our own image. Please let me know if there are any objections.

[2015-07-27 13:26] BrianHicks commented on #567
@kenjones-cisco @abn I've got a very similar approach going in feature/glusterfs. Right now the challenge is getting it to work on all the clouds we support. If y'all want to check out the current configuration there, I'd appreciate any feedback you have.

[2015-07-27 14:36] linuxbsdfreak commented on #588
@Ryane. Thanks for the info.

[2015-07-27 14:53] siddharthist commented on #571
@saswatp What platform are you deploying on?

[2015-07-27 15:06] ryane commented on #571
@saswatp can you take a look at the zookeeper, marathon and chronos logs to see if there are any clues as to why they aren't starting?

[2015-07-27 15:33] loshkovskyi commented on #548
PR https://github.com/CiscoCloud/microservices-infrastructure/pull/598

[2015-07-27 20:18] saswatp commented on #571
@abn - You may be right. I didn't see anything in SELinux log in /var/log/messages . This could be a separate issue.

I am going to close this issue. If at all there is anything in zookeper etc. that's a new issue.

[2015-07-27 20:18] #571 closed

[2015-07-28 03:24] abn commented on #571
@siddharthist my VMs are running on oVirt.

[2015-07-28 12:19] eirslett opened #600 "Declare parent host in /etc/hosts"
We want our Docker containers to talk to their parents/worker nodes, e.g. for collectd, logstash, consul k/v.
It would be nice to have a "mesos-host" entry in /etc/hosts in every worker node, so you can access consul at https://mesos-host:8500 to be sure that you get the local consul agent and don't do any network hops. (Same for logstash and collectd, or in general)
Does that sound like a good so

[2015-07-28 13:48] stevendborrelli commented on #600
This is a good idea, I wonder what other groups do to send the host IP into docker containers.

It seems env variables might be another way to do it? maybe DOCKER_HOST or something like that?

http://stackoverflow.com/questions/22944631/how-to-get-the-ip-address-of-the-docker-host-from-inside-a-docker-container

[2015-07-29 08:23] eirslett commented on #600
Environment variables is an alternative. It looks like most people use that in combination with heuristic shell scripts to determine the IP. This project is lucky because ansible knows all the IP addresses at the time it writes to /etc/hosts; so no heuristics needed.
The good thing about writing to /etc/hosts vs. setting an environment variable is that the first will be usable in a wider scope. E.

[2015-07-29 08:31] eirslett commented on #600
One could also use that hosts entry to refer to consul/logstash/collectd running on localhost etc.

[2015-07-30 14:49] #567 closed

[2015-07-31 00:56] ryane opened #613 "selinux preventing access to mesos sandbox in dockerized tasks"
selinux is preventing access to the $MESOS_SANDBOX directory within dockerized mesos tasks. The docker containerizer maps the host's sandbox directory to $MESOS_SANDBOX (/mnt/mesos/sandbox) in the docker container. However, this directory is inaccessible within the container. This is preventing us from being able to run the the dcos spark package. This can be demonstrated with the following marath

[2015-07-31 05:53] nickvth commented on #613
Hello Ryan,

Maybe you can do semanage on host os, instead of disable selinux.

- name: Selinux managed mesos sandbox
 command: /usr/sbin/semanage fcontext -a -t svirt_sandbox_file_t "/mnt/mesos/sandbox(/.*)?"

With Kind Regards,

Nick van ’t Hart

[2015-07-31 10:39] OleksandrBerchenko opened #614 "Mesos version is hardcoded in configuration"
In both `roles/mesos/templates/mesos-master.conf.j2` and `roles/mesos/templates/mesos-slave.conf.j2` we have a hardcoded version of Mesos:

Version "0.21.0"

At the same time we actually install the latest version of Mesos from the Mesosphere repository and it's already 0.23.0.

It's not a big deal to update our hardcoded version, but one day a new Mesos version can unexpectedly break the clusters

[2015-07-31 11:53] ryane commented on #613
@nickvth right, the intent is not to disable selinux - I just included that to demonstrate the selinux is causing the issue. Thanks for the semanage command - I'll look into that

[2015-07-31 15:14] tgermain commented on #596
Definetly a +1.

My only concern is for container logs forwarding :
we mount docker directory in logstash container ` --volume=/var/lib/docker/containers:/logs/docker:ro `. I remember having permissions issue to read the logs files.

You may need change the permissions of `/logs/docker` at runtime.

[2015-07-31 21:29] ryane commented on #613
it turns out the docker upgrade in #597 appears to have fixed this

[2015-08-01 10:51] loshkovskyi commented on #614
+1

Same for Marathon. Right now with the `latest` tag we install `Mesos 0.23.0-1.0` and `Marathon 0.9.1-1`, but:

https://github.com/mesosphere/marathon/releases/tag/v0.9.1
[code]
There are [263 changes](https://github.com/apache/mesos/blob/0.23.0/CHANGELOG) in the latest Mesos, so better to avoid any problems.

[2015-08-03 10:28] loshkovskyi commented on #614
@OleksandrBerchenko the configs, you are referring to, are related to the Mesos collectd plugin. So, the plugin should be updated as well. I'll update it and see how it works.

[2015-08-03 12:35] loshkovskyi commented on #614
PR https://github.com/CiscoCloud/microservices-infrastructure/pull/618

[2015-08-04 15:40] tgermain opened #621 "Enhanced docker logs"
When a container is launch by Marathon, the logs it output are associated with the name of the container, something like `mesos-23d9e0ac-332c-42e8-b62b-3f9d488d3eb4`.

It would be useful to add information to those logs like which image/task it is. This will help to consolidate the logs coming from multiple instances of the same app.

I've write a logstash filter to do that : https://github.com/tg

[2015-08-05 13:57] vimvim commented on #566
The same issue. 3 control nodes rebooted almost simultaneously because of the DC failure. Consul  unable to start after reboot, mesos master unable to start because unable to resolve zookeeper.service.consul, zookeeper unable to start because unable to contact consul:
2015/08/05 13:36:16 [WARN] (runner) disabling consul SSL verification
2015/08/05 13:36:36 [ERR] (view) "service(zookeeper [passing,

[2015-08-06 12:43] matjohn2 opened #625 "Allow Terraform to create security group for MI install"
Currently the security group needs manually creating in Openstack and then defining by name in the TF automation for MI, this can be automated by terraform (much as we create the keypair in Openstack automatically) and would reduce complexity + documentation steps.

[2015-08-06 14:16] stevendborrelli commented on #625
I agree.
@matjohn2, did you have a list of rules that you would like to include in the security group?

We could think about public ip rules vs. private ip rules. Ideally, they would be the same.

List of ports we are using:
[code]
Consul uses the following ports that need to be considered:

[code]

[2015-08-07 12:47] loshkovskyi commented on #487
@michaeltchapman can you please confirm this can be closed now? Thank you.

[2015-08-07 13:00] loshkovskyi opened #627 "Docker install fails on Vagrant"
Here is the issue:
[code]

Vagrant box comes with pre-installed Docker:
[code]
Since we install Docker 1.7.0 when provisioning VM, the deployment fails.

[2015-08-07 13:07] stevendborrelli commented on #627
Thanks for finding this. Let me take a look.

[2015-08-07 13:07] ryane commented on #627
There was a new version of the vagrant image published the other day that includes the fixes in #612. You want to make sure you get version 0.5.

[code]

I found I actually had to delete old versions first (using `vagrant box remove`) before Vagrant would pull down the latest image.

[2015-08-07 13:18] #487 closed

[2015-08-07 14:24] loshkovskyi commented on #627
@ryane thank you, it worked out. Indeed, there is a newer Docker inside. I think I will close this issue. Would be great to have such option in Vagrantfile to specify a specific version of the box.

[2015-08-07 14:25] #627 closed

[2015-08-08 17:08] stevendborrelli commented on #621
This is a great idea.

[2015-08-08 22:38] stevendborrelli commented on #587
@davidbuchanan, we have support for deploying to vSphere: http://microservices-infrastructure.readthedocs.org/en/latest/getting_started/vsphere.html.

What other support were you thinking of?

[2015-08-09 12:44] sharma-abhishek-it commented on #625
Hey.

I would like to contribute and fix this issue. But since I am new to certain methods I have two options to continue:
1. Read the entire source code and understand what exactly each ansible role does and how multiple technologies are curated to run together with all details
2. Dive right into this issue with some help and then figure out things on the go, a pure bottom up approach

Would anyo

[2015-08-10 16:47] saswatp commented on #590
+1

[2015-08-10 19:36] siddharthist commented on #85
Related: PR #603

[2015-08-10 19:41] siddharthist commented on #82
We now use Terraform. There is also a Terraform Cloudstack provider:

https://terraform.io/docs/providers/cloudstack/index.html

[2015-08-10 19:52] siddharthist commented on #166
Is this issue still valid? We now have Terraform configuration for control and worker counts and sizes, and it's pretty well-documented.

[2015-08-10 19:54] siddharthist commented on #167
Distributive has been integrated entirely, new tests should be added there. We do need more coverage, but this issue doesn't really touch on our new strategy.

[2015-08-10 19:54] #167 closed

[2015-08-10 19:55] #166 closed

[2015-08-10 20:01] siddharthist commented on #178
This issue is not broken down enough. CI is now being done through Distributive, and deployment via mi-deploy which will eventually become a separate Ansible/Terraform testing suite.

[2015-08-10 20:02] #178 closed

[2015-08-10 20:04] siddharthist commented on #315
etcd is a part of PR #626

[2015-08-10 20:08] siddharthist commented on #480
@corebug We are currently relying extensively on role order. We are working on further modularization/optionality of roles, but for now, this issue is nil.

[2015-08-10 20:08] #480 closed

[2015-08-10 20:10] siddharthist commented on #174
@kenjones-cisco Can this be closed? Is this issue fixed with PR #194?

[2015-08-10 20:46] kenjones-cisco commented on #174
Sure, I thought it might have been left opening because of the some of the other comments, but this can definitely be closed.

[2015-08-10 20:46] #174 closed

[2015-08-10 21:04] kenjones-cisco commented on #625
@sharma-abhishek-it Hopefully the following will help you get started!

Steven provided the ports above which should cover the inputs.

Then it is a matter of writing the terraform modules for the different cloud providers, see link for more details.
https://www.terraform.io/docs/index.html

This is an example of one I did for Openstack (specific to another project but an example):
[code]

Matt, a

[2015-08-10 21:04] siddharthist commented on #392
Is this error still outstanding? Did PR #390 fix your issue?

[2015-08-11 08:05] sharma-abhishek-it commented on #625
@kenjones-cisco Alright let me iterate what I understand so far. We need terraform configuration for providing rules to security group(s). Now since we support multiple providers we need to write config for each provider's security group. An example for specifying aws security group rules can be seen [here](https://github.com/hashicorp/terraform/blob/master/examples/aws-two-tier/main.tf#L6) from l

[2015-08-11 09:58] loshkovskyi commented on #596
Hello @tgermain . I have prepared the new Logstash image. How can I reproduce the permissions issue when reading the log files? Please also provide some details on your environment, for example, if you deployed M-I on OpenStack or GCE. Thank you.

[2015-08-11 11:56] kenjones-cisco commented on #625
@sharma-abhishek-it Your understanding is correct.

The port numbers within each resource would be static, and DRY within each provider. But each provider is independent such that the same information will need to be repeated for each cloud provider currently supported.

Yes, the rules are written within terraform/{provider}/*.tf files. For aws it would be adding rules based on the list provided b

[2015-08-11 13:26] tgermain commented on #596
Hi @loshkovskyi,

I've adapt M-I to deploy it on bare metal but the log & metrics part is intact (collectd & syslog & mesos logs => local logstash in a container).

# the permission issue :
if you launch
[code]
which is a dummy inline configuration which read docker logs and write it to stdout.
It does not show the log from another running container like `docker run ubuntu echo"hello"`

I know why

[2015-08-11 14:13] stevendborrelli commented on #163
As per #622, we want to move to a terraform-based tool that we can use to deploy any branch to any cloud. Distributive will be our infrastructure testing tool.

We'd like to run tests from drone running in an MI cluster.

[2015-08-11 14:27] sharma-abhishek-it commented on #163
@stevendborrelli umm so we are not having jenkins then? Also is there some branch where I can see some test cases written or is that a WIP?

[2015-08-11 15:03] #503 closed

[2015-08-11 15:12] ryane commented on #565
fixed by #628

[2015-08-11 15:12] #565 closed

[2015-08-11 17:14] siddharthist commented on #163
@sharma-abhishek-it Our Distributive checklists ca be found [here](https://github.com/CiscoCloud/distributive-rpm/tree/master/SOURCES). And yes, the current plan is to use Drone instead of Jenkins.

[2015-08-12 07:55] sharma-abhishek-it commented on #625
@kenjones-cisco regarding variables I was meaning to load a `.tfvars` file where all the port numbers will be listed. That way without repeating the actual values of port no I will simply be using their corr. variable names in each provider.

That was one thing. Another thing is that terraform also accepts JSON and recommends it for machine generated files. Do you think we should `generate` the co

[2015-08-12 10:03] ohal commented on #163
@sharma-abhishek-it
- jenkins for watching is accessible here http://173.39.214.186/view/CCS-MI-US-INTERNAL-1-QA-1/ it continuosly deploys and does testing each commit and PR to the master and features-integration branches
- test cases written in robot-framework and currently they are not published, I suppose I will do PR to
microservices-infrastructure github repo soon

@siddharthist
 *And yes, t

[2015-08-12 11:38] kenjones-cisco commented on #625
The `.tvars` would be a good approach for handling all the exposed ports.

I like where you are going with the generate direction, but I believe that part could be a second PR to enable automation of creating the terraform files.

@matjohn2 @stevendborrelli Please feel free to weigh in.

[2015-08-12 14:07] ohal commented on #163
here for review PR with robotframework code base https://github.com/CiscoCloud/microservices-infrastructure/pull/632

[2015-08-12 16:44] siddharthist opened #633 "Common health checks"
We need health checks for more basic, MI-unrelated things. I'd like to see the following on every node:

 * CPU usage (<100%)
 * Disk usage (<90%)
 * Memory usage (<100%)
 * ~~`centos` user present~~

Does anybody else have any ideas?

[2015-08-12 18:32] loshkovskyi commented on #633
Actually, user can be different, for example, in Cisco Cloud Services it can be `cloud-user` instead of `centos`.

[2015-08-12 18:35] loshkovskyi commented on #614
@OleksandrBerchenko , the patch has been merged, please review when you are back to work and reopen this issue if necessary. Thank you.

[2015-08-12 18:35] #614 closed

[2015-08-12 19:32] stevendborrelli commented on #633
We probably don't need to include the centos user check for mem/disk

[2015-08-13 01:09] siddharthist commented on #633
@loshkovskyi Thanks for pointing that out, I'll make sure not to include that. @stevendborrelli Did you mean "*or* mem/disk"? Do you just want the CPU check?

[2015-08-13 09:33] loshkovskyi opened #634 "Add default output for Logstash"
As pointed out by @matjohn2 , we need to provide a reasonable default output for Logstash. Right now it set to be empty, that is we don't send logs and metrics anywhere. There are plenty of use cases for such setup. For example, it can help in troubleshooting of any issue with the M-I components or an application deployed on Marathon.

Some other keypoints:
- We should follow the M-I philosophy an

[2015-08-13 10:33] cdmitri commented on #634
Andrii, please talk to the rest of the team that are working on this on
dcos and follow the same strategy. Destination can change, but should be
same logstash containers and config methods everywhere. If there are
arguments to chandelier and enhance, that's great of course, but need to be
completely in sync and not do it 5 different ways :)
On Aug 13, 2015 2:33 AM, "Andrii Loshkovskyi" <notificati

[2015-08-13 13:00] stevendborrelli commented on #633
I don't think user checks should be mixed with capacity checking. The centos user is an artifact of the OS  & Cloud platform, and memory & disk checks are more generic.

[2015-08-13 13:05] stevendborrelli opened #635 "Automated builds are failing"
@ohal, it looks like a lot of the automated builds from pull requests end up in a failure state. Could you look into it?

I saw this from the Jenkins logs of http://173.39.214.186/job/PR-to-master-CCS-MI-US-INTERNAL-1-QA-1/191/

[code]

[2015-08-13 13:40] ohal commented on #635
i'm on it
actually, this is bash below and it only suppresses the output from terraform
[code]

[2015-08-13 14:13] remmelt opened #636 "Installation fails on DO due to missing glusterfs mount point"
Should the entire glusterfs section be skipped if `glusterfs_brick_device` is not defined? If so, the conditional can be moved to the include in `main.yml`.

[code]

[2015-08-13 14:44] stevendborrelli commented on #634
@loshkovskyi I agree. We could use a lightweight agent on each box. We've seen a lot of issues where logstash is filling up the /var/lib/docker filesystem on nodes.

I'd like to see the logging get more modular, with defaults being we run a useful ELK ( or similar stack) by default tha.

For example:
- enable logstash forwarder (https://github.com/elastic/logstash-forwarder)
- configure logstash f

[2015-08-13 14:44] ryane opened #637 "cannot destroy aws cluster with attached glusterfs volumes"
`terraform destroy` cannot destroy an AWS cluster because of attached glusterfs volumes:

[code]

We might need to add `force_detach` to the `aws_volume_attachment` resource...

[2015-08-13 15:22] ryane commented on #543
There are actually still some issues with this. The escaped password is incorrectly written into some configuration files. For example `/etc/consul/marathon.json` which prevents consul from restarting:

[code]

[2015-08-13 17:04] ohal commented on #635
unfortunately, there were no logs from terraform to investigate, however, I saw such na issue when key-pair was not deleted after old deployment, so far I did:
- upgraded to terraform 0.6.3
- enabled DEBUG log and log rotation to further investigation

now it deploys well, however there is broken build because the nodes are inaccessible using ssh
http://173.39.214.186/job/COMMIT-to-master-CCS-MI-U

[2015-08-13 18:21] BrianHicks commented on #543
Great. I guess we’ll have to add an “escape” filter and just
escape where necessary, then.

[2015-08-13 18:30] tpowell-rms opened #640 "Mesos Framework integration with microservices-infrastructure"
It seems Mesos Frameworks can not be dropped into the microservices-infrastructure unmodified. Is this the case? http://microservices-infrastructure.readthedocs.org/en/latest/roadmap.html#mesos-frameworks
I don't see any documentation on what needs to be done to retrofit a framework on the platform.

Or am I looking in the wrong place?

[2015-08-13 18:39] cdmitri commented on #634
@stevenborelli the reason stuff was filling up was just yesterday for
debugging. Well turn it off. There is actually a logstash framework that we
are finalizing that we can run also, will see if that's better. We're doing
kibana and zoomdata dashboards for central shipped analytics, once those
are done, in a couple of days we can leverage. ES also...testing those,
once done will integrate into man

[2015-08-14 08:17] sharma-abhishek-it commented on #625
oops seems like I cannot run infrastructure locally yet! Look [hashicorp/terraform#265](https://github.com/hashicorp/terraform/issues/265)

guys am waiting on you to tell me how to proceed ahead on this one. Where do I run my code after developing it? I do not have any account with cloud provider... And my AWS free tier expired way back in time. Please help!

[2015-08-14 12:38] SillyMoo opened #641 "Vagrant environment failing to start due to docker version conflict"
Hi, whilst running up the vagrant environment I get the failure shown below. This seems to be a conflict in versions between the pre-installed docker version in the vagrant box and the official 'docker-engine' version being installed.

FYI, I have a fix, pull request incoming.

The error:

==> default: TASK: [docker | install docker packages] **************************************
==> default: fai

[2015-08-14 12:51] SillyMoo commented on #641
Pull request: https://github.com/CiscoCloud/microservices-infrastructure/pull/642

[2015-08-14 12:54] ryane commented on #641
What version of the CiscoCloud/microservices-infrastructure vagrant image do you currently have installed (run `vagrant box list`)? We recently published a new version that should address this problem without having to uninstall/reinstall docker. The latest image is

`CiscoCloud/microservices-infrastructure (virtualbox, 0.5)`

[2015-08-14 13:09] SillyMoo commented on #641
Ahh, I have 04.24.2015. Looks like I need to update. I shall abandon the pull request.

[2015-08-14 13:10] SillyMoo commented on #641
Oh, but if I try to update it does not work:

vagrant box update
==> default: Checking for updates to 'CiscoCloud/microservices-infrastructure'
    default: Latest installed version: 04.24.2015
    default: Version constraints:
    default: Provider: virtualbox
==> default: Box 'CiscoCloud/microservices-infrastructure' (v04.24.2015) is running the latest version.

vagrant box outdated
Checking if

[2015-08-14 13:16] SillyMoo commented on #641
Odd, I removed and re-added the box and now I have version 0.5. But a box update failed to work. Never mind not a microservices bug either way, so issue and pull request can be closed.

[2015-08-14 13:16] #641 closed

[2015-08-14 13:29] eirslett commented on #640
Marathon is running in microservices-infrastructure:

From https://github.com/mesosphere/marathon:

So one option is to start your framework as a Marathon task.

[2015-08-14 14:24] PeterLamar opened #643 "Investigate integration of kubernetes-ansible for Container Workloads"
Investigate integration of kubernetes-ansible for Container Workloads, deployed not as a framework but integrated with the MI architecture.

Kubernetes is continuing to gather momentum around container based workloads. It has several unique features that make it attractive in this usecase
1. IP per Container
2. Pod organization of containers
3. 2 dozen+ [examples](https://github.com/kubernetes/kub

[2015-08-14 14:47] loshkovskyi commented on #596
Thank you @tgermain , I was able to reproduce this issue. There is ongoing discussion here: https://github.com/docker/docker/issues/7198 related to this problem. In my opinion, we should `chown` the Docker logs by extending the entrypoint script `docker-entrypoint.sh`. I tested this solution it seems to work. I'm currently discussing some things concerning the Logstash image with other team member

[2015-08-14 18:06] SillyMoo commented on #500
This is a known issue: https://github.com/docker/docker/issues/7333. The underlying problem is that there is no way of signalling to docker to stop writing to a file and start a new one. This means when logrotate moves the file the FD is still the same and so it just carries on writing to the now moved file.
The suggestion seems to be that you need to use the syslog driver, but it looks like this

[2015-08-14 18:12] SillyMoo commented on #500
I tell a lie, you can use the syslog driver as an option when starting the docker daemon (-log-driver="syslog"). There is also support for fluentd, gelf (logstash) and journalctl drivers.

[2015-08-14 18:19] altvnk commented on #500
Seems like fluentd is a good option, I saw some writings in their blog. Btw fluentd itself has a good performance and smaller footprint then logstash. Also primarily fluentd is log shipper.

[2015-08-14 18:33] SillyMoo commented on #500
I figure a good short term fix is to use syslog+logrotate (as it's not far off what is there already) and maybe logstash later (as it looks like there is plenty of enhancements mentioning logstash). If the project owners are ok with it I'm happy to take on this issue and put together a pull request for the syslog+logrotate solution.

[2015-08-14 18:40] BrianHicks commented on #543
@ryane does [`feature/spaces-in-password-2`](https://github.com/CiscoCloud/microservices-infrastructure/tree/feature/spaces-in-password-2) fix this for you?

[2015-08-14 18:44] ryane commented on #543
I'll give it a shot

Ryan Eschinger | http://ryaneschinger.com
Phone: 347-394-2990
Skype: ryanesch

On Fri, Aug 14, 2015 at 2:40 PM, Brian Hicks <notifications@github.com>
wrote:

[2015-08-14 19:32] stevendborrelli opened #645 "Create debugging documentation"
Create page to collect debugging information.

[2015-08-14 19:33] stevendborrelli opened #646 "New logging driver"
Logstash is too heavyweight to run on each node. Deploy a log shipper that can be configured to speak to multiple log aggregator endpoints.

- fluentd?
- logstash shipper?

[2015-08-14 19:45] altvnk commented on #646
Since fluentd has native docker support I vote for fluentd.

[2015-08-14 19:50] altvnk commented on #646
Btw we can run logstash on marathon as central collector/parser, it would be pretty easy to scale and forward all the logs to third-party destinations, for analytics for example.

[2015-08-14 20:33] tpowell-rms commented on #640
@eirslett  Is that suggested method? Frameworks do not need to be modified? Looking at the docs, the impression is they need modification.. or I would assume all the frameworks would be checked off on the page.

[2015-08-14 21:15] stevendborrelli commented on #640
@tpowell-rms the goal is to use mesosphere universe packaging with the dcos command line (which might have to be modified). I'm not sure what you mean about retrofitting frameworks.

[2015-08-14 21:56] tpowell-rms commented on #640
This page list several frameworks.... http://microservices-infrastructure.readthedocs.org/en/latest/roadmap.html#mesos-frameworks   that are on the RoadMap.  The assumption is , you can not use them today with microservices-infrastructure . Is this correct?

If that is correct, why is this? Do Frameworks need modification before I run them on microservices-infrastructure with mesos.   As these fra

[2015-08-14 23:14] stevendborrelli commented on #640
Any framework that runs on Mesos should run fine. One issue you might run into is certain frameworks don't support authentication, so in the security setup script there is an option to disable mesos authentication.

[2015-08-15 13:22] SillyMoo commented on #500
Created a pull request that does the syslog based immediate solution, tested it with logrotate --force and seems to work. Puts logs in /var/log/docker/docker.log, and archives them (as per mesos) to /var/log/docker/archive.

[2015-08-16 00:19] siddharthist commented on #625
@sharma-abhishek-it You can at least test your code in Vagrant once written. If you submit a PR and ask for help testing, we can lend a hand.

[2015-08-16 14:05] cdmitri commented on #640
Trevor - we have several frameworks that were co-written by us and
partners. We'll be testing integration with microservices-infrastructure
right after MesosCon, perhaps you can help - thanks for raising this!

Any framework that runs on Mesos should run fine. One issue you might run
into is certain frameworks don't support authentication, so in the security
setup script there is an option to disa

[2015-08-16 14:35] sharma-abhishek-it commented on #625
Regarding `.tfvars` file. I am trying to write all ports in one tfvars file that could be reused by any provider. My only concern is that some providers(e.g GCE) use strings for port no. like `"22"` while other(e.g AWS) use numbers `22`. So in this case what should I do? Is it possible that it does not matter whether the port no. is a string or an integer(no.)? If it does matter should I make two

[2015-08-16 15:13] #634 closed

[2015-08-17 08:56] OleksandrBerchenko commented on #614
Looks good to me, thank you!

[2015-08-17 16:10] tgermain commented on #646
My 2 cents :
I've use this architecture for log handling :
[code]

The implementation choices for each part are questionable but I think this kind of architecture is well made :
- if you have a huge load of messages, you can add more instances of *global logstash* to process them
- there are some beta implementation of elastic search on Mesos

The subquestion is, if you go with fluentd log-driver,

[2015-08-17 18:39] tpowell-rms commented on #640
Ah I see.

Do you have any indication why this page shows other frameworks are unsupported?
http://microservices-infrastructure.readthedocs.org/en/latest/roadmap.html#mesos-frameworks

It seems to show Spark, Storm, Chronos are not working on the product yet.

[2015-08-17 20:31] loshkovskyi commented on #646
Should we close the issue https://github.com/CiscoCloud/microservices-infrastructure/issues/596 in favour of this one?

[2015-08-18 06:21] avthart opened #650 "collectd role : add /usr/sbin to path for running semodule"
[code]

Fix:
You just need to add /usr/sbin to your path.

e.g.
shell: /usr/sbin/semodule -l

[2015-08-18 08:13] sharma-abhishek-it commented on #625
Guys any suggestions for the above? should I skip `tfvars` for now and instead hardcode these ports? That makes testing also easier since `tfvars` need to copied to the directory where terraform is run on. So we will need a script to do that and include those in tests as well. So should I skip using `tfvars` and just hardcode ports in the providers `tf` files?

[2015-08-18 11:49] kenjones-cisco commented on #625
My thoughts, continue the hard coded approach for now to keep things simple.

[2015-08-18 17:48] sharma-abhishek-it commented on #625
Hey guys I opened PR #651 and it failed all tests. Could anyone help me sort out where the test is failing and how to debug this? The output is [here](http://173.39.214.186/job/PR-to-master-CCS-MI-US-INTERNAL-1-QA-1/210/console)

[2015-08-18 21:16] saswatp opened #652 "Stopping consul server stops nginx-consul as well"
If I manually stop consul service in a control node , nginx-consul gets into failed state.
After consul starts again , it is not accessible through the UI interface as the proxy is unavailable.

Stopping Consul shouldn't fail nginx-consul.

Logs
------

Aug 18 21:13:32 pb-control-01.cisco.com docker[29589]: }
Aug 18 21:13:32 pb-control-01.cisco.com docker[29589]: }
Aug 18 21:13:32 pb-control-01.ci

[2015-08-19 03:51] saswatp commented on #646
A full fledged logging service would have multi components , namely

__Logging Agent__ - Something that collects log from processes and containers running in a host.
__Log normalizer__ - That normalizes logs to a standard format
__Log shipper__ - Sends logs over network to the log server
__Log Server__ - Collects and stores logs for real time or deferred analysis

and
__A Diagnostics System__

__L

[2015-08-19 08:00] loshkovskyi commented on #596
Closing as I don't see any interest in this patch. Looks like this issue is going to be resolved in https://github.com/CiscoCloud/microservices-infrastructure/issues/646

[2015-08-19 08:00] #596 closed

[2015-08-19 15:18] eirslett commented on #646
I think MI should receive logs, but not care about where the logs are shipped; that should be up to the user. There could be a guide on how to set up the ELK stack on MI using elasticsearch-mesos and the official Kibana docker image.

I also think we should take into account all the mesos tasks that happen to not be Docker containers; they need log shipping too. So basing the system purely on Dock

[2015-08-19 16:01] altvnk commented on #646
Your note is absolutely fair. But please note also that when we talk about log shipping from docker via logging driver we can use fluentd for example for shipping another log sources (mesos tasks, etc.) since fluentd is excellent shipper, which btw has an elasticsearch output OOB.

Kind regards,
Alexander

[2015-08-19 16:13] ryane commented on #636
fixed by #638

[2015-08-19 16:13] #636 closed

[2015-08-19 16:55] cdmitri commented on #646
Ok, since we have about 90% of the requirements covered in this thread, we
need to share it with the os community asap next week. We can definitely do
more and expand/iterate, but do it carefully and not have people rewrite
things from scratch every 2 months :)

Let's share what we currently have with logstash and shipped analytics asap
and make sure there are roles for that.

@steven - what do we

[2015-08-19 17:00] stevendborrelli commented on #646
@cdmitri the docker image itself weighs over 600MB, and it uses a few hundred MB of memory. The general feeling is we have a lightweight shipper on each agent, and logstash running centrally.

[2015-08-19 17:33] cdmitri commented on #646
@steven, all, yes sounds large. We have a couple of options, some already
outlined, thanks everyone for the thoughts. Let's put a page together to
format all the ideas, present it/share with the project early next week
where we can experiment some more and I think we can have a clear strategy
by the end of next week and perhaps have an os community vote....sounds
good?
On Aug 19, 2015 10:01 AM, "S

[2015-08-19 18:08] ChrisAubuchon commented on #652
Check out PR https://github.com/CiscoCloud/microservices-infrastructure/pull/654

[2015-08-19 22:58] #543 closed

[2015-08-19 23:15] BrianHicks commented on #543
🙌

[2015-08-20 13:21] ryane opened #655 "glusterfs repo failure"
It looks like the LATEST glusterfs repository has changed which is preventing successful builds.

[code]

We should pin to a specific version to prevent this from happening in the future.

[2015-08-20 16:06] #655 closed

[2015-08-20 18:52] ryane commented on #652
fixed in #654

[2015-08-20 18:52] #652 closed

[2015-08-20 18:53] ryane commented on #637
this was fixed in #639

[2015-08-20 18:53] #637 closed

[2015-08-21 06:35] loshkovskyi commented on #548
Merged with PR https://github.com/CiscoCloud/microservices-infrastructure/pull/658

[2015-08-21 06:35] #548 closed

[2015-08-21 18:34] gnawux opened #660 "Multi-tenancy"
I'm Xu, one of the maintainers of [Hyper](hyper.sh).

Is there a plan to support multi-tenancy in Mantl? If yes, would like to join force. We have a similiar project [HyperStack](https://launchpad.net/hyperstack).

[2015-08-24 17:55] eebjr opened #664 "site.yml could not be found"
While attempting a deployment using the Docker container I'm getting an error: $ docker run -it -e SSH_KEY=/home/centos/.ssh/mi.key -v ~/.ssh/:/ssh/ -v $PWD:/state mi
ERROR: the playbook: site.yml could not be found
The web site doesn't mention this site.yml file, and there's not an example file.

[2015-08-24 18:20] tpowell-rms commented on #640
I talked to @stevendborrelli   ; That page is for frameworks that will be including in the future as part of the project.

[2015-08-24 18:20] #640 closed

[2015-08-25 12:27] eirslett opened #665 "Combine "short_name" and "datacenter""
The "datacenter" variable isn't used for many things as it is now. How about letting short_name = datacenter?
In a default setup, the datacenter would then be called "mi".
With 2 centers, you could have "mi0" and "mi1".
With multiple environments, maybe "prod0" and "prod1" etc.?

[2015-08-25 16:40] kenjones-cisco commented on #664
Did you remember to copy the `terraform.sample.yml` to `terraform.yml` (that is the playbook/site that is executed by default) before building the docker image?
[code]

[2015-08-25 16:53] eebjr commented on #664
I didn't, have the terraform.yml setup. I've moved a little farther down the road now. I was trying the docker method, because I was blocked. I'll try it again later.

[2015-08-25 16:53] #664 closed

[2015-08-26 20:46] sharma-abhishek-it commented on #625
Hey guys stuck a bit on this. Issues are happening in my PR #651 but I do not have openstack setup on my dev desktop. So I believe I will need to do a local openstack and deploy things to debug this locally? What should I do?

[2015-08-26 20:50] stevendborrelli commented on #625
Do you have access to an openstack cluster?

If not, you could try trystack.org or one of us will have to test it.

[2015-08-26 20:55] sharma-abhishek-it commented on #625
Ok I will try out trystack.org. And terraform will handle setting up the cluster on trystack?

[2015-08-27 15:32] stevendborrelli opened #666 "Rename slave/follower to agent"
At MesosCon 2015, it was announced that 'slaves' are being renamed to 'agents'.

Mantl had already deprecated the use of the term slave in favor of follower. We need to convert any use  of slave/follower to agent across the project.

[2015-08-27 15:41] stevendborrelli opened #667 "Configure stale reads in dns?"
If there is a consul leader election dns will be unavailable by default, which could cause outages.

https://www.consul.io/docs/guides/dns-cache.html

Options:
1) set dns_config.allow_stale in the consul config, plus x number of seconds for stale dns reads
2) set a cache on the dnsmasq
3) ??

[2015-08-27 16:12] eirslett commented on #667
How about allowing stale reads in consul for everything? (Including the k/v store)
It could be allowed by default and disabled by overriding an ansible variable?

[2015-08-28 08:03] heww opened #668 "custom consul_dns_domain not work for calico, nginx-chronos, nginx-marathon, nginx-mesos-leader and marathon set event hooks"
Custom consul_dns_domain is not work for calico, nginx-chronos, nginx-marathon, nginx-mesos-leader and marathon set event hooks for its consul_dns_domain is constant value `consul`.

Constant consul_dns_domain in those files:
* calico/defaults/main.yml
* chronos/templates/nginx-chronos.env.j2
* marathon/tasks/jobs.yml
* marathon/templates/nginx-marathon.env.j2
* mesos/templates/nginx-mesos-leader.

[2015-08-28 09:21] eirslett commented on #646
Another option is to delegate logging responsibilities to the [mesos/logstash](https://github.com/mesos/logstash) framework (running it on top of Marathon). Removing stuff from Mantl reduces the project's complexity, which is always a nice thing :smile:

[2015-08-28 12:50] tgermain commented on #646
I'll go against [mesos/logstash](https://github.com/mesos/logstash) for the moment since it relies on tailing files inside docker container @eirslett .

Why ? Because working with files is a pain.
If you go this way, you need to rotate log inside your container if it's a long running container. So you need to install `tail`, `sh`, `logrotate` in your extra tiny docker image ?

I'm pretty sure it's

[2015-08-28 14:38] #668 closed

[2015-08-28 15:21] erik-stephens commented on #646
I'm only casually following the conversation but wanted to suggest an option for diskless streaming of logs to logstash: `--log-driver fluentd` coupled with [logstash's fluent codec](https://www.elastic.co/guide/en/logstash/current/plugins-codecs-fluent.html)

[2015-08-29 08:15] eirslett commented on #646
@tgermain Ah, I didn't know that the framework did that... (didn't read enough about it I guess) In which case it's not such a good alternative after all.
The ideal case for us would be that the Docker containers could behave exactly like any other Mesos task; log to stdout/stderr, and then Mesos forwarded stdout/stderr directly to logstash without storing it to disk first. And then logstash could

[2015-08-31 09:22] deepagargit opened #672 "Vagrant up gives box could not be found error"
Please suggest what is missing

The github has Vagrant file vm box as "CiscoCloud/microservices-infrastructure".
How could I get the "CiscoCloud/microservices-infrastructure" vm box?

config.vm.box = "CiscoCloud/microservices-infrastructure"

sfuser@microservices:~/github/microservices-infrastructure$ sudo pip install -r requirements.txt

sfuser@microservices:~/github/microservices-infrastructure$

[2015-08-31 13:37] nmabhinandan opened #673 "Why zookeeper when consul is there?"

[2015-08-31 14:03] eirslett commented on #673
Because Mesos uses ZooKeeper.

[2015-08-31 14:09] nmabhinandan commented on #673
Oh. okay
![okay-face](https://cloud.githubusercontent.com/assets/1548848/9580564/eb7dc942-5017-11e5-80d3-ba92d359bf55.jpg)

[2015-08-31 14:09] #673 closed

[2015-08-31 14:13] stevendborrelli commented on #673
Many big data components use Zookeeper for coordination, and it's unlikely they will be ported to other systems in the next year or so.

We're really looking at 3 consensus systems right now in mantl:

Zookeeper: mesos, kafka, etc.
consul: mantl's main service discovery backend
etcd: kubernetes, weave, calico

Of the 3, the migration between consul <-> etcd is probably easiest, but there are still

[2015-08-31 14:16] nmabhinandan commented on #673
Consul is better for everyone in every angle IMO. Hope they would migrate soon.

[2015-08-31 15:13] eirslett commented on #673
I think we're stuck with all 3 systems for the future...

[2015-08-31 15:31] mikejihbe commented on #672
I also noticed that the latest version of virtualbox doesn't work (5.*)

On Mon, Aug 31, 2015 at 2:22 AM, deepagargit <notifications@github.com>
wrote:

--
Mike Ihbe
MustWin - Principal

mike@mustwin.com
mikejihbe@gmail.com
skype: mikeihbe
Cell: 651.283.0815

[2015-08-31 15:35] stevendborrelli commented on #672
@deepagargit could you upgrade your vagrant to the newest version? 1.7.4 is the newest version, and versions older than 1.7 might have issues with the networking.

[2015-08-31 15:36] stevendborrelli commented on #672
@mikejihbe what issue are you seeing? I'll upgrade my box to 5.x and test.

[2015-08-31 16:00] mikejihbe commented on #672
With Vbox 5.0:

[code]

[2015-08-31 16:05] chrholme opened #674 "GlusterFS volume create fails when launching a single control node"
glusterfs_volume.sh.j2 contains the command:
[code]
If {{glusterfs_replication}} replication value is 1 in the case of a single control node the volume create command will fail as 1 is not a valid replica count.

I'm thinking there should be an {% if glusterfs_replication <= 1%} to catch the single controller case and run the volume create command without the replica parameter set.

[2015-08-31 16:14] chrholme opened #675 "Timeout issue with marathon-wait-for-listen.sh on underpowered control node"
When I spun my test cluster I ran into an issue with marathon-wait-for-listen.sh timing out.  My control node was relatively under powered (t2-small in AWS).  I found that 60s wasn't long enough.  I changed the timeout to 300s and was able to get passed this.  Perhaps a longer timeout would be worth adding to help out all us poor folks playing with small instances.

[2015-08-31 16:16] stevendborrelli commented on #675
@chrholme do you think 120 seconds as in pull #659 would be sufficient?

[2015-08-31 16:17] chrholme commented on #675
I'd have to check but my guess is that that would be perfectly fine.  :)

[2015-08-31 16:21] stevendborrelli commented on #672
@mikejihbe what version of vagrant are you using?

[2015-08-31 16:23] stevendborrelli commented on #675
Closing with the merge of #659. Reopen if it is too short.

[2015-08-31 16:23] #675 closed

[2015-08-31 16:33] mikejihbe commented on #672
[code]

[2015-08-31 17:23] deepagargit commented on #672
I have got this issue fixed by upgrading the valgrant and virtualbox versions.

Thanks for the help.

[2015-08-31 17:23] #672 closed

[2015-08-31 17:25] deepagargit opened #677 "vagrant : default: Warning: Connection timeout."
Please suggest workaround for this issue:

The host machine has 5GB RAM on which vagrant is executed.

sfuser@microservices:~/github/microservices-infrastructure$ vagrant up
Bringing machine 'default' up with 'virtualbox' provider...
==> default: Importing base box 'CiscoCloud/microservices-infrastructure'...
==> default: Matching MAC address for NAT networking...
==> default: Checking if box 'Cis

[2015-09-02 06:59] saswatp opened #681 "Support anti-affinity on openstack through terraform server group resource"
Currently , Openstack deployment using terraform doesn't guarantee that VMs are not getting created on the same blade. This could  be a serious problem in case the all control nodes get hosted on the same blade. If the blade goes down or gets disconnected from the network, all control nodes will be gone. We need a mechanism to make sure that VMs are created on different blades.

With affinity/anti

[2015-09-02 07:51] eirslett commented on #681
+1 we have the exact same need!

[2015-09-02 11:55] ryane opened #682 "intermittent failures setting zookeeper acls"
During builds, it is possible for the zookeeper acl commands to fail because zookeeper isn't reachable.

[code]

We should add a guard to ensure zookeeper is responding before trying to set acls.

[2015-09-02 18:49] ryane commented on #500
Merged #648 with docker syslog driver to address this issue for now. More discussion on improving logging infrastructure happening in #646

[2015-09-02 18:49] #500 closed

[2015-09-02 18:50] ryane commented on #646
Referencing https://github.com/CiscoCloud/microservices-infrastructure/pull/648 again to capture the idea of a configurable log driver for docker

[2015-09-04 00:03] subbu05 opened #684 "Unable to install on openstack - ansible"
When I run with
ansible-playbook -i plugins/inventory/terraform.py -e @security.yml terraform.yml
I get following error.

failed: [subbu_mi-worker-01] => {"changed": true, "cmd": ["/usr/local/bin/consul-acl-bootstrap.sh", "fc10cc5a-33b5-42e7-b36d-3f32cea0a45b", "0a230be5-1a22-447f-9b35-f8adf2151e83"], "delta": "0:00:00.010865", "end": "2015-09-03 23:52:37.731259", "rc": 1, "start": "2015-09-03 23:

[2015-09-04 00:11] subbu05 commented on #684
no clear document / help.

[2015-09-04 00:11] #684 closed

[2015-09-04 00:12] subbu05 commented on #684
Need more documentation / help how to use it.

[2015-09-04 08:17] eirslett commented on #684
It's a little invisible gotcha: https://github.com/CiscoCloud/microservices-infrastructure/blob/master/terraform.sample.yml#L26
Comment out the line `consul_acl_datacenter`. Unless you have multiple datacenters that are supposed to communicate, in case you can point that variable to the name of the primary datacenter.

[2015-09-04 08:42] gtcno commented on #681
In our fork we have added affinity for our control nodes. See above:)

[2015-09-04 13:49] kbroughton opened #686 "run distributive consul test fails - appears to be distributive version issue"
TASK: [consul | run distributive consul test] *********************************
<127.0.0.1>
<127.0.0.1> --verbosity=info
<127.0.0.1> IdentityFile=/Users/kestenbroughton/projects/mantl/.vagrant/machines/default/virtualbox/private_key ConnectTimeout=10 PasswordAuthentication=no KbdInteractiveAuthentication=no User=vagrant ControlPath=/Users/kestenbroughton/.ansible/cp/ansible-ssh-%h-%p-%r PreferredA

[2015-09-04 22:51] siddharthist commented on #686
Cisco has a [Bintray page](https://bintray.com/ciscocloud/rpm/Distributive/view) from which we pull the distributive RPMs, as you can see [here](https://github.com/CiscoCloud/microservices-infrastructure/blob/50a5131bf30eb0a79868efa7fb42a800932dc733/roles/common/tasks/main.yml#L78). If you suspect you're downloading an old version, that's a good line to check.

You can also create your own RPMs wi

[2015-09-06 09:16] deepagargit opened #687 "MI platform-support for Linux Ubuntu\CentOS"
Hello,

I have below 3 queries. Please add your inputs.

1. Is MI platform supported for Linux Ubuntu\CentOS ?

------------------------------------------------------------------------------------------------------
The Roadmap has this listed.
 Vagrant (Linux + VirtualBox) http://microservices-infrastructure.readthedocs.org/en/latest/roadmap.html

The Git page doesnot have Linux support listed in

[2015-09-06 11:43] eirslett commented on #687
1) Mi runs on Linux/CentOS. It doesn't run on Ubuntu (which is a different Linux distro than CentOS) because of differences in the ecosystem, like for example the `yum` package manager, which is used by MI.

2) The nginx password prompt is run as part of the security-setup script, which generates various secrets, public/private keys and certificates for MI. You can run that on beforehand (`./secur

[2015-09-06 12:51] deepagargit commented on #687
Thanks!

I am getting below error over centos-se linux.
Please suggest what is missing?

[@default microservices-infrastructure]$ cat /etc/redhat-release
CentOS Linux release 7.1.1503 (Core)

#Vagrantfile
  # Prefer VirtualBox before VMware Fusion
  config.vm.provider "virtualbox"
#  config.vm.provider "vmware_fusion"

-------------------------------------------------------------------------------

[2015-09-06 13:22] ryane commented on #687
The Vagrant build should pick up the `security.yml` file. I haven't see that timeout before. Can you verify the version of Vagrant and VirtualBox you are running? You need Vagrant 1.7.3+ and probably virtualbox 4.3+.

[2015-09-06 16:31] deepagargit commented on #687
I have below versions.
I understand I need Vagrant updated 1.7.3. Do I need to update virtualbox also to 5.0?

Vagrant 1.7.2
Virtualbox 4.3.30

[2015-09-06 16:44] deepagargit commented on #687
Vagrant 1.7.4
Virtualbox 4.3.30

Same timeout error.

[2015-09-07 02:46] deepagargit commented on #687
Vagrant 1.7.4
Virtualbox 5.0

All latest versions. Same timeout error.
Could someone suggest the fix?

[2015-09-07 08:07] eirslett commented on #687
What is your host OS? Windows? OS X? I'm not sure whether that could impact the result of the build (though it's not supposed to)

[2015-09-07 08:45] deepagargit commented on #687
OS is CentOS-7 with SE enabled.

[2015-09-07 22:27] #682 closed

[2015-09-08 07:49] abn opened #688 "docker-engine installation fails due to conflict with docker package"
Raising this more so that this is logged and reasons for https://github.com/CiscoCloud/microservices-infrastructure/commit/c61031951d03c714527093f4e6f7ced691fd5e01 and https://github.com/CiscoCloud/microservices-infrastructure/commit/aba8d2fde4ba69215e2f57a36a9136bb3f9c176a are captured.

During deployment the "install docker packages" task fails with the following error.

[code]

The use case whe

[2015-09-08 09:57] TeaBough opened #689 "Removing 127.0.0.1 localhost from host file cause problems"
I have a vagrant cluster with 3 leaders and when `consul-wait-for-leader.sh` is run it says that `No Consul leader elected in 30 seconds`, it is because it tries to curl `localhost:8500` the problem is that it can't resolv localhost since it has been remove by the common role. I dont' understand why we do this :

[code]

[2015-09-08 11:38] eirslett commented on #689
In my project, I still get a 127.0.0.1 -> localhost reference in /etc/hosts. I suspect the regexp stuff is quite brittle...

[2015-09-08 12:08] TeaBough commented on #689
When I `vagrant up --no-provision` my `/etc/hosts` looks like this :

[code]

Thus the regex `^127\.0\.0\.1(\s+){{ inventory_hostname }}.*` match the first line. It's odd that in your case it doen't match.

[2015-09-08 12:15] eirslett commented on #688
I think docker (the daemon/main project) was renamed to docker-engine at some point, which is why they conflict...

The way I think (reproducible builds), using *thin/minimal* CentOS images is the best way, because then mantl can behave the same across providers. Yhere are already some workarounds for different CentOS images, but in general that's a pretty big technical debt to manage. For example

[2015-09-08 12:17] eirslett commented on #689
One option is to remove the regexp stuff altogether, and instead build the hosts file from scratch. That would be more deterministic...@ChrisAubuchon do you have any thoughts on that? What was the reason the regexp solution was chosen over a template solution?

[2015-09-08 14:20] ChrisAubuchon commented on #689
My `vagrant up --no-provision1 has `/etc/hosts`:
[code]

The `worker1` in you `/etc/hosts` file is the reason the regex matches yours. Having the hostname as an alias for localhost breaks a few things.

I suspect the reason the regex was used was to try to just remove `{{ inventory_hostname }}` as an alias to localhost. Might be best to recreate from scratch using a template

[2015-09-09 04:52] kbroughton commented on #686
Not sure how, but I had distributive 0.1.1 installed on the vagrant vm after running vagrant up.
Perhaps you can check if you can reproduce with the current master or latest tagged branch

[vagrant@default ~]$ yum info distributive
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: linux.cc.lehigh.edu
 * epel: ftp.cse.buffalo.edu
 * extras: mirror.pac-12.org
 * updat

[2015-09-09 04:52] #686 closed

[2015-09-09 05:10] siddharthist commented on #686
I can't reproduce with Vagrant+master. Using `yum info` reports the latest version. Glad it worked out for you!

[2015-09-09 07:18] abn commented on #688
The package name 'docker-engine' seems to be only used by the docker upstream RPM repositories. Cannot find a reference for that in CentOS.

The problem here from my pov is introduced by the use of the Docker provided repositories (and hence the use of docker-engine-1.7.0 package) for installing the docker daemon, while this can be useful to get the bleeding edge, it often introduces more issues t

[2015-09-09 13:21] BrianHicks commented on #688
Just as a bit of context, we're using the upstream package because of a bug in the interaction between the CentOS packaged docker daemon and selinux that meant we couldn't mount volumes from the glusterfs mount.

Regarding the sysconfig file, I addressed it in docker/docker#15043, see the discussion there. The long and the short of it: they want people to use overrides. See docker/docker#15301 for

[2015-09-09 14:34] TeaBough opened #692 "Can't access slave's sandbox"
When I'm on the mesos master UI and I try to access the Sandbox of a task I get :
[code]

I run 3 mesos masters and 1 slave all of them using `CiscoCloud/microservices-infrastructure` box in Vagrant. All `/etc/hosts` are correctly set. When I ssh my master node I can see using `nmap` that I can access the port 5051 of worker1 (which is my slave hostname). I really don't know why it is not working.

[2015-09-09 15:52] abn commented on #688
@BrianHicks thanks for the reply; that definitely puts things into context. Note that the `-H fd://`  in the current local.conf file will cause issues with CentOS 7.1. See docker/docker#11135.

Is there an issue open with Red Hat/CentOS for the SELinux issue? Oh, and +1 for not re-packaging.

[2015-09-09 15:52] ipolyzos commented on #537
The same happens to me also in an openstack deployment. The issue is repeatable and happen in every subsequent run attempted. Interesting though is that SSHing into the machine and machine and run the individual command or the script manually works as expected!

[2015-09-10 11:49] stevendborrelli commented on #537
@ipolyzos it could just be a timing issue. Consul leader elections usually happen in a couple of seconds, so we need to figure out why the 30 second timeout is not working.

[2015-09-10 13:25] stefanbacon commented on #692
It's because it's trying to access slave on https but it's running on http.
there was a patch to fix the urls so it uses http but then javascript complains about loading unsecured resources inside https page.
We need to wait for mesos 0.23 with native ssl support.

In the mean time you can create an SSH tunnel:

ssh -L 5050:localhost:15050 MASTER-IP-ADRESS

and access mesos on http://localhost:505

[2015-09-10 13:34] ipolyzos commented on #537
@stevendborrelli thanks for the help. Running behind proxy turned out to be  a typo in no_proxy configuration

[2015-09-10 14:47] BrianHicks commented on #688
It was actually an issue with Docker, not SELinux. Basically, it didn't know how to correctly request access to a different mount, even when the flag was correct specified. Just for visibility, would you mind opening a separate ticket about the `-H fd://` issue please?

[2015-09-10 15:12] TeaBough commented on #692
It doesn't work in my case. When I tunnel ssh using the 15050 port I get :
[code]

I when I tunnel ssh using 5050 port I get the same problem as in my first comment.

[2015-09-10 15:53] TeaBough commented on #692
Ok my mistake, I did : `ssh -L 5050:localhost:15050 MASTER-IP-ADRESS` instead of `ssh -L 5050:MASTER-IP-ADRESS:15050 MASTER-IP-ADRESS`. It's working now. Thank you very much,

[2015-09-10 15:53] #692 closed

[2015-09-10 16:18] stefanbacon commented on #692
yeah I edited my comment had written it by memory but remembered it was wrong was hoping I had fixed it before you tired it! sorry

[2015-09-10 16:20] TeaBough commented on #692
Don't worry it has helped me to have a deeper understanding of ssh tunnels ;-)

[2015-09-11 01:49] abn opened #695 "Docker on CentOS 7.1 fails to start "ServeAPI error: No sockets found""
The root cause of the issue is the `-H fd://` in https://github.com/CiscoCloud/microservices-infrastructure/blob/master/roles/docker/tasks/main.yml#L83-L86.

This expects socket activation, this is no longer the case for CentOS and Fedora. See upstream issue at https://github.com/docker/docker/issues/11135.

[2015-09-11 01:51] abn commented on #688
Ah; so I'd assume that using the CentOS docker-1.7.1 package should work.

Created #695 to capture the socket activation issue.

[2015-09-11 09:30] eirslett commented on #695
I'm not sure `$other_arg` is needed at all... I guess it should be possible to inject the other options via files, the systemd way? It would be nice to leave the main service configuration alone.

[2015-09-11 09:33] eirslett commented on #692
I've disabled the iptables rule for mesos and then access the dashboard at http://mi-control-01.example.com:15050/, that works but it's an ugly hack.

[2015-09-11 14:02] TeaBough opened #696 "Can't find a way to change ServicePort in a *-direct service"
Every time a start a service using marathon an similar `service-direct` is registered in Consul with a `ServicePort` set to 0. I would like to be able to change this port when launching the app. I can't find a way to do that. Moreover I can't find the place responsible for registering those `*-direct` services in consul.

[2015-09-11 14:06] eirslett commented on #696
It's happening somewhere in calico or mesos-consul (the docker container) I think...

[2015-09-11 14:12] TeaBough commented on #696
In the doc it says something about Powerstrip but I don't see where it's set. For instance, what if I want to change from `*-direct` to `*-toto` ?

[2015-09-11 15:31] stevendborrelli commented on #537
@ipolyzos can we close this issue?

[2015-09-11 17:31] abn commented on #695
`other_arg` is required to facilitate configuration of dns for the docker daemon see https://github.com/CiscoCloud/microservices-infrastructure/blob/master/roles/docker/tasks/main.yml#L57-L68

As clarified by Brian at https://github.com/CiscoCloud/microservices-infrastructure/issues/688#issuecomment-138907383, the drop-in file was used due upstream docker packaging issues.

[2015-09-11 19:23] ipolyzos commented on #537
@stevendborrelli yes please feel free to do so.

[2015-09-11 19:25] #537 closed

[2015-09-14 00:00] kbroughton opened #697 "authentication errors on curl to marathon"
following https://github.com/CiscoCloud/marathon-consul#options

I have tried using the marathon-consul.json generated by ansible
[vagrant@default ~]$ curl  -X GET -d @/etc/marathon/marathon-consul.json -H "Content-Type: application/json"  https://marathon.service.consul:8080/v2/apps
<html>
<head><title>401 Authorization Required</title></head>
<body bgcolor="white">
<center><h1>401 Authorization

[2015-09-14 00:08] kbroughton commented on #697
Found my answer in https://github.com/CiscoCloud/microservices-infrastructure/blob/master/roles/marathon/tasks/jobs.yml

The port is 18080 not 8080

Will submit a docs PR when I'm done review.

[2015-09-14 00:08] #697 closed

[2015-09-14 12:02] TeaBough commented on #696
So to answer a part of my question, I pretty sure that the logic of registering `*-direct` services is done in the `ciscocloud/calico` image. Unfortunaty it's not possible to get access to the Dockerfile : https://hub.docker.com/r/ciscocloud/calico-node/ to see how it's done.

[2015-09-14 15:18] loshkovskyi commented on #696
@TeaBough regarding those `*-direct` services, please take a look on this branch https://github.com/CiscoCloud/calico-docker/blob/add-consul-support/calico_containers/adapter/powerstrip_calico.py#L38
The `-direct` suffix is set with the variable `CONSUL_CALICO_DNS`.

[2015-09-14 15:29] TeaBough commented on #696
@loshkovskyi  Thank you very much, I didn't see this branch !

[2015-09-14 15:29] loshkovskyi commented on #689
@TeaBough it's becase there were some duplicated `127.0.0.1` entries pointed to `{{ inventory_hostname }}` added in some OpenStack environments. More info in this commit: e9514ea050990258bb3375f0c517c405e0fc976c

[2015-09-14 18:42] kbroughton opened #698 "Docker container run error adding new service to marathon. How to find logs?"
I'm trying to add a new container/service to marathon
[code]
However, I can do this successfully:
docker pull myredis
docker create redisImageHash
docker start redisContainerHash

I'd like to see the marathon command and docker logs, but I'm not sure how to access that.

[code]
and
[code]

[2015-09-14 18:44] stevendborrelli commented on #698
This is an issue with Mesos/Marathon in that they don't capture the docker logs correctly. The best way to see what is happening is to look at the docker logs directly:

`grep docker /var/log/messages`
or `journalctl -u docker`

[2015-09-14 18:52] kbroughton commented on #698
very nice.  thanks.

[2015-09-15 04:10] kbroughton commented on #698
The link to the Sandbox for the failed task is
https://default:5050/#/slaves/20150909-175650-938649792-15050-7925-S0/frameworks/20150909-175120-251789322-5050-820-0000/executors/galaxy_redis.1b1e21a4-5b32-11e5-b841-3681a5cc4e39/browse

But I get a message:
Failed to connect to slave '20150909-175650-938649792-15050-7925-S0' on 'default:5051'.
Potential reasons:
The slave's hostname, 'default', is

[2015-09-16 08:50] SupriyaPrasad opened #699 "RPM packages for mesos and collectd"
Hi Team,

Could you please provide the rpm packages (centos 7) for mesos and collectd?

mesos version: 0.23.0
collectd version: 5.5.0

also you please let me knw the cisco cloud location?

[2015-09-16 09:10] eirslett commented on #699
If you install Microservices-infrastructure (which is a software project, it has now been renamed to Mantl) it will install all of the packages for you. Most of them are simply from the official repositories.
This is a project page for the software, not a cloud provider that gives you servers.

[2015-09-16 09:42] SupriyaPrasad commented on #699
Thank you for the reply, but we are building another environment similar to microservices infrastructure. most of the rpm i have got but just these two are left over. in the mesos and collectd playbook i dont see a specific rpm link so could you please provide them?

[2015-09-16 10:26] eirslett commented on #699
Look at the common role, I think it adds an rpm repository. The mesos role also adds a repository. They get their rpms from there.

[2015-09-16 12:00] stevendborrelli commented on #699
Mesos is pulled from the Meosphere yum repo, collectd is installed via Centos package.

We are also re-packaging many of the ansible roles, you can track progress at https://bintray.com/asteris/mantl-rpm

[2015-09-16 14:11] TeaBough opened #700 "Communication between container from different hosts"
I have 2 vagrant machines (`hostA`, `hostB`), `hostA` contains `containerA` and the `hostB` contains  `containerB`.

Here is what works :
on `hostA` I can ping `containerA`
on `hostB` I can ping `containerB`

Here is what doen't work :
on `hostA` I can't ping `containerB`
on `hostB` I can't ping `containerA`
on `containerA` I can't ping `containerB`
on `containerB` I can't ping `containerA`

Has a

[2015-09-16 21:43] stevendborrelli commented on #667
@eirslett sounds good, we'll add this to the 0.4 release.

[2015-09-17 02:08] saswatp opened #701 ""centos" user name is hard coded."
Newer CentOS releases have cloud-user as default user . Since centos user name is hardcoded for logging into nodes , login fails.

[2015-09-17 10:19] SupriyaPrasad commented on #699
Thank you Steven, could you please provide me the link of the collectd rpm package for centos7? i search for it but couldnt find it. Collectd version 5.5.0

[2015-09-17 12:06] deepagargit commented on #687
Any thoughts to fix the vagrant issue on CentOS-7 with SE enabled ?

Vagrant 1.7.4
Virtualbox 5.0

All latest versions. Same timeout error.
Could someone suggest the fix?

[2015-09-17 14:41] chrislovecnm commented on #645
@stevendborrelli probably should link https://www.terraform.io/docs/internals/debugging.html - Any other advice debugging terraform?  Working with a guy that is having problems with the vSphere provider, as I learn more about that code base.

[2015-09-17 14:45] stevendborrelli commented on #700
@TeaBough do you have a vangrantfile we can use to duplicate your test env?

[2015-09-17 14:51] stevendborrelli opened #702 "Create distributable binary for mi-deploy"
Users shouldn't need to build their own binaries of mi-deploy. Please make mi-deploy binaries avalilble for our common platforms.

See the Makefile at https://github.com/CiscoCloud/consul-cli/blob/master/Makefile for a build pattern.

@siddharthist

[2015-09-17 14:55] TeaBough commented on #700
yep :
[code]

And here is my playbook :
[code]

[2015-09-17 15:35] pgrondin commented on #700
I had a similar issue where traffic between containers on different hosts wouldn't work. I've been able to fix it by setting to 1440 the mtu on tunl0 which was set to 0 by default. Hope this will help.
[code]

[2015-09-17 16:00] TeaBough commented on #700
OMG you are my hero ! How did you manage to find that the problem was the mtu ?

[2015-09-17 20:54] saswatp commented on #702
+1 - We certainly need this.

One more feedback :

mi_deploy is part of MI . When user downloads MI code with mi_deploy in it , (s)he most of the time wishes to deploy that version/branch of MI. Right now mi_deploy by default downloads a master branch in "deployments" and every time it creates a new deployment snapshot with current timestamp. User should just be allowed to deploy the MI (s)he has

[2015-09-17 23:10] siddharthist commented on #699
From [collectd's webpage](https://collectd.org/download.shtml), "For Red Hat, CentOS and fedora, there are collectd RPM packages in Dag Wieers' repository." which is [here](http://pkgs.repoforge.org/collectd/).

[2015-09-18 07:04] shishirranjan08 opened #703 "MI failure on MAC with Vagrant"
I got the below error while running on Mac.Please suggest the fix or workaround..

Vagrant version: 1.7.2
MANTL Version-0.3.2
Virtual Box-4.3
Mac OSX -10.10.5
[code]
[code]

=====
[code]

[2015-09-18 07:54] TeaBough commented on #703
Check at your `/etc/hosts` in your VM. Verify that localhost points to 127.0.0.1.

[2015-09-18 08:59] shishirranjan08 commented on #703
Issue in MI code was : IP in /etc/hosts (populated from Vagrant file) Vs IP assigned to Vagrant VM were hardcoded differently

Could you add the fix in MI code as MI code is broken, to ensure IP in /etc/hosts is same as IP assigned to Vagrant VM ?
Basically Changing IP in Vagrant file to 10.0.2.15 fixed the issue for me.

Vagrant file
VAGRANT_PRIVATE_IP = "192.168.242.55"

/etc/hosts
default 192.1

[2015-09-18 09:52] TeaBough opened #704 "How to access *-direct service through ha-proxy"
I have a service email running in a container on port 8080. This service has been registered in haproxy conf this way :
[code]

How am suppose to access this service through haproxy ? I tried :

[code]

But it won't work since haproxy is redirecting this request to the port `0` of `192.168.0.10`.

The only thing working is :
[code]
But I really want to use haproxy !

[2015-09-18 09:56] eirslett commented on #704
What I have suggested (but it's not implemented yet) is to add "workerhost" as a record in dnsmasq (referring to the worker node's public IP), so that you can access haproxy on "myapp.workerhost" - would that work for you?

[2015-09-18 10:01] TeaBough commented on #704
I don't think so because in my case it's a port problem. I need a way to change :

[code]
to :

[code]

[2015-09-18 11:31] ipolyzos opened #705 "zookeeper service fails to start"
Zookeeper service start is failing due to an error risen from "zookeeper-wait-to-listen.sh"script execution. Further diving into this turns out that "zookeeper-service.j2" template is not publishing the port.

[2015-09-18 12:12] ryane commented on #703
Can you try again with an upgraded version of Vagrant? We require at least Vagrant 1.7.3 as it included some networking fixes

[2015-09-18 13:34] deepagargit commented on #687
I have tried with lower Virtualbox version as well.

Any thoughts to fix the vagrant issue on CentOS-7?

Vagrant 1.7.2
Virtualbox 4.3

[2015-09-18 13:46] ryane commented on #687
Are you running vagrant 1.7.2? You definitely need Vagrant 1.7.3+

[2015-09-18 20:05] TeaBough commented on #704
I've added a PR in https://github.com/CiscoCloud/calico-docker to set the port of the service in Consul.

[2015-09-18 22:15] siddharthist commented on #702
These aer live [here](https://bintray.com/siddharthist/mi-deploy/mi-deploy/0.0.1/view?sort=&order=). I'm working on getting them in our organization.

[2015-09-19 14:17] eirslett commented on #702
I guess I'm derailing this issue - but actually, one of the strongest wins we got from using mi-deploy was separating code and configuration. (Have them in different repositories) So we can deploy our cluster using MI code from the upstream repository, but with custom tweaks/configuration for us that is kept in a separate in-house repository. In that regard, mi-deploy works more like a package man

[2015-09-19 14:53] chrislovecnm commented on #587
@davidbuchanan just following up with your question.  One of the main things that I have researched is that vSphere does not have a terraform supported terraform provider.  I am trying to work out which provider we are going to document and more testing with.

[2015-09-19 15:36] deepagargit commented on #687
I tried with 1.7.4 vagrant , same error!  Any more thoughts for the fix?

============================================================
Vagrant 1.7.4
Virtualbox 4.3
MI 0.3.2
CentOS7

============================================================

[@CentOS7 ~]$ vboxmanage --version
4.3.30r101610
[@CentOS7 ~]$ vagrant --version
Vagrant 1.7.4
[@CentOS7 ~]$ systemctl status firewalld
firewalld.service -

[2015-09-19 16:01] deepagargit commented on #687
With Vagrant ip --debug ... I see following logs ... "Command not in installer"

Is it something to do with vagrant or virtualbox issue ?

Vagrant 1.7.4
Virtualbox 4.3
MI 0.3.2
CentOS7

====================================================================

DEBUG subprocess: Waiting for process to exit. Remaining to timeout: 32000
DEBUG subprocess: Exit status: 0
DEBUG virtualbox_4_3:   - [1, "ssh",

[2015-09-19 18:22] shishirranjan08 commented on #703
With the upgraded version of Vagrant -1.7.4 usage the issue is solved. Thanks for the help.

[2015-09-20 07:46] #703 closed

[2015-09-20 08:06] siddharthist commented on #702
@saswatp @eirslett If either of you have any feedback unrelated to creating binaries, we'd love to hear it! Please go ahead and create a separate issue and we can discuss there.

[2015-09-20 15:05] cdmitri commented on #587
Hi Chris - we have vSphere working in a private branch, not integrated to
mantl os yet, but we can help your use case. Send me an email note:
dchtchou@cisco.com
On Sep 19, 2015 7:53 AM, "Chris Love" <notifications@github.com> wrote:

[2015-09-20 17:09] chrislovecnm commented on #587
@cdmitri included you on a thread that I had started with a few Cisco folks.  Thanks!

[2015-09-21 06:34] deepagargit commented on #687
Any inputs??

[2015-09-21 15:11] loshkovskyi commented on #696
Please confirm this is the issue you are having:
[code]

[2015-09-21 15:22] TeaBough commented on #696
Exactly, I've added a PR in https://github.com/CiscoCloud/calico-docker to set the port of the service in Consul for the direct-* services.

[2015-09-21 15:26] eirslett opened #706 "Thoughts on mantl-cli/mi-deploy"
Here's some feedback:

We're running a slightly modified version of mi-deploy now, with this project layout in our internal "configuration" git repository:

[code]

...where we have different configurations per cluster in their own folder.

One thing we found was that mi-deploy is built around the idea that you're supposed to deploy the same cluster configuration, but to different cloud providers.

[2015-09-21 17:38] siddharthist commented on #706
@eirslett We created mi-deploy mostly to simplify our own testing process. I think it really reflects this use case, especially in its inability to support multiple configurations, and a mandatory platform argument. Our use case is mostly having .tf files for ALL our supported platforms in `tf-files/`, which then get selected via the arg. The interactivity could be disabled, but then you get exact

[2015-09-21 20:32] stevendborrelli commented on #706
I think many of @eirslett's comments are really good. In particular:

1) the use of a deployments/ directory is required less when building via an automated system like Jenkins.

2) The idea that someone wants to deploy multiple clusters to a single cloud is something we need to thing about.

3) We are building out some tools that wrap terraform, we need to keep in mind that for many of these use

[2015-09-21 20:57] eirslett commented on #706
Ah I see, of course given that mi-deploy is scoped to integration tests only, the design makes a lot more sense.
Though if the mantl command is used both for end users and integration tests, the tests will be more reliable, since they are run in the same way as users would run the commands in production?

[2015-09-21 22:32] saswatp commented on #706
Since mi-deploy is part of microservices-infra it would make sense to allow users to deploy the micro-services infra they have downloaded instead of always downloading the latest (or specified branch). Current design is fine, but there is a need for deploying the already downloaded microservices-infra.

Other option is to put mi-deploy in a separate repo. Then it can download a new version of MI a

[2015-09-22 05:30] deepagargit opened #707 "Bug in MI released vbox 0.5\0.4"
The MI released vbox version 0.5\0.4 are giving error with CentOS.

Firstly, The virtual-box from (hashicorp/precise32) came up on CentOS, while on same CentOS VM (CiscoCloud/microservices-infrastructure) vbox is giving error.
This means specific error with MI packaged vbox.

Secondly, On same CentOS VM, both MI vbox version 0.4 and 0.5 are giving same error.

This means the error in MI code needs

[2015-09-22 09:39] eirslett commented on #706
I think mi-deploy also lets you specify a commit hash tag instead of a HEAD. So you are able to deploy whatever version if mantl you wish.
It certainly has another "release cycle" than the main mantl project - I guess it's in the same repository just because that's simple to begin with.

[2015-09-22 11:01] ipolyzos commented on #705
the problem still exists and is due to the zookeeper docker container. I can access it in port 2181 with nc when i refer to as localhost but not when using the internal/external IP or hostname.  The systemd unit file seems to be generated correctly.

[2015-09-22 11:19] ipolyzos commented on #705
trying to access the curl consul.service.consul:8500 using "curl http://consul.service.consul:8500/v1/health/service/zookeeper?wait=60000ms" results to "302 Not Found " however sshing into the machine and attempt curl "http://localhost:8500/v1/health/service/zookeeper?wait=60000ms" works fine.

[2015-09-22 13:26] ChrisAubuchon commented on #705
The `consul.service.consul` address uses HTTPs. You can either use `https://consul.service.consul` or use `curl -L`.

[2015-09-22 15:09] ipolyzos commented on #705
I can see that the generated */etc/defaults/zookeeper* contain the following information *CONSUL_CONNECT=consul.service.consul:8500* and *CONSUL_SSL=true* also this file is passed in the container from the parameter  *--env-file={{ zookeeper_env }} \* . However the call to the service happen in *http* and not *https*.

[2015-09-22 16:15] ipolyzos commented on #705
what i can see from when attach in the zookeeper image is the following ERR log   :

How could we change this behavior? is there any properties that could enforce *https* ?

[2015-09-22 17:15] loshkovskyi commented on #696
@TeaBough, I've pushed new Calico image with the tag `v0.4.9-mi-test` which you can set in https://github.com/CiscoCloud/microservices-infrastructure/blob/master/roles/calico/defaults/main.yml#L3 to verify the changes.

It should be working like so:
[code]

Let me know if you need any help on this.

[2015-09-22 18:33] saswatp commented on #706
@eirslett  - Do you mean I could test my local changes with commit hash tag without pushing it to the repo ?
If I make a one line change, I would like mi-deploy to deploy the changed code , so that it could be tested.

[2015-09-22 18:40] ChrisAubuchon commented on #705
The `10.10.10.2:52: server misbehaving` is indicating a DNS issue from inside the Zk container. Is 10.10.10.2 reachable from inside the container? `docker exec -it zookeeper /bin/bash` to get a shell in the container.

[2015-09-22 19:22] saswatp opened #709 "Fails to do ssh with mi-deploy while deploying to AWS"
Using mi-deploy CLI for AWS , I am running into an issue where it’s not able to SSH into the host to do software configuration through Ansible. However, If I manually run ansible-playbook command for MI deployment from the same box it works fine.
[code]

Any clue on what’s going wrong with mi-deploy in this case ?

[2015-09-22 19:31] saswatp commented on #709
Here is the SSH command that is used :

ssh -C -tt -vvv -o ControlMaster=auto -o ControlPersist=60s -o ControlPath="/home/cloud-user/.ansible/cp/ansible-ssh-%h-%p-%r" -o StrictHostKeyChecking=no -o Port=22 -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o PasswordAuthentication=no -o User=centos -o ConnectTimeout=10 107.21.44.108 /bi

[2015-09-22 19:41] siddharthist commented on #709
@saswatp Have you tried retrying the process? That usually works for me. I think what might be the issue is that `mi-deploy` tries to run ansible immediately after terraforming, which might not give the machines time to become ready.

[2015-09-22 19:46] ryane commented on #709
I wonder if we could run `playbooks/wait-for-hosts.yml` (or something equivalent) in between Terraform and ansible provisioning.

[2015-09-22 19:48] siddharthist commented on #709
That would be very easy to do, I can try patching that.

[2015-09-22 21:17] saswatp commented on #709
Yes , I just tried retry option and thought it got stuck as didn't show any output for long long time. Later I realized that It was actually deploying ... @ryane  - That's a good idea.
@siddharthist - Another thing I observed is that if i run in debug mode --verbosity "debug" , on the ssh failure , it simply exits without prompting me to retry.

[2015-09-22 22:57] saswatp opened #710 "GCE deployment fails - Wrong Zone Information"
GCE deployment fails with the following error message :
zone variable has been set as "region' . Hence the failure.
[code]

[2015-09-22 23:48] siddharthist commented on #710
@saswatp So this is a problem [here](https://github.com/CiscoCloud/microservices-infrastructure/blob/master/terraform/gce.sample.tf#L15)?

[2015-09-23 00:00] siddharthist commented on #709
@saswatp Let's close this and open two new unrelated issues:
 1. `mi-deploy` doesn't allow for retrying when `verbosity=debug`
 2. `mi-deploy` should use `wait-for-hosts.yml` before running Ansible

[2015-09-23 00:00] #709 closed

[2015-09-23 00:06] siddharthist opened #711 "mi-deploy should wait for hosts to be ready before running Ansible"
When `mi-deploy` deploys, it often fails because the hosts aren't ready and then suceeds upon an immediate retry. It should automate this process by running the `wait-for-hosts.yml` playbook after terraforming. See #709.

[2015-09-23 01:57] saswatp commented on #710
It needs both region and zone. Zone is set to region in the resource file , hence the failure.  I have the verified the fix. will soon send a CR.

[2015-09-23 06:27] deepagargit commented on #687
[Solved]
Added Hardware Virtualization on vSphere VM.

It would be good to add advisory to MI outpur when failure happens, since 32-bit vbox doesn't give failure and User assumes failure is only with MI vbox.
=====================================================================

Vagrant Failing with 64 bit vbox:
The vagrant instantiation using vbox 64-bit on GCP-Pod has been failing (e.g. hashicor

[2015-09-23 06:27] #687 closed

[2015-09-23 06:27] deepagargit commented on #707
[Solved]
Added Hardware Virtualization on vSphere VM.

It would be good to add advisory to MI outpur when failure happens, since 32-bit vbox doesn't give failure and User assumes failure is only with MI vbox.
=====================================================================

Vagrant Failing with 64 bit vbox:
The vagrant instantiation using vbox 64-bit on GCP-Pod has been failing (e.g. hashicor

[2015-09-23 06:27] #707 closed

[2015-09-23 06:27] deepagargit commented on #677
[Solved]
Added Hardware Virtualization on vSphere VM.

It would be good to add advisory to MI outpur when failure happens, since 32-bit vbox doesn't give failure and User assumes failure is only with MI vbox.
=====================================================================

Vagrant Failing with 64 bit vbox:
The vagrant instantiation using vbox 64-bit on GCP-Pod has been failing (e.g. hashicor

[2015-09-23 06:27] #677 closed

[2015-09-23 07:22] deepagargit opened #712 "CentOS - Playbook Installation failed for vault"
I am getting error when executing MI playbooks with Vagrant.

Please suggest any workaround or fix?

=======================================================================

OS : CentOS
MI : wget https://github.com/CiscoCloud/microservices-infrastructure/archive/0.3.2.tar.gz
Vagrant : 1.7.4
VirtualBox : 4.3

======================================================================
[code]

===========

[2015-09-23 07:27] eirslett commented on #706
Aah I see, yes in that use-case there's missing something. It should be possible to run mi-deploy on a dirty working tree as well as on a commit hash! (What I have done in these cases is to not use mi-deploy at all, but just use mantl/terraform/ansible directly. It's not very pretty)

[2015-09-23 07:36] ipolyzos commented on #705
*10.10.10.2:52* is reachable from the container along with all the other hosts, the dns servers are correctly set, though the error log continue to be generated

[2015-09-23 08:07] eirslett commented on #687
I guess the Vagrant stuff should have more documentation in general...?

[2015-09-23 13:56] ipolyzos commented on #705
as a quick & dirty solution have disabled consul ssl (i.e. do_consul_ssl: false) and the installation seems to proceed normally

[2015-09-23 14:36] chrislovecnm commented on #687
@deepagargit I am wondering if the vSphere api will allow us to do that automatically.  Does your vm ovf have these settings already?  This might be a vm ovf setting where you can upgrade then save the ovf for later use.

[2015-09-23 17:22] deepagargit commented on #712
The issue is also seen on MAC with 0.3.2.tar.gz

OS : MAC
MI : wget https://github.com/CiscoCloud/microservices-infrastructure/archive/0.3.2.tar.gz
Vagrant : 1.7.4
VirtualBox : 4.3

[2015-09-23 17:23] deepagargit commented on #712
The latest MI works good with MAC, but fails on CentOS vault installation.

Any inputs what could be broken?

OS : MAC
MI : latest git clone https://github.com/CiscoCloud/microservices-infrastructure.git
Vagrant : 1.7.4
VirtualBox : 4.3

[2015-09-24 03:44] siddharthist commented on #702
These are live! https://bintray.com/asteris/mantl-deploy/mantl-deploy/v0.1.0/view?sort=&order=#files

[2015-09-24 04:17] npateriya commented on #702
Can we Cisco official bintray account?

[2015-09-24 08:06] deepagargit commented on #712
The vault evaluation on spawned VM after above error.

It looks vault is installed good.

What else could be investigated and how this issue could get fixed?

===========================================================================

[@CentOS7 microservices-infrastructure]$ vagrant ssh -c 'systemctl status vault.service'
vault.service - vault
   Loaded: loaded (/usr/lib/systemd/system/vault.serv

[2015-09-24 08:14] deepagargit commented on #712
The MI fails in playbook systemctl restart vault while 'vagrant up'.

But manually restarting vault in VM is success.

==========================================================

[@CentOS7 microservices-infrastructure]$ vagrant ssh

===============================================================

[vagrant@default ~]$ sudo systemctl status vault
vault.service - vault
   Loaded: loaded (/usr/lib/sys

[2015-09-24 12:04] ipolyzos commented on #705
Still resulted in the same issue. Got in the container and i can access 10.10.10.2, ping it etc I can also access all the other machines. It has been set as name server at resolve.conf but can not translate the *consul.service.consul* name in an ip address and therefor can not access it.

[2015-09-24 23:45] #702 closed

[2015-09-25 14:50] heww commented on #705
The problem happened when consul cluster is down, zookeeper image use consul-template for zookeeper config but failed for consul is down, so zookeeper failed. There are some issues about that https://github.com/CiscoCloud/microservices-infrastructure/issues/566   https://github.com/hashicorp/consul/issues/993

[2015-09-25 15:05] ipolyzos commented on #705
what confuses me with this issue is that consul server were online at all time and failure occured

[2015-09-25 16:21] #710 closed

[2015-09-25 21:08] jospaeth commented on #633
For capacity checking, I am currently checking the following additional items on all my worker nodes:
- conntrack table utilization
- filehandle utilization

I am also considering haproxy a part of the "platform/capacity checks" so we could consider:
haproxy maxconns vs current conns

[2015-09-25 21:59] jospaeth commented on #633
A few more metrics for consideration:
- Number of containers spawned per hour could provide high level health metric of the cluster (i.e. VMs aren't dying, constantly being re-spawned, etc)
- IO throughput saturation (if appropriate ... this one may need to have user-configured thresholds)
- Number of TCP connections in various WAIT states (eg. CLOSE_WAIT, TIME_WAIT)

[2015-09-25 22:49] #711 closed

[2015-09-27 01:18] siddharthist opened #717 "Distributive health checks for Mantlui endpoints"
MantlUI (PR #708) is awesome! We should health check it to make sure its working on all leader nodes.

Some preliminary thoughts on what we might check:
 * Ports 80 and 443 are open
 * localhost responds on /chronos, /mesos, /marathon, /consul on ports 80 and 443
 * Existence of files copied in `roles/mantlui/tasks/main.yml`
 * Checksums of mesos webui files (make sure they're Ryan's versions)

An

[2015-09-27 01:42] siddharthist opened #718 "mi-deploy: generate terraform.yml and security.yml when not provided"
Currently, `mi-deploy` copies in `security.yml` and `terraform.yml` upon deploying. We have reasonable defaults and these files are subject to change. It should instead simply move `terraform.sample.yml->terraform.yml` and run `security-setup`. It can have command line options for a username and password, or run interactively (default).

[2015-09-29 08:28] deepagargit commented on #712
Could someone share the MANTL support contacts?

There has been no response for bug reported for MANTL on CentOS.

[2015-09-29 14:20] ryane commented on #712
Can you confirm that you have the following when you run `vagrant box list`?

    CiscoCloud/microservices-infrastructure (virtualbox, 0.5)

If you have any other older versions of the CiscoCloud/microservices-infrastructure box, try removing them.

I haven't seen that vault failure. If you run `vagrant provision` after it fails, does the build complete successfully or does it still fail? Also, if

[2015-10-01 17:53] stevendborrelli opened #723 "Default volume is too small on AWS"
Spun up a cluster on AWS, and the root volumes were only 8GB. Can we make the root volume larger on these nodes?

- [x] configure control node size
- [x] configure worker node size

[2015-10-01 18:29] ryane commented on #723
aws is addressed in #724. will work on making volume sizes configurable on other providers

[2015-10-02 02:21] ryane commented on #723
* digitalocean disk size is not configurable (controlled by instance size)
* not sure how to specify disk size on vsphere or softlayer (ping @eirslett)
* it looks like we could specify a volume size for openstack by using the `block_device` option but not setup to test openstack right now

[2015-10-02 08:06] eirslett commented on #723
I think SoftLayer uses the default disk size on SoftLayer, newer versions of the terraform provider have support for setting the disk size. I'll have a look at it!

[2015-10-06 09:16] eirslett opened #729 "Remove default values for variables"
It can be confusing to have default values scattered around the terraform files. A better way (in my opinion) would be to remove all default settings, and move them to a "openstack.settings.tfvars" file (with "openstack.settings.sample.tfvars") where default values are explicitly defined, but with added `# comment` to the the right of the values, describing what they do and how variables could be

[2015-10-06 21:43] heww commented on #705
@ipolyzos I'm sorry, this problem was happened  for me and consul is online.

[2015-10-06 21:56] ipolyzos commented on #705
@heww attaching in the ZooKeeper container I can see that tries to connect I'm consul.service.consul at http instead of https. Issuing the same request in https works fine. I believe change Nginx conf to redirect all traffic to https might be a good candidate solution.

[2015-10-07 14:47] stevendborrelli opened #730 "Add gluster FS volumes for openstack floating terraform configuration"
Static and floating ip configurations don't match.

[2015-10-07 16:03] loshkovskyi commented on #696
@TeaBough, the PR https://github.com/CiscoCloud/microservices-infrastructure/pull/728 has been merged, let me know if I can close this issue.

[2015-10-07 16:03] loshkovskyi commented on #704
@TeaBough, the PR https://github.com/CiscoCloud/microservices-infrastructure/pull/728 has been merged, let me know if I can close this issue.

[2015-10-07 16:28] TeaBough commented on #704
Yes thx !

[2015-10-07 16:28] #704 closed

[2015-10-07 16:28] #696 closed

[2015-10-09 17:58] jtfogarty opened #731 "Installing behind enterprise proxy"
Installing MI behind a proxy is difficult to say the least.
What would be very helpful is to create a check to test connectivity to all URLs the playbook pulls from for each server in the inventory and then display a result of this check.

[2015-10-09 19:39] jtfogarty opened #732 "Missing Logstash image on docker.io"
I’m seeing an error when a Logstash image is getting pulled
looking at this site
https://index.docker.io/v1/repositories/ciscocloud/logstash/images

Get https://index.docker.io/v1/repositories/ciscocloud/logstash/images: dial tcp 54.210.246.75:443: connection timed out

There are no images when I browse to this location

[2015-10-09 23:34] siddharthist commented on #732
It looks to me like `sudo docker pull ciscocloud/logstash:0.2` works. Have you run into this multiple times?

[2015-10-10 00:02] jtfogarty commented on #732
Yes, several times.  The proxy log shows 404 error

Sent from my iPhone

[2015-10-11 03:59] feliperfmarques opened #733 "Deployment fails - [glusterfs | mount container volume]"
I get this error when I try to deploy Mantl in GCE cluster...

[code]

[2015-10-11 18:48] stevendborrelli commented on #733
I think @BrianHicks saw this during testing too. Brian, were you able to figure out what is happening?

[2015-10-11 18:51] BrianHicks commented on #733
It was transient for me. Can you please upload the log file mentioned in
the error message so we can help you debug?
On Oct 11, 2015 1:48 PM, "Steven Borrelli" <notifications@github.com> wrote:

[2015-10-11 23:09] justinclift commented on #733
Interesting mention of glusterfs there (I'm not yet familiar with the microservices-infrastructure project).  Is glusterfs a standard component in this stack? :smile:

[2015-10-12 00:14] feliperfmarques commented on #733
I have a cluster with 3 clients and 3 workers. Each client have this logs in  /var/log/glusterfs :

- mnt-container-volumes.log

[code]

- glusterfshd.log

[code]

- cli.log

[code]

If necessary I can show logs of others clients....

[2015-10-12 00:25] feliperfmarques commented on #733
I connected via ssh on client and I tried to mount manually glusterfs volume container, but get the same error:

[code]

[2015-10-12 00:27] feliperfmarques commented on #733
I also run this command on client, maybe this can help:

[code]

[2015-10-12 01:35] feliperfmarques commented on #733
Hi @justinclift, I'm also not yet very much familiar with the microservices-infrastructure project, but this month I already studied a little because I intend to adopt it in my project , so think that I can help. If I am wrong, others contributors correct me, please.

Yeah, GlusterFS is a standard component of this Stack, as well as:

Components:

[code]

[2015-10-12 13:21] BrianHicks commented on #733
I notice this in your log lines:

[code]

If you still have the cluster running, could you please paste the output here? It looks like a connectivity issue, as though maybe we're not waiting long enough for the processes to come up.

@justinclift @feliperfmarques Gluster is actually intended to be a supported but separate part of Mantl. We're happy to continue discussion about it in Gitter if you

[2015-10-12 13:41] feliperfmarques commented on #733
@BrianHicks Thanks again. Below is the output of the command:

[code]

[2015-10-14 06:31] andrew-jones commented on #733
I've got the same issue on a new AWS deployment.  git cloned master.

[2015-10-14 13:19] frankscholten opened #736 "Vagrant up fails on 0.3.2 and 0.3.1 tags"
Hi all,

I am trying out the Mantl Vagrant box but I cannot 'vagrant up' the 0.3.1 or 0.3.2 tags

[code]

My Vagrant version is 1.7.4

[code]

[2015-10-14 18:58] justinclift commented on #733
@feliperfmarques Thanks for the info. :smile:

[2015-10-14 19:13] stevendborrelli commented on #736
@frankscholten can you try bringing it up from HEAD on master?

[2015-10-14 19:41] feliperfmarques commented on #733
@justinclift You are welcome. How can I help to debug this error?  I still have this cluster running, I can show the output of any command if necessary :)

[2015-10-14 21:18] ryane opened #737 "etcd does not survive restarts"
etcd does not survive restarts

If etcd is restarted or if a node is rebooted, etcd cannot start:

[code]

With the current configuration, it looks like etcd starts up with a new, empty data-dir so I suspect that is a big part of the problem. We probably need to mount a volume for the data-dir but not sure what else might be needed.

ping @loshkovskyi

[2015-10-15 08:52] justinclift commented on #733
That volume status command is showing the gluster processes for the bricks isn't running. :frowning:

Looking at your mnt-container-volumes.log, these lines stand out for me:

[code]
[code]

I've personally moved on from being focused on Gluster (doing other stuff now), so am not the right person to diagnose this. (sorry)  From what I remember though, it sounds like either your Gluster volumes hav

[2015-10-15 09:16] vbellur commented on #733
Hi @feliperfmarques, It does look like the Gluster brick processes are not running (as seen from the output of "volume status"). can you check the log files corresponding to the bricks and see why they are not running?

[2015-10-15 14:38] ryane opened #739 "mantlui support for mesos 0.24+"
Sandbox links in the Mesos UI are currently broken with mesos 0.24.1.

[2015-10-15 16:34] siddharthist opened #740 "Distributive health checks for docker containers on workers"
@ryane ran into some issues on a built cluster where the following containers weren't running on the host, but Consul showed no errors. We should probably be making sure they're running on our workers!
 * nginx-consul - all nodes
 * logstash - all nodes
 * haproxy - worker nodes

[2015-10-16 16:47] BrianHicks commented on #733
looks like we were missing a dependency for the NFS process. I'm not sure how it worked before. Would y'all try 043b5db and let me know if it works for you? (you may need to remove and re-add the Gluster components from your cluster)

[2015-10-19 09:22] ipolyzos commented on #705
is there any updates with this issue?

[2015-10-19 14:28] stevendborrelli opened #741 "Upgrade Marathon-consul to 0.2"
Support sync on start.

[2015-10-19 14:34] stevendborrelli commented on #472
We're moving to mantl-api and will not be implementing this.

[2015-10-19 14:34] #472 closed

[2015-10-19 14:35] stevendborrelli commented on #442
We're looking at this issue and thinking of ways to implement it. The tool is currently in prototype stage.

[2015-10-19 14:35] #442 closed

[2015-10-19 14:36] stevendborrelli commented on #58
Atlas support is currently not on the roadmap. We're still looking into it.

[2015-10-19 14:36] #58 closed

[2015-10-19 14:37] stevendborrelli commented on #85
This is a large enough change we are going to push to 0.5

[2015-10-19 14:40] stevendborrelli commented on #516
I believe we have addressed this via #653.

[2015-10-19 14:40] #516 closed

[2015-10-19 14:43] stevendborrelli commented on #62
Atlas support is currently not on our roadmap.

[2015-10-19 14:43] #62 closed

[2015-10-19 14:43] stevendborrelli commented on #60
Atlas support is currently not on our roadmap.

[2015-10-19 14:43] stevendborrelli commented on #60
Atlas support is currently not on our roadmap.

[2015-10-19 14:43] #60 closed

[2015-10-19 14:44] stevendborrelli commented on #667
Pushing to 0.5

[2015-10-19 14:48] stevendborrelli commented on #49
@pikeas running consul in a docker container made a lot of other things more complicated.

Networking made contacting 127.0.0.1 more complicated. It was hard to configure things like SSL or more dynamic checks without doing host mounts.

As our docker command line got longer and longer to connect the consul daemon into the host, we decided that systemd + static binary made our lives easier.

[2015-10-19 14:49] stevendborrelli commented on #49
Moving this to a future feature.

We'll have a docker cleanup package in 0.5. We'll address Mesos packaging in 0.6.

[2015-10-19 14:50] stevendborrelli commented on #633
Moving to 0.6

[2015-10-19 14:51] stevendborrelli commented on #59
Atlas support is currently not on our roadmap.

[2015-10-19 14:51] #59 closed

[2015-10-19 15:02] stevendborrelli commented on #666
We'll start phasing this in as we deploy our new Mesos packages across the install.

[2015-10-19 15:07] stevendborrelli commented on #737
Due to this issue, with #738 we've commented out this feature.

[2015-10-19 20:08] stevendborrelli opened #743 "Disable proxy for consul-wait-for-leader.sh"
For customers who have a proxy set in their environment variable, the `consul-wait-for-leader.sh` script will time out after attempting to connect to the proxy host.

Add `--noproxy localhost` to the curl command line

[2015-10-21 08:55] loshkovskyi commented on #737
I confirm the issue is related to the cluster state `--initial-cluster-state new`. It should be changed to `--initial-cluster-state existing` when an `etcd` node is restarted in order to join the cluster correctly.

A possible solution can be as following:
1. Bootstrap `etcd` cluster with `--initial-cluster-state new` for each node.
2. Update [systemd unit file](https://github.com/CiscoCloud/micro

[2015-10-21 09:28] ipolyzos commented on #705
issue resolved, fixed when pass the docker host as a DNS server to the container (i.e.add --dns={{ private_ipv4 }}) in zookeeper systemd unit

[2015-10-21 09:28] #705 closed

[2015-10-21 13:32] stevendborrelli commented on #705
@ipolyzos could you check your /etc/sysconfig/docker file? You should have these dns options set for the docker daemon, so all containers use consul for resolution.

[2015-10-21 15:42] AndriiOmelianenko opened #746 "Glusterfs link not reachable"
Hi,

I'm trying to install cluster on OpenStack and stuck here:

[code]
[code]

I've take link from here: https://github.com/CiscoCloud/microservices-infrastructure/blob/master/roles/glusterfs/tasks/main.yml#L5
but seems it's not accessible.
[code]
Is link / version correct?

[2015-10-21 15:47] AndriiOmelianenko commented on #746
it's http/https issue:
works: **http**://download.gluster.org/pub/gluster/glusterfs/3.7/3.7.3/CentOS/glusterfs-epel.repo
doesn't work: **https**://download.gluster.org/pub/gluster/glusterfs/3.7/3.7.3/CentOS/glusterfs-epel.repo

[2015-10-21 16:08] stevendborrelli commented on #746
@AndriiOmelianenko can you submit a pull request?

[2015-10-21 16:20] AndriiOmelianenko commented on #746
@stevendborrelli yes, definitely:
https://github.com/CiscoCloud/microservices-infrastructure/pull/747

[2015-10-22 14:42] stevendborrelli opened #750 "Docker packages overwrite /etc/sysconfig/docker"
If we are using the official docker rpms, any upgrade will overwrite `/etc/sysconfig/docker` and remove our custom DNS settings. This causes anything that uses consul for DNS resolution to fail

Options:

- create a `/etc/sysconfig/docker-local`
- write to `/etc/systemd/system/docker.service.d/local.conf` directly with the dns settings

[2015-10-22 14:44] BrianHicks commented on #750
Personally, I prefer `/etc/sysconfig/docker-local` because it's most expected on CentOS, but either of these seems fine.

[2015-10-22 14:44] stevendborrelli commented on #750
I am also leaning towards an Environment file.

[2015-10-22 15:01] stevendborrelli commented on #743
A better solution is to set the `no_proxy=localhost` environment variable where the other `*_proxy` vars are set. This way we don't have to modify individual commands.

[2015-10-22 15:02] #743 closed

[2015-10-22 15:10] stevendborrelli commented on #699
Closing this issue.

[2015-10-22 15:10] #699 closed

[2015-10-22 15:11] stevendborrelli commented on #732
@jtfogarty was this related to your proxy issues? Can we close this one out?

[2015-10-22 15:23] stevendborrelli opened #751 "Support physical block devices for device-mapper"
See:  http://www.projectatomic.io/docs/docker-storage-recommendation/

[2015-10-22 18:40] PeterLamar commented on #643
As a user, I can deploy Kubernetes from an ansible role in Mantl so that Kubernetes is a deployment option

Acceptance Criteria

Kubernetes is successfully deployed

[2015-10-22 18:41] PeterLamar opened #752 "Kubernetes deployment testing"

[2015-10-22 18:44] PeterLamar commented on #752
As a developer, I can run the tests that validate the deployment of Kubernetes is valid

Acceptance Criteria:

Every Ansible task should be tested

Additional Info:
https://github.com/CiscoCloud/distributive

[2015-10-22 18:49] PeterLamar opened #753 "Automated Testing for Kubernetes Deployment"
As a developer, I see that the automation that deploys K8s is tested on a regular schedule so that build status is quickly and easily evaluated

Acceptance Criteria:
A button is available on the page to observe if the build is passing
K8s clusters are regularly spun up and tested to conform to configuration
A sample k8s application "Hello world" is spun up on a pod and tested

Additional Info:
Jen

[2015-10-22 18:52] #315 closed

[2015-10-22 19:06] stevendborrelli commented on #692
@TeaBough we've added a new UI in master that wraps all of the endpoints.

For example https://control/mesos, https://control/marathon. Would you like to test?

[2015-10-22 19:13] PeterLamar opened #754 "Automatic Mesos Cluster Testing"
As a developer, I can deploy a mesos cluster and verify that the components are running and available on a scheduled basis

Acceptance Criteria:
A button is available on the page to observe if the build is passing
Components Zookeeper is up
Mesos is up
Marathon is up
Consul is up
A 'hello world' application can be triggered on Marathon

Additional Info:
Jenkins or another similar tool can be utili

[2015-10-23 08:33] TeaBough commented on #692
@stevendborrelli  yeah I've seen that thx, I've been using it since it's out, even if it's broken when using mesos 0.24.1, but with 0.23.0 it's working great !

[2015-10-23 08:41] eirslett commented on #754
We do this on our CI - we deploy the cluster (mi-deploy), then run curl against the consul API in a loop, until it tells us all the nodes are healthy. (Meaning that distributive has run all the health checks and they succeeded)

[2015-10-23 09:12] frankscholten commented on #754
Checkout minimesos.org

[2015-10-23 09:24] frankscholten commented on #736
master also fails

[code]

[code]

[2015-10-23 14:45] Zogg opened #755 "mesos | create zookeeper acl - fails 50% of times with i/o timeout"
[code]

Launching the `mesos | create zookeeper acl` command by hand produces positive result only in 50% of cases:

[code]

Running on OpenStack, CO2-Medium image flavors.

[2015-10-23 15:17] AndriiOmelianenko opened #756 "MantlUI - Mesos - 404"
Hi, I've installed Mantl in OpenStack.

I opened http://master/ in my browser and got mantl-ui opened with 4 links: mesos, marathon, chronos, consul.
All of them are working **except** Mesos - it getting `404 Not Found`

Mesos on 5050 master's port opens good, so it seems like nginx issue.

[2015-10-23 15:20] TeaBough commented on #756
Which version of mesos are you running ?

[2015-10-23 15:20] ryane commented on #756
Are the mesos services healthy in Consul?

[2015-10-23 15:25] AndriiOmelianenko commented on #756
Mesos 0.24.1
It seems MantlUI supports only 0.23 for now, correct?

[2015-10-23 15:27] TeaBough commented on #756
Yep I have the same problem with 0.24.1. But it's working with 0.23. I think that there is an issue somewhere reporting this problem,

[2015-10-23 15:29] AndriiOmelianenko commented on #756
Yes, found it: https://github.com/CiscoCloud/microservices-infrastructure/issues/739
I'll close the issue and will follow top one then.

Thanks!

[2015-10-23 15:29] #756 closed

[2015-10-23 15:42] ryane commented on #756
If you want to test it, #745 might work better with Mesos 0.24.1

[2015-10-23 15:44] ryane commented on #692
@TeaBough if you feel like testing it, the changes in #745 might help with mesos 0.24.1

[2015-10-23 15:49] TeaBough commented on #692
@ryane yep

[2015-10-23 22:50] jtfogarty commented on #732
Yes, it can be closed!

Sent from my iPhone

[2015-10-24 13:15] #732 closed

[2015-10-24 13:53] stevendborrelli commented on #755
`zookeeper.service.consul` points to each of the healthy zookeeper instances. Could you run `dig +short zookeeper.service.consul` and then try to connect to each one to see if one is failing?

It feels like one of the nodes is registered in DNS, but it not healthy. A zookeeper node failing a connection health check should be pulled out of the dns pool.

[2015-10-25 18:45] fernandezvara opened #757 "Inventory plugin sets the same ip for public and private for DO"
Terraform inventory plugin sets the public IP to both private_ipv4 and public_ipv4 using DigitalOcean.

[2015-10-26 12:12] stevendborrelli opened #759 "Generalized storage for Mesos, Docker, Gluster etc."
Currently we store the Mesos sandbox and docker storage on the root volume. I'd like to move these to LVM-based storage on external volumes so that we can have more operational flexibility to deal with storage issues without having to rebuild nodes.

- Mesos sandbox. We should isolate this from the root filesystem and make the LV configurable.
- Docker Storage. We need to move to LVs until Overlay

[2015-10-26 13:44] jtfogarty opened #760 "Mesos web UI is not displaying correctly"
After installing Mantl to a cluster behind a proxy, the Mesos administration site at port 5050 appears as below;

![screen shot 2015-10-26 at 8 43 19 am](https://cloud.githubusercontent.com/assets/6708730/10730389/ad264846-7bbd-11e5-989b-4dd5baf1aad7.png)

[2015-10-26 14:05] TeaBough opened #761 "Vagrant up stuck at "Configuring and enabling network interface""
I've built a box using packer. And then I wanted to use it in my Vagrantfile like this :

[code]

This was working fine when I used the microservice image but now it get stuck at :
[code]
And if `vagrant up` with `--debug` I get :

[code]

If I remove the line this line from the Vagrantfile it works :

[code]

Has anybody experienced this problem ?

Here is my `vagrant.json` :
[code]